Repository idris-lang/Idris2, pull requests merged in 2020-08, with the labels that each got.

#516 Make showParens public
  libs/prelude/Prelude/Show.idr
Labels: library: prelude

#520 [ refactor ] introduce List1 to remove impossible case
  .gitignore
  libs/base/Data/List.idr
  libs/base/Data/List1.idr
  libs/base/Data/Strings.idr
  libs/base/base.ipkg
  libs/contrib/Data/List/TailRec.idr
  libs/network/Network/Socket/Data.idr
  libs/prelude/Prelude/Types.idr
  src/Compiler/ES/ES.idr
  src/Compiler/Scheme/Chez.idr
  src/Core/Core.idr
  src/Idris/Driver.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/Package.idr
  src/Idris/Parser.idr
  src/Idris/Resugar.idr
  src/Parser/Lexer/Package.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Rule/Package.idr
  src/Parser/Rule/Source.idr
  src/TTImp/Parser.idr
  src/TTImp/TTImp.idr
  src/Utils/Binary.idr
  tests/Main.idr
  tests/chez/chez020/Popen.idr
  tests/idris2/reflection003/expected
Labels: library: base, refactoring

#534 update ffi docs with Bits*
  docs/source/ffi/ffi.rst
Labels: documentation

#488 Inconsistent std IO
  libs/prelude/Prelude/IO.idr
Labels: documentation, library: prelude

#351 Restore Bool operators precedence
  libs/prelude/Prelude/Ops.idr
  src/Core/Normalise.idr
  tests/Main.idr
  tests/prelude/reg001/expected
  tests/prelude/reg001/fixity.idr
  tests/prelude/reg001/run
Labels: Confirmed bug, library: prelude

#543 Port Decidable.Order from Idris1
  libs/base/Data/Fin/Order.idr
  libs/base/Data/Fun.idr
  libs/base/Data/Nat/Order.idr
  libs/base/Data/Rel.idr
  libs/base/Decidable/Decidable.idr
  libs/base/Decidable/Order.idr
  libs/base/base.ipkg
Labels: library: base

#541 Add support for ~~~ code blocks in markdown
  src/Parser/Unlit.idr
Labels: language: literate, syntax

#581 Make IDEMode respond after executing a `consolewidth` instruction
  src/Idris/IDEMode/REPL.idr
Labels: Confirmed bug, cli: ide-mode

#525 add prim__getNullAnyPtr and prim__castPtr
  libs/prelude/PrimIO.idr
  support/c/idris_support.c
  support/c/idris_support.h
Labels: library: prelude

#578 add `extraRuntime` option for Scheme backends
  CONTRIBUTORS
  docs/source/backends/chez.rst
  docs/source/backends/gambit.rst
  docs/source/backends/racket.rst
  src/Compiler/Common.idr
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/Gambit.idr
  src/Compiler/Scheme/Racket.idr
  tests/Main.idr
  tests/chez/chez030/ExtraRuntime.idr
  tests/chez/chez030/expected
  tests/chez/chez030/extensions.scm
  tests/chez/chez030/run
Labels: backends

#593 [ test ] cleanup basic044
  tests/idris2/basic044/expected
  tests/idris2/basic044/run
Labels: admin: continuous-integration

#281 Make fastAppend a foreign call
  libs/base/Data/Strings.idr
  src/Compiler/ES/ES.idr
  support/chez/support.ss
  support/gambit/support.scm
  support/racket/support.rkt
Labels: refactoring

#590 add EitherT transformer
  libs/base/Control/Monad/Either.idr
  libs/base/base.ipkg
  libs/prelude/Prelude/Types.idr
Labels: library: base

#563 implement HVect
  CHANGELOG.md
  libs/contrib/Data/HVect.idr
  libs/contrib/contrib.ipkg
Labels: library: contrib

#602 additional refactor of Data.String.Parser
  libs/contrib/Data/String/Parser.idr
Labels: library: contrib

#603 Add `dup`
  libs/prelude/Prelude/Basics.idr
Labels: library: prelude

#604 [ log ] stuck functions found during evaluation
  src/Compiler/CompileExpr.idr
  src/Core/Core.idr
  src/Core/Coverage.idr
  src/Core/Normalise.idr
  src/Core/Reflect.idr
  src/Core/Termination.idr
  src/Idris/REPL.idr
  src/TTImp/Elab/Ambiguity.idr
  src/TTImp/Elab/Delayed.idr
  src/TTImp/Elab/ImplicitBind.idr
  src/TTImp/Elab/Record.idr
  src/TTImp/Elab/Utils.idr
  src/TTImp/ProcessDef.idr
  src/TTImp/ProcessType.idr
  src/TTImp/TTImp.idr
  tests/Main.idr
  tests/idris2/basic045/Lib.idr
  tests/idris2/basic045/Main.idr
  tests/idris2/basic045/expected
  tests/idris2/basic045/input
  tests/idris2/basic045/run
Labels: admin: debug, enhancement

#608 [ new ] allow `auto` fields in records
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/record007/Fld.idr
  tests/idris2/record007/expected
  tests/idris2/record007/input
  tests/idris2/record007/run
Labels: language: auto-implicit, language: record

#610 Add `Data.Stream.Extra.startWith`
  libs/contrib/Data/Stream/Extra.idr
Labels: library: contrib

#612 Add missing `Data.Stream.Extra` module to contrib.ipkg
  libs/contrib/contrib.ipkg
Labels: library: contrib

#619 add binary literals
  src/Parser/Lexer/Source.idr
  src/Text/Lexer.idr
  tests/idris2/reg020/expected
  tests/idris2/reg020/matchlits.idr
Labels: language: literals, syntax

#618 Preserve foreign declaration types in `Compiler.ES.ImperativeAst`
  src/Compiler/ES/ES.idr
  src/Compiler/ES/Imperative.idr
  src/Compiler/ES/ImperativeAst.idr
Labels: backends, enhancement

#614 Port Idris 1's Data.Vect.Quantifiers
  libs/base/Data/Vect/Quantifiers.idr
  libs/base/base.ipkg
Labels: library: base

#594 Update typedd.rst
  docs/source/typedd/typedd.rst
Labels: doc: typedd
