Repository idris-lang/Idris2, pull requests merged in 2020-09, with the labels that each got.

#630 add semigroup/monoid instances for Unit/()
  libs/prelude/Prelude/Interfaces.idr
  src/Idris/Package.idr
Labels: library: prelude

#631 [ refactor ] Introducing Namespace and ModuleIdent
  idris2api.ipkg
  libs/base/Data/List1.idr
  libs/base/Data/Vect.idr
  libs/base/Decidable/Equality.idr
  libs/base/Language/Reflection/TT.idr
  src/Compiler/ANF.idr
  src/Compiler/Common.idr
  src/Compiler/CompileExpr.idr
  src/Compiler/ES/ES.idr
  src/Compiler/Inline.idr
  src/Compiler/Scheme/Common.idr
  src/Core/AutoSearch.idr
  src/Core/Binary.idr
  src/Core/Context.idr
  src/Core/Core.idr
  src/Core/Directory.idr
  src/Core/Hash.idr
  src/Core/Name.idr
  src/Core/Name/Namespace.idr
  src/Core/Reflect.idr
  src/Core/TTC.idr
  src/Core/Termination.idr
  src/Data/ANameMap.idr
  src/Idris/Desugar.idr
  src/Idris/DocString.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/ModTree.idr
  src/Idris/Package.idr
  src/Idris/Parser.idr
  src/Idris/ProcessIdr.idr
  src/Idris/REPL.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/Parser/Lexer/Package.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Rule/Package.idr
  src/Parser/Rule/Source.idr
  src/TTImp/Elab/Local.idr
  src/TTImp/Elab/RunElab.idr
  src/TTImp/Interactive/ExprSearch.idr
  src/TTImp/Parser.idr
  src/TTImp/PartialEval.idr
  src/TTImp/ProcessDecls.idr
  src/TTImp/ProcessDef.idr
  src/TTImp/ProcessParams.idr
  src/TTImp/ProcessRecord.idr
  src/TTImp/ProcessRunElab.idr
  src/TTImp/TTImp.idr
  src/TTImp/Utils.idr
  src/TTImp/WithClause.idr
  src/Utils/Binary.idr
  src/Yaffle/Main.idr
  tests/idris2/reflection001/expected
  tests/idris2/reflection004/refdecl.idr
  tests/idris2/reflection009/perf.idr
Labels: language: namespace, refactoring

#641 Fix DPair parsing
  src/Idris/Parser.idr
  tests/idris2/perf005/Lambda.idr
  tests/idris2/perf005/NoRegression.idr
  tests/idris2/perf005/expected
Labels: implem: parsing, language: pairs

#667 [contrib] Add misc libraries to contrib
  libs/base/Data/Rel.idr
  libs/base/Decidable/Decidable.idr
  libs/contrib/Data/Fun/Extra.idr
  libs/contrib/Data/Void.idr
  libs/contrib/Decidable/Decidable/Extra.idr
  libs/contrib/Decidable/Order/Strict.idr
  libs/contrib/contrib.ipkg
Labels: library: base, library: contrib

#671 State param order
  docs/source/typedd/typedd.rst
  libs/base/Control/Monad/State.idr
  src/Idris/Elab/Implementation.idr
  tests/typedd-book/chapter12/TreeLabelState.idr
Labels: library: base, refactoring

#680 Adding a whole bunch of tuple sections
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/basic046/TupleSections.idr
  tests/idris2/basic046/expected
  tests/idris2/basic046/input
  tests/idris2/basic046/run
Labels: language: pairs, syntax

#682 [ new ] comma-separated interface parameters
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/interface017/Tricho.idr
  tests/idris2/interface017/expected
  tests/idris2/interface017/run
Labels: language: interface, syntax

#688 add Semigroup for Ordering and a -> b
  libs/prelude/Prelude/EqOrd.idr
  libs/prelude/Prelude/Interfaces.idr
Labels: library: prelude

#689 [minor] Make `base/Data.Nat.divNatNZ` compile-time reducible
  libs/base/Data/Nat.idr
Labels: library: base, scope: public

#690 [ breaking ] remove List1 related ambiguities
  libs/base/Data/Either.idr
  libs/base/Data/List.idr
  libs/base/Data/List1.idr
  libs/base/Data/Strings.idr
  libs/base/Decidable/Equality.idr
  libs/contrib/Data/List/TailRec.idr
  libs/network/Network/Socket/Data.idr
  src/Compiler/Scheme/Chez.idr
  src/Core/Core.idr
  src/Core/Hash.idr
  src/Core/Name/Namespace.idr
  src/Core/Options/Log.idr
  src/Core/Reflect.idr
  src/Idris/Parser.idr
  src/Parser/Lexer/Source.idr
  src/Utils/Binary.idr
  tests/Main.idr
  tests/chez/chez020/Popen.idr
Labels: breaking, library: base

#693 Updating info about backends in FAQ
  docs/source/faq/faq.rst
Labels: backends, documentation

#646 Fix how reify treats ForeignFn
  libs/base/Language/Reflection/TTImp.idr
Labels: implem: reification

#691 [ fix #63 ] interleaving let binders and local declarations
  idris2api.ipkg
  libs/base/Data/List.idr
  libs/contrib/Data/String/Parser/Expression.idr
  src/Core/FC.idr
  src/Idris/Parser.idr
  src/Idris/Parser/Let.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Rule/Source.idr
  src/TTImp/Parser.idr
  src/TTImp/Utils.idr
  src/Text/Bounded.idr
  src/Text/Parser/Core.idr
  src/Utils/String.idr
  tests/Main.idr
  tests/idris2/basic047/InterleavingLets.idr
  tests/idris2/basic047/expected
  tests/idris2/basic047/input
  tests/idris2/basic047/run
  tests/idris2/coverage006/foobar.idr
  tests/idris2/perror003/PError2.idr
  tests/idris2/perror003/expected
  tests/idris2/perror003/run
  tests/idris2/reflection001/expected
Labels: implem: parsing, language: let

#701 Add Bifunctor interface
  idris2api.ipkg
  libs/base/Data/Either.idr
  libs/base/Data/These.idr
  libs/base/base.ipkg
  libs/prelude/Prelude/Interfaces.idr
  libs/prelude/Prelude/Types.idr
  src/Idris/Error.idr
  tests/idris2/interface006/Apply.idr
  tests/idris2/interface006/Biapplicative.idr
  tests/idris2/interface006/Bifunctor.idr
  tests/idris2/interface006/Bimonad.idr
  tests/idris2/interface006/expected
Labels: library: base, library: prelude
