Repository idris-lang/Idris2, pull requests merged in 2020-11, with the labels that each got.

#786 Improving error messages
  src/Core/FC.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
  src/Parser/Rule/Common.idr
  src/Text/Bounded.idr
  src/Text/Literate.idr
  src/Text/Parser/Core.idr
  tests/Main.idr
  tests/chez/chez031/expected
  tests/ideMode/ideMode001/expected
  tests/ideMode/ideMode003/expected
  tests/idris2/basic044/expected
  tests/idris2/coverage010/expected
  tests/idris2/error004/expected
  tests/idris2/error013/expected
  tests/idris2/interface016/expected
  tests/idris2/linear007/expected
  tests/idris2/literate016/IEdit.org
  tests/idris2/literate016/IEdit2.org
  tests/idris2/literate016/expected
  tests/idris2/literate016/input
  tests/idris2/literate016/run
  tests/idris2/namespace001/expected
  tests/idris2/reflection001/expected
  tests/idris2/reg013/expected
  tests/idris2/total007/expected
  tests/idris2/total008/expected
Labels: error: bad message

#782 prim void to js codegen
  src/Compiler/ES/ES.idr
  src/Compiler/RefC/RefC.idr
  src/Compiler/Scheme/Common.idr
Labels: backend: javascript, status: confirmed bug

#781 [ contrib ] adding Data.Container
  libs/base/Decidable/Equality.idr
  libs/contrib/Data/Container.idr
  libs/contrib/contrib.ipkg
  libs/prelude/Builtin.idr
  libs/prelude/Prelude/Types.idr
  tests/ideMode/ideMode001/expected
  tests/ideMode/ideMode003/expected
Labels: library: contrib

#585 Test templates
  tests/Main.idr
  tests/README.md
  tests/templates/simple-test/Test.idr
  tests/templates/simple-test/expected
  tests/templates/simple-test/input
  tests/templates/simple-test/notes.md
  tests/templates/simple-test/run
  tests/templates/ttimp/Interp.yaff
  tests/templates/ttimp/expected
  tests/templates/ttimp/input
  tests/templates/ttimp/notes.md
  tests/templates/ttimp/run
  tests/templates/with-ipkg/Dummy.idr
  tests/templates/with-ipkg/dummy.ipkg
  tests/templates/with-ipkg/expected
  tests/templates/with-ipkg/notes.md
  tests/templates/with-ipkg/run
Labels: admin: continuous-integration

#755 Add `replaceWhen` for lists.
  libs/base/Data/List.idr
Labels: library: base
