Repository idris-lang/Idris2, pull requests merged in 2020-12, with the labels that each got.

#731 adds mutual recursion optimisation to the javascript backend
  src/Compiler/ES/Imperative.idr
  src/Compiler/ES/ImperativeAst.idr
  src/Compiler/ES/TailRec.idr
  tests/node/tailrec001/expected
  tests/node/tailrec001/tailrec.idr
Labels: Performance, backend: javascript

#812 Proof of bounds was made to be not present at runtime
  libs/base/Data/List.idr
Labels: library: base

#607 New syntax for named applications and "record" updates
  CHANGELOG.md
  libs/base/Language/Reflection/TTImp.idr
  src/Core/Binary.idr
  src/Core/Core.idr
  src/Core/Normalise.idr
  src/Idris/Desugar.idr
  src/Idris/Elab/Implementation.idr
  src/Idris/Elab/Interface.idr
  src/Idris/Error.idr
  src/Idris/Parser.idr
  src/Idris/Pretty.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/TTImp/BindImplicits.idr
  src/TTImp/Elab/Ambiguity.idr
  src/TTImp/Elab/App.idr
  src/TTImp/Elab/Case.idr
  src/TTImp/Elab/Quote.idr
  src/TTImp/Elab/Record.idr
  src/TTImp/Elab/Term.idr
  src/TTImp/Impossible.idr
  src/TTImp/Interactive/CaseSplit.idr
  src/TTImp/Interactive/GenerateDef.idr
  src/TTImp/Parser.idr
  src/TTImp/PartialEval.idr
  src/TTImp/ProcessData.idr
  src/TTImp/ProcessRecord.idr
  src/TTImp/Reflect.idr
  src/TTImp/TTImp.idr
  src/TTImp/Unelab.idr
  src/TTImp/Utils.idr
  src/TTImp/WithClause.idr
  tests/Main.idr
  tests/idris2/basic049/Fld.idr
  tests/idris2/basic049/expected
  tests/idris2/basic049/input
  tests/idris2/basic049/run
  tests/idris2/record006/Fld.idr
  tests/idris2/record006/expected
  tests/idris2/record006/input
  tests/idris2/record006/run
  tests/ttimp/basic006/expected
  tests/ttimp/coverage001/expected
  tests/ttimp/eta001/expected
  tests/ttimp/eta002/expected
  tests/ttimp/lazy001/expected
  tests/ttimp/nest002/expected
  tests/ttimp/record001/expected
  tests/ttimp/record002/expected
Labels: enhancement, language: record

#822 export a function to parse ipkg files
  src/Idris/Package.idr
Labels: language: packaging

#824 [ debug ] Give the option to log off
  src/Core/Context.idr
  src/Idris/Desugar.idr
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  src/Idris/Syntax.idr
  src/TTImp/Parser.idr
  src/TTImp/ProcessDecls.idr
  src/TTImp/TTImp.idr
  tests/idris2/positivity002/Issue660.idr
Labels: enhancement, interactive: debug

#819 Have lambda-case available everywhere lambda is
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/basic050/Ilc.idr
  tests/idris2/basic050/expected
  tests/idris2/basic050/input
  tests/idris2/basic050/run
Labels: implem: parsing, language: lambda-case, status: discussion

#659 Auto-implicit `__con` now added before implicits.
  src/Idris/Elab/Interface.idr
  tests/Main.idr
  tests/idris2/reg035/Implicit.idr
  tests/idris2/reg035/expected
  tests/idris2/reg035/run
Labels: enhancement, implem: interface elaboration

#820 [ doc ] new application syntax
  CONTRIBUTORS
  docs/source/updates/updates.rst
Labels: documentation, language: named application

#832 [ new ] null method in Foldable
  libs/base/Control/Monad/Either.idr
  libs/base/Data/List1.idr
  libs/base/Data/Vect.idr
  libs/contrib/Data/SortedMap.idr
  libs/contrib/Data/SortedSet.idr
  libs/prelude/Prelude/Interfaces.idr
  libs/prelude/Prelude/Types.idr
  tests/typedd-book/chapter07/Tree.idr
Labels: enhancement, library: base

#844 Added assert_linear.
  libs/prelude/Builtin.idr
  tests/ideMode/ideMode001/expected
  tests/ideMode/ideMode003/expected
Labels: enhancement, library: prelude

#854 Some functions, mostly for lazy lists
  libs/base/Data/List.idr
  libs/base/Data/List/Quantifiers.idr
  libs/contrib/Data/List/Lazy.idr
Labels: enhancement, library: base

#869 Add Traversable to List1
  libs/base/Data/List1.idr
Labels: enhancement, library: base

#857 Some utilities for Fin, relations and decidability
  libs/base/Decidable/Decidable.idr
  libs/contrib/Data/Fin/Extra.idr
  libs/contrib/Data/Fun/Extra.idr
  libs/contrib/Data/Rel/Complement.idr
  libs/contrib/Decidable/Decidable/Extra.idr
  libs/contrib/Decidable/Finite/Fin.idr
Labels: enhancement, library: contrib

#887 Add it to REPL
  src/Idris/REPL.idr
  tests/Main.idr
  tests/idris2/interpreter006/expected
  tests/idris2/interpreter006/input
  tests/idris2/interpreter006/run
Labels: cli: repl, enhancement
