Repository idris-lang/Idris2, pull requests merged in 2020-10, with the labels that each got.

#715 Add (>>) operator
  libs/prelude/Prelude/Interfaces.idr
  libs/prelude/Prelude/Ops.idr
Labels: library: prelude

#722 [contrib] Add a `Reflects` datatype
  libs/contrib/Data/Bool/Decidable.idr
  libs/contrib/contrib.ipkg
Labels: library: contrib, scope: public

#695 Division theorem
  libs/base/Data/Nat.idr
  libs/contrib/Data/Bool/Decidable.idr
  libs/contrib/Data/Nat/Division.idr
  libs/contrib/Data/Nat/Equational.idr
  libs/contrib/Data/Nat/Order/Properties.idr
  libs/contrib/Data/Nat/Order/Strict.idr
  libs/contrib/Data/Nat/Properties.idr
  libs/contrib/Syntax/PreorderReasoning/Generic.idr
  libs/contrib/contrib.ipkg
Labels: library: base, library: contrib, scope: public

#716 Retrieve network address family preprocessor constants from C runtime code
  libs/network/Network/Socket/Data.idr
  support/c/idris_net.c
  support/c/idris_net.h
Labels: library: network

#719 Make Idris2 test harness available for the many and not the few.
  libs/base/System/File.idr
  libs/contrib/Test/Golden.idr
  libs/contrib/contrib.ipkg
  tests/Lib.idr
  tests/Main.idr
Labels: library: contrib

#739 Experimental C backend with reference counting
  CHANGELOG.md
  Makefile
  Release/mkdist.sh
  docs/source/backends/index.rst
  docs/source/backends/refc.rst
  idris2api.ipkg
  src/Compiler/RefC/RefC.idr
  src/Core/Options.idr
  src/Core/TTC.idr
  src/Idris/REPL.idr
  support/refc/Makefile
  support/refc/cBackend.h
  support/refc/casts.c
  support/refc/casts.h
  support/refc/conCaseHelper.c
  support/refc/conCaseHelper.h
  support/refc/datatypes.h
  support/refc/mathFunctions.c
  support/refc/mathFunctions.h
  support/refc/memoryManagement.c
  support/refc/memoryManagement.h
  support/refc/prim.c
  support/refc/prim.h
  support/refc/runtime.c
  support/refc/runtime.h
  support/refc/stringOps.c
  support/refc/stringOps.h
  tests/chez/chez031/expected
Labels: backend: c
