Repository idris-lang/Idris2, pull requests merged in 2020-07, with the labels that each got.

#387 Make Applicative implementation of Vect n public export.
  libs/base/Data/Vect.idr
Labels: library: base

#391 Update docs
  docs/source/listing/idris-prompt-helloworld.txt
  docs/source/tutorial/starting.rst
  docs/source/tutorial/typesfuns.rst
Labels: documentation

#380 Add documentation for sourcedir/builddir/outputdir
  docs/source/backends/custom.rst
  docs/source/reference/packages.rst
Labels: documentation

#400 Fixed visibility of some list functions.
  libs/base/Data/List.idr
Labels: library: base

#404 A port of `Subset` and `Exists` from Idris1.
  libs/base/Data/DPair.idr
  libs/base/base.ipkg
Labels: library: base

#392 Injectivity and similar properties were added for lists'a append
  libs/contrib/Data/List/Equalities.idr
Labels: enhancement, library: contrib

#369 Make Prelude.unpack tail-recursive
  libs/prelude/Prelude.idr
Labels: library: prelude

#418 Tiny doc fix about combination of `import public` and `import .. as`
  docs/source/tutorial/modules.rst
Labels: documentation, typo

#390 Describe what is meant by "use" in the context of linear types
  docs/source/tutorial/multiplicities.rst
Labels: documentation

#417 Merge sort implementation for Vect
  libs/contrib/Data/Vect/Sort.idr
  libs/contrib/contrib.ipkg
Labels: enhancement, library: contrib

#433 Amend typo in INSTALL.md
  INSTALL.md
Labels: typo

#439 Add `Ord` implementation for `Either`
  libs/prelude/Prelude.idr
  tests/idris2/reflection003/expected
Labels: library: prelude

#412 Add command line option to typecheck package without codegen
  src/Idris/CommandLine.idr
  src/Idris/Package.idr
Labels: cli: options, enhancement

#451 Add some implementation notes to the docs
  docs/source/implementation/index.rst
  docs/source/implementation/overview.rst
  docs/source/index.rst
Labels: documentation

#453 Recently added implementation docs were slightly fixed and nicened
  docs/source/implementation/index.rst
  docs/source/implementation/overview.rst
Labels: documentation

#449 Include a (non-linear) definition for transpose that uses zipWith
  libs/base/Data/Vect.idr
Labels: discussion: design, language: quantity, library: base

#427 Minor simplifications
  libs/base/Data/List.idr
  libs/base/Data/List/Elem.idr
  libs/base/Data/Vect.idr
  libs/base/Data/Vect/Elem.idr
  libs/base/System.idr
  libs/contrib/Data/List/TailRec.idr
  libs/network/Control/Linear/Network.idr
  libs/prelude/Prelude/Types.idr
  samples/FFI-readline/src/Text/Readline.idr
  src/Core/Binary.idr
  src/Core/CaseBuilder.idr
  src/Core/CompileExpr.idr
  src/Core/Coverage.idr
  src/Core/LinearCheck.idr
  src/Core/Termination.idr
  src/Core/Unify.idr
  src/Idris/Error.idr
  src/TTImp/Elab/Ambiguity.idr
  src/TTImp/Elab/App.idr
  src/TTImp/Elab/Utils.idr
  src/TTImp/Interactive/ExprSearch.idr
  src/TTImp/Utils.idr
  tests/idris2/basic019/expected
  tests/idris2/real002/StoreL.idr
Labels: refactoring

#463 Remove dependency to Vector length in deleteAt
  libs/base/Data/Vect.idr
Labels: enhancement, language: quantity, library: base

#450 [ fix #346 ] Pull List.length into prelude
  libs/base/Data/List.idr
  libs/contrib/Data/List/TailRec.idr
  libs/prelude/Prelude/Types.idr
  tests/idris2/error003/expected
Labels: library: prelude

#411 Allow to override log level with package options
  src/Idris/Package.idr
  tests/idris2/pkg003/expected
Labels: cli: options, enhancement

#385 Make Text.Parser.between lazy
  libs/contrib/Text/Parser.idr
Labels: enhancement, library: contrib

#465 Wrap Javascript case clauses in brackets to prevent conflicting declarations
  src/Compiler/ES/ES.idr
  tests/Main.idr
  tests/node/syntax001/caseBlock.idr
  tests/node/syntax001/expected
  tests/node/syntax001/run
Labels: backend: javascript

#480 Export `(~>)` publicly.
  libs/base/Data/Morphisms.idr
Labels: library: base

#408 Add concatBuffers and splitBuffer to Data.Buffer
  libs/base/Data/Buffer.idr
  tests/chez/chez004/Buffer.idr
  tests/chez/chez004/expected
  tests/chez/chez004/run
Labels: library: base

#473 Making `.ipkg` mentionings in the makefile symmetrical
  Makefile
Labels: admin: packaging

#494 Add various instances from stdlib interfaces (Eq, Ord, DecEq)
  libs/base/Data/Either.idr
  libs/base/Decidable/Equality.idr
  libs/prelude/Prelude/EqOrd.idr
Labels: library: base, library: prelude

#491 Add list lemmas
  libs/base/Data/List.idr
  libs/base/Data/List/Elem.idr
  libs/base/Data/List/Quantifiers.idr
Labels: library: base

#502 Add another recent video talk on Idris 2
  README.md
Labels: documentation

#507 Fix the code generator name for JavaScript CG
  CHANGELOG.md
Labels: typo
