Repository idris-lang/Idris2, pull requests merged in 2021-03, with the labels that each got.

#1128 [ base ] A property of interaction between `zipWith` and `index`
  libs/base/Data/List.idr
  libs/base/Data/List1.idr
  libs/base/Data/Stream.idr
  libs/base/Data/Vect.idr
Labels: library: base

#1093 [ new ] Proof search from 'Applications of Applicative Proof Search'
  libs/base/Control/Monad/Maybe.idr
  libs/base/Data/Colist.idr
  libs/base/Data/Colist1.idr
  libs/base/Data/DPair.idr
  libs/base/Data/Fin.idr
  libs/base/Data/Fuel.idr
  libs/base/Data/List/Quantifiers.idr
  libs/base/Data/List1.idr
  libs/base/Data/Nat.idr
  libs/base/Data/Stream.idr
  libs/contrib/Data/List/Lazy.idr
  libs/contrib/Data/List/Lazy/Quantifiers.idr
  libs/contrib/Search/Generator.idr
  libs/contrib/Search/HDecidable.idr
  libs/contrib/Search/Negation.idr
  libs/contrib/Search/Properties.idr
  libs/contrib/contrib.ipkg
  libs/prelude/Prelude/Interfaces.idr
  libs/prelude/Prelude/Types.idr
  src/Libraries/Data/List/Lazy.idr
  tests/idris2/basic044/expected
Labels: library: base, library: contrib

#1152 [ new ] Lemmas: append preserves List membership.
  libs/contrib/Data/Elem/Extra.idr
Labels: enhancement, library: contrib

#1144 [new] Additional Eq and Show implementations for SortedMap and Set
  libs/contrib/Data/SortedMap.idr
  libs/contrib/Data/SortedSet.idr
Labels: enhancement, library: contrib

#1151 [ fix #1148 ] Support hyphenated package names
  idris2api.ipkg
  libs/base/Data/List1.idr
  src/Idris/SetOptions.idr
  src/Libraries/Data/List1.idr
  tests/idris2/pkg006/depends/bar-baz/bar-baz.ipkg
  tests/idris2/pkg006/depends/foo-bar-1.3.1/foo-bar.ipkg
  tests/idris2/pkg006/depends/quux/quux.ipkg
  tests/idris2/pkg006/test1.ipkg
  tests/idris2/pkg006/test2.ipkg
Labels: language: packaging

#1033 Add Data.Bits to base
  docs/source/typedd/typedd.rst
  libs/base/Data/Bits.idr
  libs/base/Data/Nat.idr
  libs/base/base.ipkg
  libs/contrib/Language/JSON/Data.idr
  libs/contrib/System/Random.idr
  libs/prelude/Prelude/Interfaces.idr
  src/Compiler/ES/ES.idr
  src/Compiler/Scheme/Common.idr
  src/Core/Primitives.idr
  support/chez/support.ss
  support/gambit/support.scm
  support/racket/support.rkt
  tests/Main.idr
  tests/base/data_bits001/BitOps.idr
  tests/base/data_bits001/expected
  tests/base/data_bits001/input
  tests/base/data_bits001/run
  tests/chez/chez032/BitOps.idr
  tests/chez/chez032/expected
  tests/gambit/bitops001/BitOps.idr
  tests/gambit/bitops001/expected
  tests/idris2/basic055/BitOps.idr
  tests/idris2/basic055/expected
  tests/node/node024/BitOps.idr
  tests/node/node024/expected
  tests/typedd-book/chapter11/Arith.idr
  tests/typedd-book/chapter11/ArithCmd.idr
  tests/typedd-book/chapter11/ArithCmdDo.idr
  tests/typedd-book/chapter11/ArithTotal.idr
  tests/typedd-book/chapter12/ArithState.idr
Labels: discussion: design, enhancement, library: base

#1157 [ refactor ] generalise open union machinery
  libs/contrib/Data/List/AtIndex.idr
  libs/contrib/Data/OpenUnion.idr
Labels: breaking, library: contrib

#1158 Fix multiline string literals not properly merged
  src/Idris/Desugar.idr
Labels: language: literals, status: confirmed bug

#1168 [ new ] Interface implementations for Subset
  libs/base/Data/DPair.idr
Labels: enhancement, library: base

#1143 [ auto ] Ignore hidden names in Core.Context.getSearchData
  src/Core/Context.idr
  tests/Main.idr
  tests/idris2/interface025/AutoSearchHide1.idr
  tests/idris2/interface025/AutoSearchHide2.idr
  tests/idris2/interface025/expected
  tests/idris2/interface025/input
  tests/idris2/interface025/run
Labels: language: auto-implicit, scope: hide, status: confirmed bug

#1162 Add a test package to the Idris 2 project
  .gitignore
  CHANGELOG.md
  Makefile
  Release/CHECKLIST
  bootstrap-stage2.sh
  libs/contrib/Test/Golden.idr
  libs/contrib/Test/REDIRECT.md
  libs/contrib/contrib.ipkg
  libs/test/Makefile
  libs/test/README.md
  libs/test/Test/Golden.idr
  libs/test/test.ipkg
  package.nix
  tests/Main.idr
  tests/tests.ipkg
Labels: library: test

#1183 Identify prefix and postfix record projections
  src/TTImp/ProcessRecord.idr
  tests/Main.idr
  tests/ideMode/ideMode001/expected
  tests/ideMode/ideMode003/expected
  tests/idris2/record007/Bond.idr
  tests/idris2/record007/expected
  tests/idris2/record007/input
  tests/idris2/record007/run
Labels: language: record projection, status: confirmed bug

#1189 [ fix ] Change one implementation according to recent lib change
  libs/contrib/Data/Validated.idr
Labels: library: contrib, status: confirmed bug

#1177 [ new ] Support overloaded floating point literals
  src/Core/Binary.idr
  src/Core/Context.idr
  src/Core/Options.idr
  src/Core/TTC.idr
  src/Idris/Desugar.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
  src/TTImp/Elab/Ambiguity.idr
  tests/Main.idr
  tests/idris2/basic056/DoubleLit.idr
  tests/idris2/basic056/expected
  tests/idris2/basic056/input
  tests/idris2/basic056/run
Labels: language: literals

#1155 [ refactor ] Multiline error report
  src/Core/Core.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/Parser.idr
  src/Idris/Parser.idr
  src/Libraries/Text/Bounded.idr
  src/Libraries/Text/Lexer/Core.idr
  src/Libraries/Text/Lexer/Tokenizer.idr
  src/Libraries/Text/Literate.idr
  src/Libraries/Text/Parser.idr
  src/Libraries/Text/Parser/Core.idr
  src/Parser/Lexer/Package.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Rule/Common.idr
  src/Parser/Rule/Package.idr
  src/Parser/Rule/Source.idr
  src/Parser/Support.idr
  tests/idris2/perror007/expected
Labels: enhancement, error: reporting

#1091 Cleanup List1
  libs/base/Data/Colist1.idr
  libs/base/Data/List.idr
  libs/base/Data/List1.idr
  libs/base/Data/String.idr
  libs/contrib/Data/String/Extra.idr
  libs/contrib/System/Console/GetOpt.idr
  libs/contrib/Text/Parser.idr
  libs/contrib/Text/PrettyPrint/Prettyprinter/Doc.idr
  src/Compiler/ES/ES.idr
  src/Core/Coverage.idr
  src/Idris/Desugar.idr
  src/Idris/DocString.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/CaseSplit.idr
  src/Idris/IDEMode/MakeClause.idr
  src/Idris/Package.idr
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  src/Idris/REPLOpts.idr
  src/Libraries/Data/String/Extra.idr
  src/Libraries/Text/Literate.idr
  src/Libraries/Text/Parser.idr
  src/Libraries/Text/PrettyPrint/Prettyprinter/Doc.idr
  src/Parser/Rule/Package.idr
  src/Parser/Rule/Source.idr
  src/TTImp/Parser.idr
  src/TTImp/ProcessDef.idr
Labels: code: cleanup, library: base, library: contrib

#1227 Restore the ability for data types to be operators
  src/Idris/Parser.idr
  src/Parser/Rule/Source.idr
  tests/Main.idr
  tests/idris2/basic058/DataTypeOp.idr
  tests/idris2/basic058/DataTypeProj.idr
  tests/idris2/basic058/expected
  tests/idris2/basic058/run
Labels: enhancement, language: data, language: record

#1232 Add Data.Monoid.Exponentiation to contrib.ipkg
  libs/contrib/contrib.ipkg
Labels: library: contrib, status: confirmed bug

#1209 [ re #1185 ] Add primitive for obtaining number of processors
  libs/base/System/Info.idr
  support/c/idris_support.c
  support/c/idris_support.h
  support/c/windows/win_utils.c
  support/c/windows/win_utils.h
  tests/Main.idr
  tests/base/system_info001/NumProcessors.idr
  tests/base/system_info001/run
Labels: enhancement, language: primitives

#1243 Tune precedence of (===), (~=~) and (<+>)
  libs/prelude/Builtin.idr
  libs/prelude/Prelude/Ops.idr
Labels: code: cleanup, library: prelude

#1245 [ refactor ] more efficient implementation of range
  libs/base/Data/Vect.idr
Labels: Performance, code: refactoring, library: base

#1249 [ refactor ] introduce NonZero
  libs/base/Data/Nat.idr
  libs/contrib/Data/Nat/Division.idr
  libs/contrib/Data/Nat/Properties.idr
Labels: code: refactoring, library: base

#1247 [ docs ] Update Control.App docs
  docs/source/app/interfaces.rst
Labels: documentation, status: confirmed bug
