Repository idris-lang/Idris2, pull requests merged in 2021-05, with the labels that each got.

#1336 Lambdalift optimisation: drop unused variables from outer scopes
  src/Compiler/LambdaLift.idr
  src/Core/Core.idr
  src/Idris/Package.idr
Labels: enhancement, event: IDM 2021, implem: compilation

#903 WIP: Generate documentation from source code (aka `--mkdoc` support)
  Makefile
  idris2api.ipkg
  libs/contrib/Text/PrettyPrint/Prettyprinter/Render/HTML.idr
  libs/contrib/contrib.ipkg
  src/Idris/CommandLine.idr
  src/Idris/Doc/HTML.idr
  src/Idris/DocString.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/Holes.idr
  src/Idris/Package.idr
  src/Idris/Pretty.idr
  src/Idris/REPL.idr
  src/Idris/REPL/Common.idr
  src/Libraries/Text/PrettyPrint/Prettyprinter/Render/HTML.idr
  support/docs/styles.css
Labels: backend: html, documentation, event: IDM 2021

#1362 Make documentation from Makefile
  Makefile
  Release/CHECKLIST
  libs/base/Makefile
  libs/contrib/Makefile
  libs/network/Makefile
  libs/prelude/Makefile
  tests/codegen/con001/expected
  tests/idris2/coverage015/expected
  tests/idris2/lazy002/expected
Labels: documentation

#1371 Erasing more things
  src/Compiler/Common.idr
  src/Compiler/CompileExpr.idr
  src/Compiler/Inline.idr
  src/Compiler/LambdaLift.idr
  src/Core/Binary.idr
  src/TTImp/Elab/Case.idr
  tests/codegen/builtin001/expected
  tests/codegen/con001/expected
Labels: backends, enhancement, language: quantity

#1377 Allow `--directive` command line flag combined with package options
  src/Idris/Package.idr
  tests/idris2/pkg003/expected
Labels: backends, cli: options

#1379 [ fix ] emacs' terminal is "dumb"
  src/Idris/Pretty/Render.idr
Labels: editor: emacs, interactive: doc, status: confirmed bug

#1388 [ refactoring ] Tiny changes following up the idris-lang/Idris2#830
  libs/base/Data/Fin.idr
  libs/contrib/Data/Fin/Extra.idr
Labels: code: refactoring, library: base, library: contrib

#1380 Collect constructors after inlining
  src/Compiler/Inline.idr
  tests/codegen/con001/expected
Labels: implem: dead code elimination, status: confirmed bug

#1374 [ contrib ] Add `liftA2`.
  libs/contrib/Control/Arrow.idr
Labels: enhancement, library: contrib

#1375 [ fix #801 ] Use Number for up to 32 bit integers on JS backends
  CHANGELOG.md
  CONTRIBUTORS
  src/Compiler/ES/ES.idr
  tests/Main.idr
  tests/chez/bitops/BitOps.idr
  tests/chez/bitops/expected
  tests/chez/bitops/input
  tests/chez/bitops/run
  tests/node/bitops/BitOps.idr
  tests/node/bitops/expected
  tests/node/bitops/input
  tests/node/bitops/run
Labels: backend: javascript, enhancement, language: primitives, performance

#1393 Choose foreign string based on priority
  src/Compiler/Common.idr
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/Gambit.idr
  src/Compiler/Scheme/Racket.idr
Labels: enhancement, language: ffi

#1359 [ new ] Add `chez-sep` codegen
  CHANGELOG.md
  Makefile
  idris2api.ipkg
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/ChezSep.idr
  src/Compiler/Separate.idr
  src/Core/Binary.idr
  src/Core/Core.idr
  src/Core/Hash.idr
  src/Core/Options.idr
  src/Core/TTC.idr
  src/Idris/REPL.idr
  src/Libraries/Data/SortedMap.idr
  support/chez/.gitignore
  support/chez/Makefile
  tests/chez/chez031/expected
Labels: backend: chez, event: IDM 2021, performance

#1395 [ breaking ] making toList part of Foldable
  libs/base/Data/List.idr
  libs/base/Data/List1.idr
  libs/contrib/Data/SortedMap.idr
  libs/contrib/Data/SortedSet.idr
  libs/prelude/Prelude/Basics.idr
  libs/prelude/Prelude/Interfaces.idr
  libs/prelude/Prelude/Types.idr
  src/Core/Reflect.idr
  src/Core/TTC.idr
  src/Libraries/Data/SortedMap.idr
  src/Libraries/Data/StringMap.idr
  src/Libraries/Data/StringTrie.idr
  src/TTImp/Elab/Quote.idr
  tests/codegen/con001/expected
  tests/ideMode/ideMode005/expected1
  tests/ideMode/ideMode005/expected2
  tests/ideMode/ideMode005/expected6
  tests/ideMode/ideMode005/expected7
  tests/ideMode/ideMode005/expected9
  tests/ideMode/ideMode005/expectedA
  tests/idris2/basic044/expected
  tests/idris2/reflection003/expected
Labels: breaking, code: refactoring, library: prelude

#1409 [ totality ] Make `Language.Reflection` modules have `%default total`
  libs/base/Language/Reflection.idr
  libs/base/Language/Reflection/TT.idr
  libs/base/Language/Reflection/TTImp.idr
Labels: enhancement, library: base, safety: totality

#1403 [ builtin ] O(1) integerToNat for any 'Nat'-like type
  CHANGELOG.md
  CONTRIBUTORS
  docs/source/reference/builtins.rst
  src/Compiler/CompileExpr.idr
  src/Core/Context.idr
  src/TTImp/ProcessBuiltin.idr
  tests/Main.idr
  tests/idris2/builtin010/Test.idr
  tests/idris2/builtin010/expected
  tests/idris2/builtin010/input
  tests/idris2/builtin010/run
  tests/idris2/builtin011/Test.idr
  tests/idris2/builtin011/expected
  tests/idris2/builtin011/run
Labels: enhancement, language: builtin, performance

#1415 [ doc ] Update the test-lib's readme according to the current state
  libs/test/README.md
Labels: documentation, library: test, status: confirmed bug

#1400 Some compilation/code generation improvements
  libs/base/Data/Buffer.idr
  libs/prelude/Prelude/Basics.idr
  libs/prelude/Prelude/Interfaces.idr
  src/Compiler/ES/Imperative.idr
  src/Compiler/Scheme/Common.idr
  src/Core/CompileExpr.idr
  src/Core/Context/Data.idr
  src/Core/Hash.idr
  src/Core/TTC.idr
  src/TTImp/Elab.idr
  src/TTImp/Elab/Case.idr
  src/TTImp/Elab/Utils.idr
  src/TTImp/ProcessData.idr
  src/TTImp/ProcessDef.idr
  tests/codegen/builtin001/expected
  tests/codegen/con001/expected
  tests/idris2/basic039/expected
  tests/idris2/interactive009/expected
  tests/idris2/literate006/expected
Labels: language: case, language: record, performance

#1423 [ perf ] Move unnecessary `toFullNames` calls under a `logC`
  src/Core/Unify.idr
  src/TTImp/ProcessDef.idr
Labels: implem: unification, performance

#1427 [ elab ] More descriptive "Bad elaborator script" error message
  src/Core/Core.idr
  src/Idris/Error.idr
  src/TTImp/Elab/RunElab.idr
Labels: enhancement, error: bad message, language: reflection

#1425 [ cleanup ] Annotate JS backend sources
  libs/base/Data/List.idr
  src/Compiler/ES/ES.idr
  src/Compiler/ES/Imperative.idr
  src/Compiler/ES/ImperativeAst.idr
  src/Compiler/ES/Javascript.idr
  src/Compiler/ES/Node.idr
  src/Compiler/ES/RemoveUnused.idr
  src/Compiler/ES/TailRec.idr
  src/Libraries/Data/List/Extra.idr
  src/Libraries/Data/SortedSet.idr
Labels: backend: javascript, code: cleanup, documentation

#1434 Some TTC loading improvements
  libs/contrib/System/Path.idr
  src/Compiler/Common.idr
  src/Core/Binary.idr
  src/Core/CaseTree.idr
  src/Core/Context.idr
  src/Core/TT.idr
  src/Core/TTC.idr
  src/Core/Unify.idr
  src/Idris/Main.idr
  src/Libraries/Utils/Path.idr
  tests/idris2/basic044/expected
Labels: implem: ttc, performance

#1438 Substantial reduction in TTC size
  src/Core/Binary.idr
  src/Core/TTC.idr
  src/Libraries/Utils/Binary.idr
Labels: implem: ttc, performance

#1433 Remove unsecure commands
  .github/workflows/ci-lint.yml
  .github/workflows/ci-macos-combined.yml
  .github/workflows/ci-ubuntu-combined.yml
  .github/workflows/ci-windows.yml
Labels: admin: continuous-integration, code: cleanup

#1439 Vect reasoning library
  libs/contrib/Data/Vect/Extra.idr
  libs/contrib/Data/Vect/Properties.idr
  libs/contrib/Data/Vect/Properties/Foldr.idr
  libs/contrib/Data/Vect/Properties/Index.idr
  libs/contrib/Data/Vect/Properties/Map.idr
  libs/contrib/Data/Vect/Properties/Tabulate.idr
  libs/contrib/contrib.ipkg
Labels: enhancement, library: contrib

#1442 [ cleanup ] logging
  src/Core/Context/Log.idr
  src/Core/Normalise.idr
  src/Core/Options/Log.idr
  src/Core/UnifyState.idr
  src/TTImp/TTImp.idr
Labels: code: cleanup, interactive: debug

#1443 [ fix ] Version encoding should be stable
  src/Core/Binary.idr
  src/Libraries/Utils/Binary.idr
  tests/idris2/import001/expected
Labels: implem: ttc, status: confirmed bug

#1418 [ fix #221 ] realpath alternative for macOS
  bootstrap/idris2-boot.sh
  bootstrap/idris2-rktboot.sh
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/Racket.idr
Labels: admin: bootstrap, code: cleanup, os: mac

#1449 [contrib] More properties of vectors
  libs/contrib/Data/Vect/Extra.idr
  libs/contrib/Data/Vect/Properties.idr
  libs/contrib/Data/Vect/Properties/Fin.idr
  libs/contrib/Data/Vect/Properties/Foldr.idr
  libs/contrib/Data/Vect/Properties/Map.idr
  libs/contrib/contrib.ipkg
Labels: library: contrib

#1458 Simple signal handling
  libs/base/System.idr
  libs/base/System/Signal.idr
  libs/base/base.ipkg
  support/c/idris_signal.c
  support/c/idris_signal.h
  support/c/idris_support.c
  support/c/idris_support.h
  support/c/windows/win_utils.c
  support/c/windows/win_utils.h
  tests/Main.idr
  tests/base/system_file001/ReadFilePage.idr
  tests/base/system_info001/NumProcessors.idr
  tests/base/system_signal001/IgnoreSignal.idr
  tests/base/system_signal001/expected
  tests/base/system_signal001/input
  tests/base/system_signal001/run
  tests/base/system_signal002/HandleSignal.idr
  tests/base/system_signal002/expected
  tests/base/system_signal002/input
  tests/base/system_signal002/run
  tests/base/system_signal003/DefaultSignal.idr
  tests/base/system_signal003/expected
  tests/base/system_signal003/input
  tests/base/system_signal003/run
  tests/base/system_signal004/HandleManySignals.idr
  tests/base/system_signal004/expected
  tests/base/system_signal004/input
  tests/base/system_signal004/run
Labels: enhancement, library: base

#1467 [ help ] display logging topics and accompanying blurbs (if any)
  src/Core/Options/Log.idr
  src/Idris/CommandLine.idr
  src/Idris/Driver.idr
Labels: cli: options, documentation, enhancement, interactive: debug

#1470 [ test ] cosmetic improvements
  libs/test/Test/Golden.idr
Labels: library: test

#1466 [ feature ] Implement `-Werror` (WarningsAsErrors)
  libs/base/base.ipkg
  libs/contrib/contrib.ipkg
  src/Core/Context.idr
  src/Core/Core.idr
  src/Core/Options.idr
  src/Idris/CommandLine.idr
  src/Idris/Error.idr
  src/Idris/ModTree.idr
  src/Idris/Package.idr
  src/Idris/REPL/Common.idr
  src/Idris/SetOptions.idr
  tests/Main.idr
  tests/idris2/error019/Error.idr
  tests/idris2/error019/expected
  tests/idris2/error019/run
  tests/typedd-book/chapter04/expected
  tests/typedd-book/chapter08/expected
  tests/typedd-book/chapter10/expected
  tests/typedd-book/chapter11/expected
  tests/typedd-book/chapter12/expected
Labels: enhancement, error: warning

#1474 [ re #1466 ] Actually error out with `-Werror`
  .github/workflows/ci-macos-combined.yml
  .github/workflows/ci-ubuntu-combined.yml
  src/Idris/ModTree.idr
  src/Idris/REPL/Common.idr
Labels: admin: continuous-integration, error: warning, implem: error handling

#1476 [ warn ] holes are not shadowed by implicits
  src/TTImp/Utils.idr
  tests/idris2/warning001/Holes.idr
  tests/idris2/warning001/expected
  tests/idris2/warning001/run
Labels: error: warning, language: generalisation, status: confirmed bug

#1479 [ cleanup ] tests/Main.idr import list
  tests/Main.idr
Labels: admin: continuous-integration, code: cleanup
