Repository idris-lang/Idris2, pull requests merged in 2021-08, with the labels that each got.

#1806 Support explicitly setting a version tag during build.
  Makefile
Labels: admin: installation

#1824 Add a `--list-packages` command to the `idris2` executable
  CHANGELOG.md
  src/Idris/CommandLine.idr
  src/Idris/Driver.idr
  src/Idris/SetOptions.idr
Labels: enhancement, language: packaging, cli: options

#1829 print full names in linear checking
  src/Core/LinearCheck.idr
Labels: error: bad message

#1836 [ new ] semantic highlighting in REPL & holes
  idris2api.ipkg
  src/Core/Metadata.idr
  src/Core/TT.idr
  src/Idris/Doc/String.idr
  src/Idris/Elab/Implementation.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/CaseSplit.idr
  src/Idris/IDEMode/Holes.idr
  src/Idris/Parser.idr
  src/Idris/Pretty.idr
  src/Idris/REPL.idr
  src/Idris/REPL/Common.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/Parser/Lexer/Source.idr
  src/TTImp/Elab/RunElab.idr
  src/TTImp/Interactive/CaseSplit.idr
  src/TTImp/Interactive/ExprSearch.idr
  src/TTImp/Interactive/MakeLemma.idr
  src/TTImp/PartialEval.idr
  src/TTImp/ProcessDef.idr
  src/TTImp/ProcessRecord.idr
  src/TTImp/TTImp.idr
  src/TTImp/TTImp/Functor.idr
  src/TTImp/Unelab.idr
  tests/idris2/coverage004/expected
  tests/idris2/docs001/expected
  tests/idris2/docs002/expected
  tests/idris2/docs003/expected
  tests/idris2/interactive030/expected
  tests/idris2/perf005/expected
  tests/idris2/pretty001/expected
  tests/idris2/reflection002/expected
Labels: enhancement, cli: repl, interactive: hole, ide: highlighting

#1838 [ base ] Add semigroup and monoid instances for `Vect`
  libs/base/Data/Vect.idr
Labels: library: base

#1862 [ fix ] invalid Cast instances
  libs/prelude/Prelude/Cast.idr
Labels: status: confirmed bug, library: prelude

#1876 Add javascript support for getting system time as integer.
  libs/base/System.idr
  tests/base/system_time001/Time.idr
  tests/base/system_time001/expected
  tests/base/system_time001/input
  tests/base/system_time001/run
Labels: enhancement, library: base, backend: javascript

#1812 Return a Vect from Stream take
  libs/base/Data/Vect.idr
  tests/base/data_vect001/Vect.idr
  tests/base/data_vect001/expected
  tests/base/data_vect001/input
  tests/base/data_vect001/run
Labels: enhancement, library: base

#1880 Add list difference to base Data.List module.
  libs/base/Data/List.idr
Labels: enhancement, library: base

#1884 [ install, docs ] Add a new makefile target to install libdocs
  CHANGELOG.md
  INSTALL.md
  Makefile
  support/docs/index.html
Labels: documentation, admin: installation

#1882 [ new ] ellipses for with patterns
  CHANGELOG.md
  docs/source/tutorial/views.rst
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
  tests/Main.idr
  tests/idris2/with006/SparseWith.idr
  tests/idris2/with006/expected
  tests/idris2/with006/run
Labels: enhancement, language: with
