Repository idris-lang/Idris2, pull requests merged in 2021-01, with the labels that each got.

#875 Add `countExactly` to Text.Parser in libs/contrib to return a Vect
  libs/contrib/Text/Parser.idr
Labels: enhancement, library: contrib

#900 Add `snoc` to Data.Vect
  libs/base/Data/Vect.idr
Labels: enhancement, library: base

#901 Add count to prelude
  libs/prelude/Prelude/Interfaces.idr
  libs/prelude/Prelude/Types.idr
  tests/idris2/total006/Total.idr
  tests/idris2/total006/expected
  tests/idris2/total006/input
Labels: enhancement, library: prelude

#922 Special variants of `DPair` as records
  libs/base/Data/DPair.idr
Labels: code: refactoring, library: base

#855 Added nix files
  .github/workflows/ci-nix.yml
  INSTALL.md
  README.md
  default.nix
  flake.lock
  flake.nix
  package.nix
  result
Labels: admin: continuous-integration, admin: packaging

#925 Update previous-build action from 0.2.2 to 0.3.0
  .github/workflows/ci-buildprevious.yml
Labels: admin: continuous-integration

#898 Apply small refactors all around
  src/Core/Context.idr
  src/Core/Metadata.idr
  src/Core/UnifyState.idr
  src/Idris/REPLOpts.idr
  src/TTImp/BindImplicits.idr
  src/TTImp/Elab/Check.idr
Labels: code: refactoring

#909 added MaybeT monad transformer to base
  libs/base/Control/Monad/Either.idr
  libs/base/Control/Monad/Maybe.idr
  libs/base/base.ipkg
  libs/prelude/Prelude/Basics.idr
Labels: enhancement, library: base

#918 Don't add implicits after non-given explicits.
  src/TTImp/TTImp.idr
  tests/Main.idr
  tests/idris2/reg036/Test.idr
  tests/idris2/reg036/expected
  tests/idris2/reg036/run
Labels: implem: elaboration, language: implicit, status: confirmed bug

#952 Replace lint.py with super-linter
  .ecrc
  .github/workflows/ci-super-linter.yml
Labels: admin: continuous-integration

#970 adds command for self-hosting when using racket
  INSTALL.md
Labels: Installation Issue, documentation, enhancement

#961 [ fix #959 ] ES Codegen: Add casts from integer types to double
  src/Compiler/ES/ES.idr
  tests/Main.idr
  tests/node/node023/Casts.idr
  tests/node/node023/expected
  tests/node/node023/input
  tests/node/node023/run
Labels: backend: javascript, status: confirmed bug

#950 Add isYes function and friends
  libs/base/Decidable/Decidable.idr
Labels: enhancement, library: base

#948 libs: mark Data.Nat.lteAddRight as public export
  libs/base/Data/Nat.idr
Labels: library: base

#972 Port Data.List.unzip from Idris1
  libs/base/Data/List.idr
Labels: enhancement, library: base

#960 Transformer overhaul
  libs/base/Control/Monad/Either.idr
  libs/base/Control/Monad/Error/Either.idr
  libs/base/Control/Monad/Error/Interface.idr
  libs/base/Control/Monad/Maybe.idr
  libs/base/Control/Monad/RWS.idr
  libs/base/Control/Monad/RWS/CPS.idr
  libs/base/Control/Monad/RWS/Interface.idr
  libs/base/Control/Monad/Reader.idr
  libs/base/Control/Monad/Reader/Interface.idr
  libs/base/Control/Monad/Reader/Reader.idr
  libs/base/Control/Monad/State.idr
  libs/base/Control/Monad/State/Interface.idr
  libs/base/Control/Monad/State/State.idr
  libs/base/Control/Monad/Writer.idr
  libs/base/Control/Monad/Writer/CPS.idr
  libs/base/Control/Monad/Writer/Interface.idr
  libs/base/base.ipkg
Labels: enhancement, library: base

#974 added System.Console.GetOpt to contrib
  libs/contrib/System/Console/GetOpt.idr
  libs/contrib/contrib.ipkg
Labels: enhancement, library: contrib

#554 Input validation
  libs/base/Data/Nat.idr
  libs/contrib/Control/Arrow.idr
  libs/contrib/Control/Category.idr
  libs/contrib/Control/Monad/Trans/Either.idr
  libs/contrib/Control/Validation.idr
  libs/contrib/contrib.ipkg
Labels: library: contrib

#894 [ refactor ] ltrim in terms of asList
  libs/base/Data/Strings.idr
  tests/idris2/interactive019/expected
Labels: enhancement, library: base

#986 Add zip*/unzip* for List1
  libs/base/Data/List.idr
  libs/base/Data/List1.idr
  libs/base/Data/Stream.idr
Labels: enhancement, library: base

#982 [ new ] Order relations on Int
  libs/contrib/Data/Int/Order.idr
  libs/contrib/Data/Order.idr
Labels: enhancement, library: contrib

#992 Move Cast interface to Prelude.Cast
  libs/prelude/Prelude.idr
  libs/prelude/Prelude/Cast.idr
  libs/prelude/Prelude/Types.idr
  libs/prelude/prelude.ipkg
  tests/idris2/interactive019/expected
Labels: code: refactoring, library: prelude

#987 [ refactor ] Rename Data.Strings to Data.String (1/2)
  libs/base/Data/String.idr
  libs/base/Data/Strings.idr
  libs/base/base.ipkg
  libs/prelude/Prelude/Types.idr
  tests/idris2/error003/expected
  tests/idris2/reflection003/expected
Labels: code: cleanup, library: base

#967 Refactor bootstrap and CI action to speedup CI
  .github/workflows/ci-api.yml
  .github/workflows/ci-buildprevious.yml
  .github/workflows/ci-macos.yml
  .github/workflows/ci-ubuntu-combined.yml
  .github/workflows/ci-ubuntu-racket.yml
  .github/workflows/ci-ubuntu.yml
  Makefile
  bootstrap-rkt.sh
  bootstrap-stage1-chez.sh
  bootstrap-stage1-racket.sh
  bootstrap-stage2.sh
  bootstrap.sh
  package.nix
Labels: admin: continuous-integration, code: refactoring

#1008 Control.App: use new type instead of Void as marker for I/O
  libs/base/Control/App.idr
Labels: breaking, library: base
