Repository idris-lang/Idris2, pull requests merged in 2021-09, with the labels that each got.

#1869 [ performance ] Common subexpression elimination
  idris2api.ipkg
  src/Compiler/Common.idr
  src/Compiler/CompileExpr.idr
  src/Compiler/ES/Codegen.idr
  src/Compiler/LambdaLift.idr
  src/Compiler/Opts/CSE.idr
  src/Core/Context.idr
  src/Core/Options/Log.idr
  src/Core/Ord.idr
  src/Core/TTC.idr
  support/js/support.js
Labels: performance, implem: common subexpression elimination

#1867 [ contrib ] Make sorted map be able to store dependently typed values
  libs/base/Data/DPair.idr
  libs/contrib/Data/SortedMap.idr
  libs/contrib/Data/SortedMap/Dependent.idr
  libs/contrib/contrib.ipkg
Labels: enhancement, library: base, library: contrib

#1903 Check primitives (fromInteger etc) reduce on LHS
  src/Core/CaseBuilder.idr
  tests/Main.idr
  tests/idris2/reg050/expected
  tests/idris2/reg050/loopy.idr
  tests/idris2/reg050/run
Labels: implem: pattern-matching, language: primitives

#1906 Normalise errors on display, not when they arise
  idris2api.ipkg
  src/Compiler/Common.idr
  src/Core/AutoSearch.idr
  src/Core/Binary.idr
  src/Core/Binary/Prims.idr
  src/Core/Context.idr
  src/Core/Context/Context.idr
  src/Core/Core.idr
  src/Core/LinearCheck.idr
  src/Core/Normalise.idr
  src/Core/TTC.idr
  src/Core/Unify.idr
  src/Core/UnifyState.idr
  src/Idris/Error.idr
  src/Idris/Pretty/Render.idr
  src/Libraries/Utils/Binary.idr
  src/Libraries/Utils/Shunting.idr
  src/TTImp/Elab/Binders.idr
  src/TTImp/Elab/Check.idr
  src/TTImp/Elab/Delayed.idr
  src/TTImp/Elab/Record.idr
  src/TTImp/Elab/Rewrite.idr
  src/TTImp/Interactive/CaseSplit.idr
  src/TTImp/ProcessDef.idr
  tests/Main.idr
  tests/idris2/coverage001/Vect2.idr
  tests/idris2/coverage001/Vect3.idr
  tests/idris2/coverage001/expected
  tests/idris2/coverage001/run
  tests/ttimp/coverage001/Vect.yaff
  tests/ttimp/coverage001/Vect2.yaff
  tests/ttimp/coverage001/Vect3.yaff
  tests/ttimp/coverage001/expected
  tests/ttimp/coverage001/run
  tests/ttimp/eta002/Eta.yaff
  tests/ttimp/eta002/expected
  tests/ttimp/eta002/input
  tests/ttimp/eta002/run
Labels: performance, implem: normalise, error: reporting

#1907 Abandon ambiguity resolution on undefined name
  src/TTImp/Elab/Check.idr
  tests/Main.idr
  tests/idris2/error021/DeepAmbig.idr
  tests/idris2/error021/expected
  tests/idris2/error021/run
Labels: performance, implem: overloading, implem: error handling

#1911 code-blocks missing in the docs
  docs/source/reference/overloadedlit.rst
  docs/source/reference/strings.rst
Labels: documentation, status: confirmed bug

#1892 [ base ] Indexing Vectors.
  libs/base/Data/Vect/AtIndex.idr
  libs/base/base.ipkg
Labels: enhancement, library: base

#1908 Add function that checks whether a file handle points to a TTY device.
  libs/base/System/File/Meta.idr
  support/c/idris_file.c
  support/c/idris_file.h
  support/c/windows/win_utils.c
  support/c/windows/win_utils.h
Labels: enhancement, library: base

#1922 Made unifying error msg nicer.
  src/Idris/Error.idr
  tests/idris2/basic001/expected
  tests/idris2/basic016/expected
  tests/idris2/basic030/expected
  tests/idris2/basic034/expected
  tests/idris2/error001/expected
  tests/idris2/error003/expected
  tests/idris2/interface027/expected
  tests/idris2/namespace002/expected
  tests/idris2/perf005/expected
  tests/idris2/record004/expected
  tests/idris2/reflection001/expected
  tests/idris2/reflection005/expected
  tests/idris2/reg007/expected
  tests/idris2/with003/expected
Labels: enhancement, error: reporting

#1923 [ new ] persistent css switch and alternative style files
  Makefile
  src/Idris/Doc/HTML.idr
  src/Idris/Package.idr
  src/Idris/Package/Types.idr
  support/docs/alternative.css
  support/docs/blackandwhite.css
  support/docs/default.css
  support/docs/index.html
Labels: enhancement, backend: html

#1924 [ html ] Various HTML docs fixes
  libs/test/Test/Golden.idr
  src/Idris/Desugar.idr
  src/Idris/Doc/HTML.idr
  src/Idris/Doc/String.idr
  src/Idris/IDEMode/SyntaxHighlight.idr
  support/docs/alternative.css
  support/docs/blackandwhite.css
  support/docs/default.css
  tests/idris2/interactive030/expected
Labels: enhancement, backend: html

#1928 [ install ] Fix `install-libdocs` makefile target
  Makefile
Labels: status: confirmed bug, admin: installation

#1888 Add a transform rule making (++) for List tail-recursive.
  libs/base/Data/List.idr
  libs/prelude/Prelude/Types.idr
  tests/Main.idr
  tests/node/tailrec_libs/expected
  tests/node/tailrec_libs/run
  tests/node/tailrec_libs/tailrec.idr
Labels: enhancement, performance, library: base, library: prelude

#1934 [ repl ] better printing of holes in `:m`
  src/Idris/IDEMode/REPL.idr
  src/Idris/REPL.idr
  tests/Main.idr
  tests/idris2/basic049/expected
  tests/idris2/import003/expected
  tests/idris2/interactive037/Holes.idr
  tests/idris2/interactive037/expected
  tests/idris2/interactive037/input
  tests/idris2/interactive037/run
  tests/idris2/perror010/expected
Labels: enhancement, cli: repl, cli: ide-mode, interactive: hole, ide: highlighting

#1936 [ ci ] new bootstrap-specific build
  .github/workflows/ci-bootstrap.yml
  .github/workflows/ci-idris2.yml
Labels: admin: continuous-integration

#1941 [ decor ] highlighting comments too
  src/Core/Binary.idr
  src/Core/Metadata.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Source.idr
  tests/ideMode/ideMode005/expected7
  tests/ideMode/ideMode005/expected8
Labels: enhancement, ide: highlighting

#1948 [ fix ] Use qualified type name for record elaboration (#1871)
  src/TTImp/ProcessRecord.idr
  tests/Main.idr
  tests/ttimp/record004/Record.yaff
  tests/ttimp/record004/expected
  tests/ttimp/record004/input
  tests/ttimp/record004/run
Labels: status: confirmed bug, language: record, implem: elaboration
