Repository idris-lang/Idris2, pull requests merged in 2021-07, with the labels that each got.

#1651 [ cli ] make package file optional
  src/Idris/CommandLine.idr
  src/Idris/Package.idr
Labels: cli: options, enhancement, language: packaging

#1662 [ improvement ] VMCode
  idris2api.ipkg
  src/Compiler/Interpreter/VMCode.idr
  src/Compiler/Separate.idr
  src/Compiler/VMCode.idr
  src/Core/Name/Namespace.idr
  src/Core/Options.idr
  src/Core/Options/Log.idr
  src/Core/TTC.idr
  src/Idris/ProcessIdr.idr
  src/Libraries/Data/IntMap.idr
  tests/Main.idr
  tests/chez/chez031/expected
  tests/vmcode/basic001/Test.idr
  tests/vmcode/basic001/expected
  tests/vmcode/basic001/run
Labels: backends, enhancement, performance

#1472 Define and implement Relation interfaces
  libs/base/Control/Order.idr
  libs/base/Control/Relation.idr
  libs/base/Control/WellFounded.idr
  libs/base/Data/Fin/Order.idr
  libs/base/Data/List/Views.idr
  libs/base/Data/Nat.idr
  libs/base/Data/Nat/Order.idr
  libs/base/base.ipkg
  libs/contrib/Data/Nat/Division.idr
  libs/contrib/Data/Nat/Exponentiation.idr
  libs/contrib/Data/Nat/Factor.idr
  libs/contrib/Data/Nat/Order/Properties.idr
  libs/contrib/Data/Nat/Order/Relation.idr
  libs/contrib/Data/Nat/Order/Strict.idr
  libs/contrib/Data/Tree/Perfect.idr
  libs/contrib/Data/Vect/Properties/Foldr.idr
  libs/contrib/Decidable/Order/Strict.idr
  libs/contrib/Syntax/PreorderReasoning/Generic.idr
  libs/contrib/contrib.ipkg
Labels: code: refactoring, library: base

#1609 [ refactor ] JS backend overhaul
  idris2api.ipkg
  libs/base/Data/Buffer.idr
  libs/base/System.idr
  libs/base/System/File.idr
  libs/prelude/PrimIO.idr
  src/Compiler/ES/Ast.idr
  src/Compiler/ES/Codegen.idr
  src/Compiler/ES/Doc.idr
  src/Compiler/ES/ES.idr
  src/Compiler/ES/Imperative.idr
  src/Compiler/ES/ImperativeAst.idr
  src/Compiler/ES/Javascript.idr
  src/Compiler/ES/Node.idr
  src/Compiler/ES/State.idr
  src/Compiler/ES/TailRec.idr
  src/Compiler/ES/ToAst.idr
  support/js/support.js
  support/js/support_system_directory.js
  support/js/support_system_file.js
  tests/node/casts/Casts.idr
  tests/node/integers/TestIntegers.idr
  tests/node/integers/expected
  tests/node/newints/IntOps.idr
  tests/node/node015/expected
  tests/node/node024/BitOps.idr
  tests/node/node024/expected
Labels: backend: javascript, code: refactoring

#1653 System.Errno.strerror
  libs/base/System/Errno.idr
  libs/base/System/File.idr
  libs/base/System/Signal.idr
  libs/base/base.ipkg
  support/c/idris_support.c
  support/c/idris_support.h
  tests/Main.idr
  tests/base/system_errno/Test.idr
  tests/base/system_errno/expected
  tests/base/system_errno/input
  tests/base/system_errno/run
Labels: code: refactoring, library: base

#1686 [ fix #1652 ] Save `casefnty` to TTC
  src/TTImp/Elab/Case.idr
  src/TTImp/Interactive/CaseSplit.idr
  tests/Main.idr
  tests/idris2/interactive036/casefn.idr
  tests/idris2/interactive036/expected
  tests/idris2/interactive036/input
  tests/idris2/interactive036/run
Labels: interactive: case, status: confirmed bug

#1687 [ doc ] updated javascript documentation
  docs/source/backends/javascript.rst
Labels: backend: javascript, documentation

#1261 [ fix #1260 ] Use `blodwen-stringbytelen` instead of C's `strlen`
  libs/base/Data/Buffer.idr
  tests/chez/chez004/Buffer.idr
  tests/chez/chez004/expected
  tests/idris2/basic053/StringLiteral.idr
  tests/idris2/basic053/expected
Labels: backend: chez, backend: racket, status: confirmed bug

#1667 Use Not instead of -> Void
  libs/base/Data/Bool.idr
  libs/base/Data/Nat/Order.idr
  libs/base/Data/Vect/Quantifiers.idr
  libs/base/Decidable/Equality.idr
  libs/contrib/Data/List/Equalities.idr
  libs/contrib/Data/Nat/Factor.idr
  libs/prelude/Prelude/Types.idr
Labels: code: cleanup, library: base, library: contrib

#1707 [ cosmetic ] use the whole range when underlining the problem
  src/Libraries/Text/Parser/Core.idr
  src/Parser/Support.idr
  tests/idris2/interactive028/expected
  tests/idris2/perf005/expected
  tests/idris2/perror005/expected
  tests/idris2/perror006/expected
  tests/idris2/perror008/expected
  tests/idris2/with003/expected
  tests/idris2/with004/expected
Labels: enhancement, implem: parsing

#1701 Show error output from multiple alternative parsing branches.
  src/Core/Core.idr
  src/Core/Options.idr
  src/Idris/CommandLine.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/Parser.idr
  src/Idris/ModTree.idr
  src/Idris/Pretty.idr
  src/Idris/SetOptions.idr
  src/Libraries/Text/Parser.idr
  src/Libraries/Text/Parser/Core.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Package.idr
  src/Parser/Rule/Source.idr
  src/Parser/Source.idr
  src/Parser/Support.idr
  tests/Main.idr
  tests/idris2/interactive028/expected
  tests/idris2/perf005/expected
  tests/idris2/perror007/expected
  tests/idris2/perror008/expected
  tests/idris2/perror009/Error1.idr
  tests/idris2/perror009/expected
  tests/idris2/perror009/run
  tests/idris2/with003/expected
  tests/idris2/with004/expected
Labels: enhancement, implem: parsing

#1717 Return Bool from IOArray.writeArray
  libs/base/Data/IOArray.idr
  libs/contrib/Data/Linear/Array.idr
  tests/chez/chez012/array.idr
  tests/node/node012/array.idr
Labels: enhancement, library: base

#1730 [ fix ] `Name` in `Language.Reflection.TT`
  libs/base/Language/Reflection/TT.idr
Labels: language: reflection

#1700 Apply "qualified do" notation to bangs and comprehensions
  src/Core/Name.idr
  src/Idris/Desugar.idr
  tests/Main.idr
  tests/idris2/reg047/QualifiedDoBang.idr
  tests/idris2/reg047/expected
  tests/idris2/reg047/input
  tests/idris2/reg047/run
Labels: enhancement, language: do-notation

#1756 Document string literals
  CHANGELOG.md
  docs/source/reference/index.rst
  docs/source/reference/strings.rst
Labels: documentation, language: literals

#1583 [fix] Loading libidris2_support.dll with Racket
  .github/workflows/ci-idris2.yml
  bootstrap-stage2.sh
  bootstrap/idris2-boot.sh
  bootstrap/idris2-rktboot.sh
  config.mk
  libs/base/System/File.idr
  libs/network/Network/FFI.idr
  libs/network/Network/Socket.idr
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/ChezSep.idr
  src/Compiler/Scheme/Racket.idr
  src/Idris/IDEMode/REPL.idr
  support/c/Makefile
  support/c/idris_file.c
  support/c/idris_file.h
  support/c/idris_net.c
  support/c/idris_net.h
  support/c/windows/win_utils.c
  support/racket/support.rkt
  support/refc/Makefile
Labels: backend: racket, os: mac, os: windows

#1766 [ ci ] controlling builds via commit messages
  .github/workflows/ci-idris2.yml
Labels: admin: continuous-integration, performance

#1738 Set the stage for renaming the `master` branch to `main`.
  .github/workflows/ci-idris2.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-sphinx.yml
  .github/workflows/ci-super-linter.yml
Labels: admin: meta

#1774 Document --init
  docs/source/tutorial/packages.rst
Labels: documentation, enhancement

#1775 Add some docs about building on Windows
  docs/source/tutorial/starting.rst
  docs/source/tutorial/windows.rst
Labels: documentation, os: windows

#1807 Get a bit more specific about the GMP library requirement.
  INSTALL.md
Labels: documentation
