Repository idris-lang/Idris2, pull requests merged in 2021-02, with the labels that each got.

#997 [new] Add Colist and Colist1 to base
  libs/base/Data/Colist.idr
  libs/base/Data/Colist1.idr
  libs/base/base.ipkg
Labels: enhancement, library: base

#991 Remove unused modules
  libs/base/Control/App/PrimApp.idr
  libs/base/Control/AppOld.idr
  libs/base/Control/Test2.idr
Labels: code: cleanup, library: base

#838 Double closing brace was made to not be treated specially
  src/Idris/Parser.idr
  src/Parser/Lexer/Source.idr
  tests/Main.idr
  tests/idris2/basic052/DoubleClBrace.idr
  tests/idris2/basic052/expected
  tests/idris2/basic052/input
  tests/idris2/basic052/run
Labels: implem: parsing, status: confirmed bug, syntax

#848 Update stringOps.c
  support/refc/stringOps.c
  tests/Lib.idr
  tests/Main.idr
  tests/refc/refc001/Tail.idr
  tests/refc/refc001/expected
  tests/refc/refc001/run
Labels: admin: continuous-integration, backend: c, status: confirmed bug

#1015 [ contrib ] support for C backend
  libs/contrib/Test/Golden.idr
  tests/Lib.idr
Labels: enhancement, library: contrib

#999 Support raw string
  src/Idris/IDEMode/Parser.idr
  src/Libraries/Utils/String.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Rule/Source.idr
  src/Parser/Support.idr
  tests/Main.idr
  tests/idris2/basic053/RawString.idr
  tests/idris2/basic053/expected
  tests/idris2/basic053/run
Labels: implem: string

#1019 Check docs in CI
  .github/workflows/ci-super-linter.yml
  .github/workflows/ci-ubuntu-combined.yml
  docs/requirements.txt
Labels: admin: continuous-integration, documentation

#1030 [ ci ] Switch to nightly chez builds when testing API
  .github/workflows/ci-ubuntu-combined.yml
Labels: admin: continuous-integration, status: confirmed bug

#1040 Update IOArray.fromList to use HasIO
  libs/base/Data/IOArray.idr
Labels: library: base, status: confirmed bug

#1036 [ fix ] All the REPL commands should be in CommandTable
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  tests/chez/chez031/input
  tests/idris2/basic028/input
Labels: cli: repl, documentation, status: confirmed bug

#1044 Make `weakenN`'s `n` parameter to have zero quantity
  libs/base/Data/Fin.idr
Labels: enhancement, library: base

#703 Preliminary datatypes for telescopes
  libs/contrib/Data/Telescope.idr
  libs/contrib/Data/Telescope/Congruence.idr
  libs/contrib/Data/Telescope/Fun.idr
  libs/contrib/Data/Telescope/Segment.idr
  libs/contrib/Data/Telescope/SimpleFun.idr
  libs/contrib/Data/Telescope/Telescope.idr
  libs/contrib/Syntax/PreorderReasoning.idr
  libs/contrib/contrib.ipkg
Labels: enhancement, library: contrib

#1051 [ fix ] some of the docs
  docs/source/backends/gambit.rst
  docs/source/tutorial/interfaces.rst
Labels: code: cleanup, documentation

#1047 [ re #1043 ] Fix typo in support.scm
  support/gambit/support.scm
  tests/Lib.idr
  tests/Main.idr
  tests/gambit/bitops001/BitOps.idr
  tests/gambit/bitops001/expected
  tests/gambit/bitops001/input
  tests/gambit/bitops001/run
Labels: backend: gambit, status: confirmed bug, typo

#1054 [ new ] support record projections in refc backend
  src/Compiler/RefC/RefC.idr
  tests/Main.idr
  tests/refc/refc002/RecordProjection.idr
  tests/refc/refc002/expected
  tests/refc/refc002/run
Labels: backend: c, language: record projection

#1050 [ new ] Data.OpenUnion
  libs/contrib/Control/Monad/Syntax.idr
  libs/contrib/Control/Validation.idr
  libs/contrib/Data/List/AtIndex.idr
  libs/contrib/Data/List/HasLength.idr
  libs/contrib/Data/Nat/Order/Properties.idr
  libs/contrib/Data/OpenUnion.idr
  libs/contrib/contrib.ipkg
  libs/prelude/Prelude/Interfaces.idr
  libs/prelude/Prelude/Ops.idr
Labels: library: contrib, library: prelude

#1055 Add named instances for functor & applicative composition
  libs/prelude/Prelude/Interfaces.idr
Labels: enhancement, library: prelude

#1052 [ fix #1043 ] throw error if compileExpr failed
  .github/workflows/ci-macos-combined.yml
  .github/workflows/ci-macos.yml
  src/Compiler/Scheme/Gambit.idr
  tests/Main.idr
  tests/gambit/bitops001/expected
  tests/gambit/bitops001/input
  tests/gambit/bitops001/run
Labels: admin: continuous-integration, backend: gambit

#1053 Generalize Category
  libs/contrib/Control/Category.idr
Labels: enhancement, library: contrib

#1062 Change PreorderReasoning arguments to 0
  libs/contrib/Syntax/PreorderReasoning.idr
  libs/contrib/Syntax/PreorderReasoning/Generic.idr
Labels: enhancement, language: quantity, library: contrib

#1068 Fix typo in FC.idr.
  src/Core/FC.idr
Labels: documentation, typo

#1072 A function from `Not (x = y)` to `decEq x y = No _` was added
  libs/base/Decidable/Equality/Core.idr
Labels: enhancement, library: base

#1026 [ new ] Bitwise XOR for Bits64 and Integer
  src/Core/Primitives.idr
  tests/chez/chez032/BitOps.idr
  tests/chez/chez032/expected
  tests/gambit/bitops001/BitOps.idr
  tests/gambit/bitops001/expected
  tests/idris2/basic055/BitOps.idr
  tests/idris2/basic055/expected
  tests/node/node024/BitOps.idr
  tests/node/node024/expected
  tests/ttimp/basic006/expected
  tests/ttimp/coverage001/expected
  tests/ttimp/coverage002/expected
  tests/ttimp/dot001/expected
Labels: enhancement, language: primitives

#1073 [base, contrib] Some cleanup
  libs/base/Data/Fun.idr
  libs/base/Data/List/Views.idr
  libs/base/Data/Nat/Order.idr
  libs/base/Data/Stream.idr
  libs/base/Data/Vect.idr
  libs/base/Decidable/Equality/Core.idr
  libs/contrib/Data/Nat/Factor.idr
  libs/contrib/Data/Telescope/Segment.idr
  libs/contrib/Data/Vect/Sort.idr
  libs/contrib/Decidable/Decidable/Extra.idr
  libs/contrib/Decidable/Order/Strict.idr
  libs/contrib/System/Random.idr
  libs/contrib/Text/Lexer.idr
  libs/contrib/Text/Lexer/Core.idr
  libs/contrib/Text/Parser.idr
Labels: code: cleanup, library: base, library: contrib

#995 Hide countFrom function from prelude
  libs/prelude/Prelude/Types.idr
Labels: code: cleanup, library: prelude

#1070 Add a total way of reading files in.
  .github/linters/.ecrc
  .github/workflows/ci-super-linter.yml
  libs/base/System/File.idr
  support/c/idris_file.c
  support/c/idris_file.h
  support/js/support_system_file.js
  tests/Main.idr
  tests/base/system_file001/ReadFilePage.idr
  tests/base/system_file001/expected
  tests/base/system_file001/input
  tests/base/system_file001/run
  tests/base/system_file001/test.txt
Labels: enhancement, library: base

#1085 withFile & writeFile cleanup
  libs/base/System/File.idr
Labels: code: refactoring, library: base

#1069 [ contrib ] Positions in strings
  libs/contrib/Data/String/Position.idr
  libs/contrib/contrib.ipkg
Labels: library: contrib

#1088 [ re #1087 ] Better error messages in the REPL
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/basic044/Term.idr
  tests/idris2/basic044/Vec.idr
  tests/idris2/interactive028/expected
  tests/idris2/interactive028/input
  tests/idris2/interactive028/run
  tests/idris2/positivity002/Issue660.idr
  tests/idris2/positivity003/Issue660.idr
  tests/idris2/with003/expected
Labels: cli: repl, implem: parsing

#1103 fix Golden so that prompt is run after both paths where expected and actual outputs don't match.
  libs/contrib/Test/Golden.idr
  tests/Lib.idr
Labels: admin: continuous-integration, library: contrib, status: confirmed bug

#1063 [ new ] Perfect binary trees
  libs/base/Data/Nat.idr
  libs/contrib/Data/Binary.idr
  libs/contrib/Data/Binary/Digit.idr
  libs/contrib/Data/IMaybe.idr
  libs/contrib/Data/Monoid/Exponentiation.idr
  libs/contrib/Data/Nat/Algebra.idr
  libs/contrib/Data/Nat/Exponentiation.idr
  libs/contrib/Data/Nat/Order/Properties.idr
  libs/contrib/Data/Nat/Properties.idr
  libs/contrib/Data/Num/Implementations.idr
  libs/contrib/Data/Tree/Perfect.idr
  libs/contrib/Data/Vect/Binary.idr
  libs/contrib/contrib.ipkg
  libs/prelude/Prelude/Basics.idr
Labels: library: base, library: contrib

#1100 Added comment descriptions for FC and FilePos.
  libs/base/Language/Reflection/TT.idr
Labels: documentation

#1089 More compose instances and one usage of them
  libs/base/System/File.idr
  libs/prelude/Prelude/Interfaces.idr
  tests/Main.idr
  tests/idris2/interface023/AppComp.idr
  tests/idris2/interface023/expected
  tests/idris2/interface023/input
  tests/idris2/interface023/run
Labels: code: refactoring, enhancement, library: base, library: prelude

#1117 [base] `bimap` functions were added for dependent pairs.
  libs/base/Data/DPair.idr
Labels: library: base

#1118 [base] Constructor's injectivity proofs for `Exists` and `Subset`
  libs/base/Data/DPair.idr
Labels: library: base

#1122 Give App1 implementation of (>>)
  libs/base/Control/App.idr
Labels: library: base, status: confirmed bug

#1129 [ prelude ] Strange definition of different priorities for a single operator was removed
  libs/prelude/Prelude/Ops.idr
Labels: library: prelude, status: confirmed bug
