Repository idris-lang/Idris2, pull requests merged in 2021-06, with the labels that each got.

#1477 [ refactor ] Use `f <$> ...` instead of `pure f <*> ...` in traverses
  libs/prelude/Prelude/Types.idr
Labels: code: refactoring, language: applicative sugar

#1492 [ doc ] for the linear pair constructor
  libs/prelude/Builtin.idr
Labels: documentation, enhancement

#1500 [ log ] more readable output for elab.ambiguous
  src/Core/Options/Log.idr
  src/TTImp/Elab/Ambiguity.idr
  tests/idris2/basic044/expected
Labels: enhancement, interactive: debug

#1501 Read import hashes correctly
  src/Core/Binary.idr
  tests/idris2/import001/expected
Labels: implem: ttc, status: confirmed bug

#1516 Add RefC Char pattern matching support
  support/refc/runtime.c
  tests/refc/strings/TestStrings.idr
  tests/refc/strings/expected
Labels: backend: refc, language: builtin, status: confirmed bug

#1520 [ fix ] indentation of `impossible` clauses
  src/Idris/IDEMode/CaseSplit.idr
  src/TTImp/Interactive/CaseSplit.idr
  tests/Main.idr
  tests/idris2/interactive032/Uninh.idr
  tests/idris2/interactive032/expected
  tests/idris2/interactive032/input
  tests/idris2/interactive032/run
  tests/idris2/interactive033/UninhIndent.idr
  tests/idris2/interactive033/expected
  tests/idris2/interactive033/input
  tests/idris2/interactive033/run
Labels: implem: pretty printing, interactive: case, status: confirmed bug

#1540 Return Maybe from strengthen
  idris2api.ipkg
  libs/base/Data/Fin.idr
  libs/contrib/Data/Fin/Extra.idr
  src/Libraries/Data/Fin.idr
  src/TTImp/ProcessBuiltin.idr
Labels: code: cleanup, library: base

#1551 Add filenames to Golden Test missing file error reporting
  libs/test/Test/Golden.idr
Labels: enhancement, error: bad message, library: test

#1518 Use socketaddr_storage in getsockname
  support/c/idris_net.c
Labels: library: network, status: confirmed bug

#1554 [ refactor ] Right-align padded numbers.
  src/Idris/ModTree.idr
  tests/typedd-book/chapter04/expected
  tests/typedd-book/chapter08/expected
  tests/typedd-book/chapter10/expected
  tests/typedd-book/chapter11/expected
  tests/typedd-book/chapter12/expected
Labels: cli: cosmetic

#1559 Allow underscores in integer literals to aid readability
  CHANGELOG.md
  src/Libraries/Text/Lexer.idr
  src/Parser/Lexer/Source.idr
  tests/Main.idr
  tests/idris2/basic061/UnderscoredIntegerLiterals.idr
  tests/idris2/basic061/expected
  tests/idris2/basic061/input
  tests/idris2/basic061/run
Labels: enhancement, language: literals, syntax

#1556 Hoist some pures
  libs/base/System/Directory.idr
  libs/base/System/File.idr
  libs/contrib/System/Path.idr
  src/Core/Context.idr
  src/Core/Core.idr
  src/Core/Normalise.idr
  src/Core/Termination.idr
  src/Core/Unify.idr
Labels: code: cleanup

#1562 Use truncated case notation
  src/Compiler/ANF.idr
  src/Core/AutoSearch.idr
  src/Core/CaseBuilder.idr
  src/Core/Core.idr
  src/Core/Unify.idr
  src/Parser/Rule/Package.idr
  src/Parser/Rule/Source.idr
  src/TTImp/Elab.idr
  src/TTImp/Elab/Case.idr
  src/TTImp/ProcessData.idr
Labels: code: cleanup

#1553 Improve case-splitting formatting to not introduce new whitespace; add a bit of comments+docs.
  CHANGELOG.md
  libs/base/Data/List.idr
  src/Idris/IDEMode/CaseSplit.idr
  tests/idris2/interactive013/Spacing.idr
  tests/idris2/interactive013/expected
  tests/idris2/interactive013/input
Labels: implem: pretty printing, interactive: case, status: confirmed bug

#1557 [ fix ] print postfix projections... postfix
  src/Core/Name.idr
  src/Core/Options/Log.idr
  src/Core/TT.idr
  src/Idris/IDEMode/Holes.idr
  src/Idris/Pretty.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/TTImp/Unelab.idr
  tests/Main.idr
  tests/idris2/record008/Postfix.idr
  tests/idris2/record008/expected
  tests/idris2/record008/input
  tests/idris2/record008/run
Labels: implem: pretty printing, language: record projection, status: confirmed bug

#1568 Add ability to extend RefC backend to create further backends
  docs/source/backends/refc.rst
  idris2api.ipkg
  src/Compiler/RefC.idr
  src/Compiler/RefC/RefC.idr
  support/refc/runtime.c
  support/refc/runtime.h
Labels: backend: refc, enhancement, language: ffi

#1526 [ cleanup ] Test.Golden
  libs/base/Data/String.idr
  libs/base/System/Clock.idr
  libs/contrib/Data/String/Extra.idr
  libs/contrib/Debug/Buffer.idr
  libs/test/Test/Golden.idr
  src/Idris/Error.idr
  src/Libraries/Data/String/Extra.idr
  src/Libraries/Text/PrettyPrint/Prettyprinter/Doc.idr
  src/Parser/Lexer/Source.idr
  tests/Makefile
Labels: code: cleanup, documentation, library: test, status: confirmed bug

#1591 [ refactor ] to allow testpools to specify a backend
  .github/workflows/ci-macos-combined.yml
  .github/workflows/ci-ubuntu-combined.yml
  .github/workflows/ci-windows.yml
  libs/test/README.md
  libs/test/Test/Golden.idr
  tests/Main.idr
  tests/allbackends/basic048/Module'.idr
  tests/allbackends/basic048/expected
  tests/allbackends/basic048/input
  tests/allbackends/basic048/input-ed
  tests/allbackends/basic048/run
  tests/allbackends/evaluator004/Issue735.idr
  tests/allbackends/evaluator004/expected
  tests/allbackends/evaluator004/input
  tests/allbackends/evaluator004/run
  tests/allbackends/evaluator005/Issue1200.idr
  tests/allbackends/evaluator005/expected
  tests/allbackends/evaluator005/run
  tests/allbackends/perf006/Issue775.idr
  tests/allbackends/perf006/expected
  tests/allbackends/perf006/run
  tests/chez/chez016/run
  tests/idris2/builtin009/run
  tests/idris2/builtin011/run
  tests/idris2/evaluator005/run
  tests/idris2/perf006/run
Labels: backends, library: test

#1592 Nix: verbatim URLs are deprecated
  flake.nix
  nix/templates/pkg/flake.nix
  nix/templates/pkgWithDeps/flake.nix
Labels: code: cleanup, os: nix

#1489 [ base ] Some lacking implementations for `Uninhabited`
  libs/base/Data/Colist.idr
  libs/base/Data/Fin.idr
  libs/base/Data/List.idr
  libs/base/Data/List/Elem.idr
  libs/base/Data/List/Quantifiers.idr
  libs/base/Data/List1.idr
  libs/base/Data/Nat.idr
  libs/base/Data/Vect/Elem.idr
  libs/base/Data/Vect/Quantifiers.idr
  libs/prelude/Prelude/Types.idr
  tests/Main.idr
  tests/idris2/interface026/UninhabitedRec.idr
  tests/idris2/interface026/expected
  tests/idris2/interface026/input
  tests/idris2/interface026/run
Labels: library: base

#1574 Add clarifying note re: PREFIX in config.mk
  INSTALL.md
  config.mk
Labels: code: cleanup, documentation

#1598 [ fix ] missing Show implementations in libs
  libs/base/Data/Fin.idr
  libs/prelude/Prelude/Show.idr
  tests/idris2/docs001/expected
Labels: library: base, library: prelude

#1610 [ fix ] Various Test.Golden fixes
  libs/test/Test/Golden.idr
Labels: library: test, status: confirmed bug

#1613 [ fix ] test Test.Golden with non-idris2 projects.
  tests/Main.idr
  tests/idris2/golden001/000-hello/expected
  tests/idris2/golden001/000-hello/run
  tests/idris2/golden001/Main.idr
  tests/idris2/golden001/Test.idr
  tests/idris2/golden001/expected
  tests/idris2/golden001/hello.ipkg
  tests/idris2/golden001/run
  tests/idris2/golden001/test.ipkg
Labels: admin: continuous-integration, enhancement, library: test

#1622 Missing interface methods now cause an error
  CHANGELOG.md
  libs/contrib/Control/Algebra/Implementations.idr
  libs/contrib/Control/Validation.idr
  libs/contrib/Data/Bool/Algebra.idr
  src/Idris/Elab/Implementation.idr
  src/Idris/ProcessIdr.idr
  tests/Main.idr
  tests/idris2/interface001/IFace.idr
  tests/idris2/interface001/IFace1.idr
  tests/idris2/reg044/Methods.idr
  tests/idris2/reg044/expected
  tests/idris2/reg044/run
Labels: language: interface, safety: totality, status: confirmed bug

#1620 Route System.prim__system through C function
  libs/base/System.idr
  support/c/idris_system.c
  support/c/idris_system.h
  support/chez/support.ss
  support/gambit/support.scm
  support/racket/support.rkt
Labels: code: refactoring, library: base

#1616 Make sure _simple_handler is not exported
  support/c/idris_signal.c
Labels: library: base, status: confirmed bug

#1624 Add Split and SplitRec views for Vect
  libs/contrib/Data/Vect/Views/Extra.idr
  libs/contrib/contrib.ipkg
Labels: enhancement, library: contrib

#1565 Simplify a few more lambdas
  libs/contrib/Data/Fun/Extra.idr
  libs/contrib/Data/Fun/Graph.idr
  libs/contrib/Data/Linear/Array.idr
  libs/contrib/Data/List/Elem/Extra.idr
Labels: code: cleanup, library: contrib

#1628 Cut unneeded type specifications
  libs/base/Data/List1.idr
  libs/base/Decidable/Decidable.idr
  libs/contrib/Data/Int/Order.idr
  libs/contrib/System/Path.idr
  src/Compiler/ES/ES.idr
  src/Compiler/Scheme/Racket.idr
  src/Core/CaseBuilder.idr
  src/Core/LinearCheck.idr
  src/Idris/Driver.idr
  src/Idris/Elab/Interface.idr
  src/Idris/IDEMode/CaseSplit.idr
  src/Idris/Package.idr
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  src/Parser/Support.idr
  src/TTImp/Elab.idr
  src/TTImp/Elab/Binders.idr
  src/TTImp/Elab/Case.idr
  src/TTImp/Elab/Quote.idr
  src/TTImp/Parser.idr
  src/Yaffle/REPL.idr
Labels: code: cleanup

#1625 Add comment about import from the contrib library
  docs/source/typedd/typedd.rst
Labels: doc: typedd, enhancement

#1586 Insert @generated markers into generated launcher scripts
  Makefile
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/ChezSep.idr
  src/Compiler/Scheme/Gambit.idr
  src/Compiler/Scheme/Racket.idr
Labels: code: cleanup

#1580 [ fix #1579 ] Nat hack for comparison operators
  libs/prelude/Prelude/EqOrd.idr
  libs/prelude/Prelude/Types.idr
  src/Compiler/CompileExpr.idr
  tests/idris2/reg042/NatOpts.idr
  tests/idris2/reg042/expected
  tests/idris2/reg042/input
  tests/idris2/reg044/Methods.idr
  tests/idris2/reg044/expected
Labels: enhancement, implem: nat hack, performance

#1604 [ fix ] generate lower level IRs if the option to dump that use phase is selected
  src/Compiler/Common.idr
Labels: cli: options, enhancement

#1631 Ignore @generated in super-linter
  .github/workflows/ci-super-linter.yml
Labels: admin: continuous-integration, code: linting, enhancement

#1600 Don't need benchmarks in the release
  Release/mkdist.sh
Labels: release

#1629 [ new ] Missing integer type interfaces
  libs/base/Data/Bits.idr
  libs/prelude/Prelude/Cast.idr
  libs/prelude/Prelude/EqOrd.idr
  libs/prelude/Prelude/Num.idr
  libs/prelude/Prelude/Show.idr
  tests/chez/bitops/BitOps.idr
  tests/chez/casts/Casts.idr
  tests/chez/integers/IntBits.idr
  tests/chez/integers/IntCasts.idr
  tests/chez/integers/IntEqOrd.idr
  tests/chez/integers/IntNum.idr
  tests/chez/integers/IntShow.idr
  tests/chez/integers/TestIntegers.idr
  tests/chez/newints/IntOps.idr
  tests/idris2/docs001/expected
  tests/node/bitops/BitOps.idr
  tests/node/casts/Casts.idr
  tests/node/integers/IntBits.idr
  tests/node/integers/IntCasts.idr
  tests/node/integers/IntEqOrd.idr
  tests/node/integers/IntNum.idr
  tests/node/integers/IntShow.idr
  tests/node/integers/TestIntegers.idr
  tests/node/newints/IntOps.idr
  tests/refc/integers/IntBits.idr
  tests/refc/integers/IntCasts.idr
  tests/refc/integers/IntEqOrd.idr
  tests/refc/integers/IntNum.idr
  tests/refc/integers/IntShow.idr
  tests/refc/integers/TestIntegers.idr
Labels: code: cleanup, language: builtin, library: prelude

#1639 Test for System.Info.os
  tests/Main.idr
  tests/base/system_info_os001/Os.idr
  tests/base/system_info_os001/expected
  tests/base/system_info_os001/run
Labels: admin: continuous-integration, enhancement, library: base

#1643 [ actions ] add quick check step
  .github/workflows/ci-macos-combined.yml
  .github/workflows/ci-nix.yml
  .github/workflows/ci-quick-check.yml
  .github/workflows/ci-sphinx.yml
  .github/workflows/ci-ubuntu-combined.yml
  .github/workflows/ci-windows.yml
Labels: admin: continuous-integration

#1642 [ new ] Support reflecting on new intX types
  libs/base/Language/Reflection/TT.idr
Labels: language: builtin, language: reflection, library: base
