Repository idris-lang/Idris2, pull requests merged in 2021-11, with the labels that each got.

#2077 [base] add IsRight and IsLeft proofs to Data.Either
  libs/base/Data/Either.idr
Labels: enhancement, library: base

#2080 Add takeUntil Data.String.Parser parser
  libs/contrib/Data/String/Parser.idr
  tests/chez/chez027/StringParser.idr
  tests/chez/chez027/expected
Labels: enhancement, library: contrib

#2044 [refactor] Use multiline strings for better readability
  src/Compiler/ES/Javascript.idr
  src/Compiler/RefC/RefC.idr
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/ChezSep.idr
  src/Compiler/Scheme/Gambit.idr
  src/Compiler/Scheme/Racket.idr
  src/Core/Metadata.idr
  src/Core/Options.idr
  src/Idris/CommandLine.idr
  src/Idris/Driver.idr
  src/Idris/SetOptions.idr
Labels: code: refactoring, language: literals

#2103 Add Alternating List fst and snd functions
  libs/contrib/Data/List/Alternating.idr
  tests/contrib/list_alternating/AlternatingList.idr
  tests/contrib/list_alternating/expected
Labels: naming, library: contrib

#2115 [ highlight ] for doc strings
  src/Idris/Parser.idr
  src/Parser/Rule/Source.idr
Labels: ide: highlighting

#2085 Show the line and column in diagnostic message in String.Parser
  libs/contrib/Data/String/Parser.idr
  tests/chez/chez027/expected
Labels: enhancement, library: contrib

#2086 Add %deprecate pragma
  .gitignore
  CHANGELOG.md
  docs/source/reference/builtins.rst
  docs/source/reference/index.rst
  docs/source/reference/pragmas.rst
  libs/base/Language/Reflection/TTImp.idr
  src/Core/Binary.idr
  src/Core/Context/Context.idr
  src/Core/Core.idr
  src/Core/TTC.idr
  src/Idris/Doc/Annotations.idr
  src/Idris/Doc/String.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/SyntaxHighlight.idr
  src/Idris/Package.idr
  src/Idris/Parser.idr
  src/Idris/Pretty.idr
  src/TTImp/Elab/App.idr
  src/TTImp/Elab/Check.idr
  src/TTImp/Parser.idr
  src/TTImp/ProcessDef.idr
  src/TTImp/ProcessType.idr
  src/TTImp/Reflect.idr
  src/TTImp/TTImp.idr
  src/TTImp/TTImp/Functor.idr
  tests/Main.idr
  tests/idris2/warning002/Foo.idr
  tests/idris2/warning002/Main.idr
  tests/idris2/warning002/deprecated.ipkg
  tests/idris2/warning002/expected
  tests/idris2/warning002/run
Labels: enhancement, language: packaging, syntax

#2081 [ performance ] bitops arithmetic speedup
  src/Compiler/Scheme/Racket.idr
  support/chez/ct-support.ss
  support/chez/support.ss
  support/gambit/support.scm
  support/racket/ct-support.rkt
  support/racket/support.rkt
Labels: performance, backend: scheme

#2121 [ mkdoc ] Wrap declaration part in <code> tag
  src/Idris/Doc/HTML.idr
Labels: documentation, enhancement

#2139 Makefile: bootstrap - check for chez threading support
  Makefile
Labels: enhancement, Installation Issue

#2145 [ base ] generalise Data.List type signatures
  libs/base/Data/List.idr
Labels: library: base, code: cleanup

#2142 Cut relation implicit args
  libs/base/Control/Relation.idr
  libs/base/Control/WellFounded.idr
  libs/base/Data/Fin/Order.idr
  libs/base/Data/Nat.idr
  libs/contrib/Data/Nat/Division.idr
  libs/contrib/Data/Nat/Exponentiation.idr
  libs/contrib/Data/Nat/Factor.idr
  libs/contrib/Data/Nat/Order/Properties.idr
  libs/contrib/Data/Nat/Order/Strict.idr
  libs/contrib/Data/Tree/Perfect.idr
  libs/contrib/Decidable/Order/Strict.idr
  libs/contrib/Syntax/PreorderReasoning/Generic.idr
Labels: code: cleanup

#2154 [ cleanup ] Remove piece of dead code from `prelude`
  libs/prelude/Prelude/Interfaces.idr
Labels: library: prelude, code: cleanup

#2114 Injective interface and its implementations
  libs/base/Control/Function.idr
  libs/base/Data/Either.idr
  libs/base/Data/Fin.idr
  libs/base/Data/List/Elem.idr
  libs/base/Data/List1.idr
  libs/base/Data/Maybe.idr
  libs/base/Data/Nat.idr
  libs/base/Data/SnocList/Elem.idr
  libs/base/Data/Vect.idr
  libs/base/Decidable/Equality.idr
  libs/base/base.ipkg
  libs/contrib/Data/Container.idr
  libs/contrib/Data/Nat/Equational.idr
  libs/contrib/Data/Nat/Factor.idr
  src/Core/TT.idr
Labels: code: refactoring, library: base
