Repository idris-lang/Idris2, pull requests merged in 2021-04, with the labels that each got.

#1254 [ tests ] Ignore test artifacts
  tests/base/system_info001/.gitignore
Labels: admin: meta

#1240 [ re #1162 ] Test without install
  .gitignore
  Makefile
  tests/Makefile
  tests/tests.ipkg
Labels: admin: continuous-integration, enhancement

#1280 Support Multi-declarations
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/basic059/MultiClaim.idr
  tests/idris2/basic059/expected
  tests/idris2/basic059/run
  tests/idris2/error011/expected
  tests/idris2/reflection001/expected
Labels: enhancement, implem: parsing, language: data, language: where, syntax

#1237 [ doc ] Custom backend cookbook
  docs/source/backends/backend-cookbook.rst
  docs/source/backends/index.rst
Labels: backends, documentation

#1262 Update section on custom code gens in updates.rst
  docs/source/updates/updates.rst
Labels: documentation, status: confirmed bug

#1250 Ignore some REPL options in package commands
  src/Idris/Package.idr
Labels: cli: options, enhancement

#1265 [ new ] Add Bifoldable and Bitraversable interfaces to Prelude
  libs/base/Data/Bifoldable.idr
  libs/base/Data/These.idr
  libs/base/base.ipkg
  libs/contrib/Data/Validated.idr
  libs/prelude/Prelude/Interfaces.idr
  libs/prelude/Prelude/Types.idr
  tests/codegen/con001/expected
Labels: enhancement, library: base, library: prelude

#1283 Fix a linearity leak in network; expose error codes to the user
  libs/contrib/Control/Linear/LIO.idr
  libs/network/Control/Linear/Network.idr
Labels: code: cleanup, library: network, status: confirmed bug

#1268 Use file extensions when looking for exes on windows
  libs/test/Test/Golden.idr
  src/Compiler/Common.idr
  src/Compiler/ES/Node.idr
  src/Compiler/Scheme/Chez.idr
Labels: enhancement, implem: compilation, os: windows

#1284 Fix issues with use of unix sockets
  libs/network/Network/FFI.idr
  libs/network/Network/Socket/Raw.idr
  support/c/idris_net.c
  support/c/idris_net.h
  tests/chez/chez014/Echo.idr
  tests/chez/chez014/expected
Labels: library: network

#1299 [ new ] idris2 --init
  idris2api.ipkg
  libs/contrib/System/Directory/Tree.idr
  libs/contrib/System/Path.idr
  libs/contrib/contrib.ipkg
  src/Idris/CommandLine.idr
  src/Idris/Package.idr
  src/Idris/Package/Init.idr
  src/Idris/Package/Types.idr
  src/Idris/SetOptions.idr
  src/Libraries/System/Directory/Tree.idr
  src/Libraries/Utils/Path.idr
  src/Parser/Lexer/Package.idr
  tests/Main.idr
  tests/idris2/pkg007/A/Path/Of/Dires/First.idr
  tests/idris2/pkg007/A/Path/Of/Dires/Second.idr
  tests/idris2/pkg007/Another/Fourth.idr
  tests/idris2/pkg007/Another/One/Third.idr
  tests/idris2/pkg007/expected
  tests/idris2/pkg007/input
  tests/idris2/pkg007/input2
  tests/idris2/pkg007/run
  tests/idris2/pkg007/src/And/A/Proof.idr
  tests/idris2/pkg007/src/Yet/Another/Path.idr
Labels: cli: options, enhancement, language: packaging

#1310 Added some light formatting to presentation of times for the compiler.
  src/Compiler/Common.idr
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/Racket.idr
Labels: enhancement, implem: timing

#1308 [ new ] depthFirst, findFile
  libs/contrib/System/Directory/Tree.idr
Labels: enhancement, library: contrib

#1316 [ REPL ] Improving :doc (fixity, totality, colours)
  idris2api.ipkg
  libs/base/Control/App.idr
  libs/prelude/Prelude/Interfaces.idr
  libs/prelude/Prelude/Ops.idr
  src/Core/Core.idr
  src/Core/Name/Namespace.idr
  src/Idris/DocString.idr
  src/Idris/Pretty.idr
  src/Idris/Pretty/Render.idr
  src/Idris/REPL.idr
  src/Idris/Syntax.idr
  src/Libraries/Data/ANameMap.idr
  src/Libraries/Data/StringMap.idr
  tests/Main.idr
  tests/codegen/con001/expected
  tests/idris2/docs001/expected
  tests/idris2/interactive019/expected
  tests/idris2/interactive030/expected
  tests/idris2/interactive030/input
  tests/idris2/interactive030/run
Labels: enhancement, interactive: doc, language: fixity

#1304 Fixes for processPackage
  src/Core/Context.idr
  src/Core/Core.idr
  src/Idris/Package.idr
  src/Idris/REPLOpts.idr
  src/Idris/Syntax.idr
  tests/Main.idr
  tests/idris2/pkg007/run
  tests/idris2/pkg008/Bar.idr
  tests/idris2/pkg008/Foo.idr
  tests/idris2/pkg008/bar.ipkg
  tests/idris2/pkg008/expected
  tests/idris2/pkg008/foo.ipkg
  tests/idris2/pkg008/run
  tests/idris2/pkg009/expected
  tests/idris2/pkg009/run
  tests/idris2/pkg009/testpkg/Main.idr
  tests/idris2/pkg009/testpkg/testpkg.ipkg
Labels: cli: options, language: packaging, status: confirmed bug

#1327 [base] Minor: change the order of terms in the IntegerView
  libs/base/Data/Primitives/Views.idr
Labels: code: refactoring, library: base

#1321 Allow implicit and multiplicities in parameter block arguments
  CHANGELOG.md
  src/Core/TT.idr
  src/Idris/Desugar.idr
  src/Idris/Parser.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/TTImp/Elab/Quote.idr
  src/TTImp/ProcessParams.idr
  src/TTImp/TTImp.idr
  tests/Main.idr
  tests/idris2/basic029/Params.idr
  tests/idris2/params002/ParamsPrint.idr
  tests/idris2/params002/expected
  tests/idris2/params002/input
  tests/idris2/params002/run
Labels: enhancement, implem: parsing, language: parameter blocks, language: quantity, language: telescopes

#1330 PrettyPrint: Fix SimpleDocTree.fromStream dropping parts of documents
  libs/contrib/Text/PrettyPrint/Prettyprinter/SimpleDocTree.idr
  src/Libraries/Text/PrettyPrint/Prettyprinter/SimpleDocTree.idr
Labels: library: contrib, status: confirmed bug

#1318 REPL commands: load-package & fuzzy-search
  idris2api.ipkg
  libs/base/Data/Maybe.idr
  libs/contrib/System/Directory/Tree.idr
  libs/contrib/System/Path.idr
  src/Idris/DocString.idr
  src/Idris/Driver.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/CaseSplit.idr
  src/Idris/IDEMode/Commands.idr
  src/Idris/ModTree.idr
  src/Idris/Package.idr
  src/Idris/Parser.idr
  src/Idris/Pretty.idr
  src/Idris/Pretty/Render.idr
  src/Idris/ProcessIdr.idr
  src/Idris/REPL.idr
  src/Idris/REPL/Common.idr
  src/Idris/REPL/FuzzySearch.idr
  src/Idris/REPL/Opts.idr
  src/Idris/Syntax.idr
  src/Libraries/Data/List/Extra.idr
  src/Libraries/System/Directory/Tree.idr
  src/Libraries/Utils/Path.idr
Labels: cli: repl, documentation, enhancement, interactive: search

#1332 Add identity cast
  libs/prelude/Prelude/Cast.idr
Labels: enhancement, library: prelude

#1338 [ REPL ] Added commands :ti and :opts (#1241)
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  src/Idris/Syntax.idr
Labels: cli: repl, enhancement, event: IDM 2021

#1337 [ fix ] print infix operators with parens
  src/Idris/DocString.idr
  tests/idris2/docs001/expected
  tests/idris2/interactive030/expected
Labels: event: IDM 2021, implem: pretty printing, interactive: doc

#1342 [ fix ] properly handle Namespace blocks for DocStrings
  src/Core/Context.idr
  src/Idris/Desugar.idr
  src/Idris/DocString.idr
  src/TTImp/ProcessDecls.idr
  tests/idris2/docs001/expected
  tests/idris2/docs002/Doc.idr
  tests/idris2/docs002/expected
  tests/idris2/docs002/input
Labels: event: IDM 2021, implem: desugaring, interactive: doc, status: confirmed bug

#1211 [ refactor ] Cleanup integral primops
  src/Compiler/ES/ES.idr
  src/Compiler/Scheme/Common.idr
  src/Core/TT.idr
  support/chez/support.ss
  support/gambit/support.scm
  support/racket/support.rkt
  tests/chez/chez015/Numbers.idr
  tests/chez/chez015/expected
Labels: event: IDM 2021, language: builtin

#1340 [ fix #1169 ] primitive types are not NTCon
  libs/contrib/System/Console/GetOpt.idr
  src/Core/CaseTree.idr
  src/Core/Coverage.idr
  src/Core/Normalise.idr
  src/Core/TT.idr
  src/Core/Value.idr
  src/Parser/Lexer/Source.idr
  tests/Main.idr
  tests/idris2/coverage015/Issue1169.idr
  tests/idris2/coverage015/expected
  tests/idris2/coverage015/run
Labels: event: IDM 2021, safety: coverage

#1348 [ refactor ] type inference and evaluation for the REPL
  src/Idris/REPL.idr
Labels: cli: repl, code: refactoring, event: IDM 2021

#1357 A couple of optimisations
  libs/base/Data/String.idr
  libs/prelude/Prelude/Types.idr
  src/Core/Context.idr
  src/Core/Context/Log.idr
  src/Core/Normalise.idr
  src/Core/Options.idr
  src/Core/Options/Log.idr
  src/Core/UnifyState.idr
  src/Idris/SetOptions.idr
  src/TTImp/TTImp.idr
  tests/idris2/coverage015/expected
Labels: Performance, event: IDM 2021
