Repository idris-lang/Idris2, pull requests merged in 2022-06, with the labels that each got.

#2511 [ IDE ] auto completions
  idris2api.ipkg
  src/Core/Context.idr
  src/Core/Core.idr
  src/Core/Options.idr
  src/Core/Options/Log.idr
  src/Idris/IDEMode/Holes.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
  src/Idris/Syntax/Pragmas.idr
  src/Protocol/IDE/Result.idr
  src/TTImp/Interactive/Completion.idr
Labels: cli: ide-mode, cli: autocompletion

#2497 List proofs
  libs/contrib/Data/List/Equalities.idr
  libs/prelude/Prelude/Types.idr
Labels: enhancement, library: contrib

#2520 Include "showmachinenames" in the output of :opts
  src/Idris/REPL.idr
Labels: status: confirmed bug, cli: repl

#2481 [ re #1282 ] Improve unelaboration of case expressions
  src/Core/Env.idr
  src/TTImp/Unelab.idr
  tests/Main.idr
  tests/idris2/debug001/expected
  tests/idris2/evaluator004/Issue1282.idr
  tests/idris2/evaluator004/expected
  tests/idris2/evaluator004/input
  tests/idris2/evaluator004/run
  tests/idris2/interactive017/expected
Labels: language: case, event: IDM 2022/05, implem: unelaboration

#2532 [ debug ] better eval logging
  src/Core/Normalise/Eval.idr
  src/Core/Options/Log.idr
  src/Core/TT.idr
  src/Core/Value.idr
Labels: enhancement, implem: normalise, interactive: debug

#2541 [ new ] Auto in Agda (+ bonus)
  libs/papers/Search/Auto.idr
  libs/papers/papers.ipkg
Labels: language: reflection, library: papers

#2547 Fix error message for LinearMisuse
  src/Core/Core.idr
Labels: status: confirmed bug

#2550 [ base ] Add a function returning `Dec` for `So`
  libs/base/Data/So.idr
Labels: enhancement, library: base

#2554 [ base ] Various `Language.Reflection` improvements
  libs/base/Language/Reflection/TT.idr
  libs/base/Language/Reflection/TTImp.idr
  tests/idris2/reflection003/expected
Labels: enhancement, library: base

#2562 [ re #2533 ] Fix printing of lazy types and values in `Show TTImp`
  libs/base/Language/Reflection/TTImp.idr
Labels: library: base, discussion: design

#2449 Fix an eta issue in elaborator-reflection
  src/Core/Normalise/Eval.idr
  src/TTImp/Elab/RunElab.idr
  tests/Main.idr
  tests/idris2/reflection016/BindElabScBug.idr
  tests/idris2/reflection016/Eta.idr
  tests/idris2/reflection016/expected
  tests/idris2/reflection016/input
  tests/idris2/reflection016/run
Labels: status: confirmed bug, language: reflection, implem: normalise, implem: elaboration
