Repository idris-lang/Idris2, pull requests merged in 2022-05, with the labels that each got.

#2451 [ doc ] Foldable's `all` is a conjunction
  libs/prelude/Prelude/Interfaces.idr
Labels: typo

#2453 [ fix ] Add missing cases for BITS types in `extractInt`
  support/refc/runtime.c
  tests/refc/issue2452/BitsCase.idr
  tests/refc/issue2452/expected
  tests/refc/issue2452/run
Labels: status: confirmed bug, backend: refc, language: builtin

#2465 [ fix ] Improve Double consistency when casting from String on Scheme backends
  support/chez/ct-support.ss
  support/chez/support.ss
  support/gambit/support.scm
  support/racket/ct-support.rkt
  support/racket/support.rkt
  tests/Main.idr
  tests/allbackends/issue2362/Issue2362.idr
  tests/allbackends/issue2362/expected
  tests/allbackends/issue2362/run
  tests/allschemes/scheme001/CastStringDouble.idr
  tests/allschemes/scheme001/expected
  tests/allschemes/scheme001/input
  tests/allschemes/scheme001/run
Labels: status: confirmed bug, language: float, implem: cast

#2466 [ new ] `:exec` for RefC
  libs/test/Test/Golden.idr
  src/Compiler/ES/Node.idr
  src/Compiler/RefC/RefC.idr
  tests/Main.idr
Labels: backend: refc, implem: exec

#2470 [ fix ] missing rigs in doc type signatures
  src/Idris/Doc/String.idr
  tests/idris2/docs003/expected
Labels: language: quantity, language: record projection, interactive: doc

#2480 [ refactoring ] expose some internals needed by Katla
  src/Idris/Parser.idr
  src/Libraries/Text/Literate.idr
  tests/ideMode/ideMode005/expectedI
Labels: language: literate, code: refactoring

#2485 [ fix ] missing Show implementation
  src/Libraries/Text/Literate.idr
Labels: event: IDM 2022/05

#2483 [ new ] Katla-powered landing page
  .github/linters/.markdown-lint.yml
  .github/workflows/ci-idris2.yml
  libs/prelude/PrimIO.idr
  www/README.md
  www/katla.sh
  www/source/index.md
Labels: documentation, event: IDM 2022/05

#2486 [ refactor ] Support alternative `Eq` implementations for `TTImp`
  libs/base/Language/Reflection/TTImp.idr
Labels: language: reflection, code: refactoring, library: base, event: IDM 2022/05

#2484 [ doc ] cookbook for parsing
  docs/source/cookbook/Calculator.idr
  docs/source/cookbook/LambdaCalculus.idr
  docs/source/cookbook/index.rst
  docs/source/cookbook/parsing.rst
  docs/source/index.rst
Labels: documentation, implem: parsing, event: IDM 2022/05

#2490 [ IDE ] refine command
  docs/source/implementation/ide-protocol.rst
  idris2api.ipkg
  src/Core/Env.idr
  src/Core/Options/Log.idr
  src/Core/TT/Views.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/Protocol/IDE/Command.idr
  src/TTImp/Utils.idr
  tests/idris2/docs004/expected
Labels: cli: ide-mode, interactive: refine

#2501 [ fix ] Actually send an answer back to IDE mode
  src/Idris/IDEMode/REPL.idr
Labels: status: confirmed bug, cli: ide-mode

#2505 [ prelude ] Add Range implementation for Char
  libs/prelude/Prelude/Types.idr
  tests/prelude/char001/chars.idr
  tests/prelude/char001/expected
  tests/prelude/char001/run
Labels: enhancement, library: prelude

#2499 [ fix #2493 ] Put `%runElab` smartly in a call of `%macro`
  src/TTImp/Elab/Ambiguity.idr
  tests/Main.idr
  tests/idris2/reflection015/MacroRetFunc.idr
  tests/idris2/reflection015/expected
  tests/idris2/reflection015/run
Labels: status: confirmed bug, language: reflection

#2502 [ IDE ] intro command
  docs/source/implementation/ide-protocol.rst
  idris2api.ipkg
  src/Core/Env.idr
  src/Core/TT.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  src/Idris/REPL/Common.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/Protocol/IDE/Command.idr
  src/Protocol/IDE/Result.idr
  src/Protocol/SExp.idr
  src/TTImp/Interactive/CaseSplit.idr
  src/TTImp/Interactive/ExprSearch.idr
  src/TTImp/Interactive/Intro.idr
  src/TTImp/Utils.idr
Labels: enhancement, cli: ide-mode, interactive: intro

#2509 [ fix ] semantic highlighting in IDE mode
  src/Core/Options/Log.idr
  src/Idris/IDEMode/REPL.idr
  tests/ideMode/ideMode005/Holes.idr
  tests/ideMode/ideMode005/expectedJ
  tests/ideMode/ideMode005/inputJ
  tests/ideMode/ideMode005/regenerate
  tests/ideMode/ideMode005/run
Labels: status: confirmed bug, cli: ide-mode, interactive: hole, ide: highlighting

#2514 fix typo in interactive.rst
  docs/source/tutorial/interactive.rst
Labels: typo
