Repository idris-lang/Idris2, pull requests merged in 2022-07, with the labels that each got.

#2570 Remove implicit argument in documentation for parseDouble
  libs/base/Data/String.idr
Labels: documentation

#2568 [ new ] deriving Functor
  libs/base/Deriving/Functor.idr
  libs/base/Language/Reflection.idr
  libs/base/Language/Reflection/TTImp.idr
  libs/base/base.ipkg
  src/TTImp/Elab/RunElab.idr
  tests/Main.idr
  tests/idris2/reflection017/DeriveFunctor.idr
  tests/idris2/reflection017/Search.idr
  tests/idris2/reflection017/expected
  tests/idris2/reflection017/run
Labels: status: confirmed bug, language: reflection, library: base

#2571 [ cleanup ] Fewer assert_total in deriving Functor
  libs/base/Deriving/Functor.idr
  tests/idris2/reflection017/expected
Labels: library: base, code: cleanup

#2578 [ cleanup ] add proper depends field to network.ipkg
  libs/network/network.ipkg
Labels: admin: packaging, code: cleanup

#2587 Allow for proofs involving parsing numbers from strings.
  libs/base/Data/String.idr
  tests/base/data_string_parse_proof/StringParse.idr
  tests/base/data_string_parse_proof/expected
  tests/base/data_string_parse_proof/run
Labels: library: base

#2591 [ new ] extend Deriving.Functor to (non-strictly) positive functors
  libs/base/Deriving/Functor.idr
  libs/base/Language/Reflection/TTImp.idr
  tests/idris2/reflection017/DeriveFunctor.idr
  tests/idris2/reflection017/expected
Labels: enhancement, language: reflection, library: base

#2555 Fix issue with case inside a Pi type.
  src/TTImp/Elab/Binders.idr
  tests/idris2/reg051/expected
  tests/idris2/reg051/run
  tests/idris2/reg051/test.idr
Labels: status: confirmed bug, language: quantity, implem: elaboration

#2600 [ fix ] custom backend doc
  docs/source/backends/custom.rst
Labels: documentation, status: confirmed bug
