Repository idris-lang/Idris2, pull requests merged in 2022-01, with the labels that each got.

#2155 Injective follow-up
  CHANGELOG.md
  libs/base/Control/Function.idr
  libs/contrib/Data/Nat/Factor.idr
Labels: library: base, code: cleanup

#2238 [ refactor ] More IDE protocol
  CHANGELOG.md
  docs/source/implementation/ide-protocol.rst
  idris2api.ipkg
  idris2protocols.ipkg.hide
  src/Idris/IDEMode/Parser.idr
  src/Protocol/SExp/Parser.idr
Labels: code: refactoring, cli: ide-mode

#2230 [cleanup] Unhide string module
  libs/base/Data/String.idr
  src/Core/Case/CaseBuilder.idr
  src/Core/Coverage.idr
  src/Core/Name.idr
  src/Core/Name/Namespace.idr
  src/Idris/Desugar.idr
  src/Idris/Doc/HTML.idr
  src/Idris/Doc/Keywords.idr
  src/Idris/Doc/String.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/CaseSplit.idr
  src/Idris/IDEMode/Holes.idr
  src/Idris/ModTree.idr
  src/Idris/Package.idr
  src/Idris/Pretty.idr
  src/Idris/ProcessIdr.idr
  src/Idris/REPL.idr
  src/Idris/REPL/Common.idr
  src/Idris/REPL/Opts.idr
  src/Idris/SetOptions.idr
  src/Libraries/Data/String/Extra.idr
  src/Libraries/Text/Literate.idr
  src/Libraries/Text/PrettyPrint/Prettyprinter/Doc.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Rule/Source.idr
  src/TTImp/ProcessDef.idr
Labels: code: cleanup

#2243 [ fix ] mutual tail recursion
  src/Compiler/ES/TailRec.idr
Labels: status: confirmed bug, backend: javascript, implem: tail call

#2240 Change associativity for System.Path operators
  libs/contrib/System/Path.idr
  src/Libraries/Utils/Path.idr
Labels: status: confirmed bug, library: contrib, discussion: design

#2258 Added the shiftr function clause for Integer.
  src/Core/Primitives.idr
Labels: status: confirmed bug, language: literals

#2266 Update typedd.rst - Exercise 2 of 8.2.5
  docs/source/typedd/typedd.rst
Labels: doc: typedd

#2163 Things I wish we had for AoC
  libs/base/System.idr
Labels: library: base

#2272 Add Singleton type
  libs/base/Data/Singleton.idr
  libs/base/base.ipkg
  tests/base/data_singleton/RLE.idr
  tests/base/data_singleton/expected
  tests/base/data_singleton/run
  tests/idris2/casetree001/Issue762.idr
Labels: enhancement, library: base

#2262 [ totality ] Data.String.words should be total
  libs/base/Data/String.idr
Labels: enhancement, library: base

#2256 [ new ] optional language version field to ipkg files.
  CHANGELOG.md
  docs/source/reference/packages.rst
  src/Idris/Package.idr
  src/Idris/Package/Types.idr
  tests/Main.idr
  tests/idris2/pkg006/expected
  tests/idris2/pkg012/Main.idr
  tests/idris2/pkg012/expected
  tests/idris2/pkg012/run
  tests/idris2/pkg012/testpkg.ipkg
Labels: enhancement, language: packaging

#2264 [ new ] Add fixities' FC to the syntax info.
  src/Core/Binary.idr
  src/Idris/Desugar.idr
  src/Idris/Doc/String.idr
  src/Idris/Syntax.idr
Labels: implem: desugaring, implem: ttc

#2273 Add Fin modular arithmetic Num instance
  libs/base/Data/Fin.idr
  tests/base/data_fin/Num.idr
  tests/base/data_fin/expected
  tests/base/data_fin/fromInteger.idr
  tests/base/data_fin/run
  tests/base/data_fin001/expected
Labels: enhancement, library: base

#2278 [ fix ] properly decorating pragmas / keywords
  src/Idris/Parser.idr
  tests/ideMode/ideMode005/expected1
  tests/ideMode/ideMode005/expected5
  tests/ideMode/ideMode005/expected7
  tests/ideMode/ideMode005/expectedH
Labels: status: confirmed bug, ide: highlighting

#2280 [ fix ] add let in JS array conversion
  support/js/support.js
Labels: status: confirmed bug, backend: javascript, library: support

#2188 [fix #2033] determining when to rebuild modules
  src/Compiler/Opts/InlineHeuristics.idr
  src/Core/Binary.idr
  src/Core/Options/Log.idr
  src/Idris/ModTree.idr
  src/Idris/ProcessIdr.idr
  src/TTImp/ProcessData.idr
  src/TTImp/ProcessDef.idr
  src/TTImp/ProcessTransform.idr
  src/TTImp/ProcessType.idr
  tests/Main.idr
  tests/idris2/inlining001/Inlining.idr
  tests/idris2/inlining001/expected
  tests/idris2/inlining001/input
  tests/idris2/inlining001/run
  tests/idris2/reg042/expected
Labels: scope: public, implem: import, inlining, event: IDM 2021/12

#2100 [ opt ] transform rule making List.length tail-recursive.
  libs/base/Data/List.idr
  libs/prelude/Prelude/Types.idr
  tests/node/tailrec_libs/expected
  tests/node/tailrec_libs/tailrec.idr
Labels: performance, library: prelude, discussion: design

#2284 [ syntax ] Namespaced idiom brackets
  src/Idris/Desugar.idr
  src/Idris/Parser.idr
  src/Idris/Pretty.idr
  src/Idris/Syntax.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Rule/Source.idr
  tests/Main.idr
  tests/idris2/idiom001/Main.idr
  tests/idris2/idiom001/expected
  tests/idris2/idiom001/input
  tests/idris2/idiom001/run
  tests/idris2/perror007/expected
Labels: enhancement, language: namespace, syntax, language: idiom

#2213 [ libs ] move propaganda out of contrib
  Makefile
  libs/base/Data/Nat.idr
  libs/contrib/contrib.ipkg
  libs/linear/Data/Linear/LEither.idr
  libs/linear/Data/Linear/LMaybe.idr
  libs/linear/Data/Linear/LVect.idr
  libs/linear/Data/Linear/Notation.idr
  libs/linear/Data/Linear/Pow.idr
  libs/linear/Makefile
  libs/linear/linear.ipkg
  libs/papers/Data/Container.idr
  libs/papers/Data/INTEGER.idr
  libs/papers/Data/InductionRecursion/DybjerSetzer.idr
  libs/papers/Data/Linear/Communications.idr
  libs/papers/Data/Linear/Diff.idr
  libs/papers/Data/Linear/Inverse.idr
  libs/papers/Data/OpenUnion.idr
  libs/papers/Data/Recursion/Free.idr
  libs/papers/Data/Tree/Perfect.idr
  libs/papers/Data/Vect/Binary.idr
  libs/papers/Makefile
  libs/papers/Search/Generator.idr
  libs/papers/Search/HDecidable.idr
  libs/papers/Search/Negation.idr
  libs/papers/Search/Properties.idr
  libs/papers/papers.ipkg
  libs/prelude/Builtin.idr
  libs/prelude/Prelude/EqOrd.idr
Labels: library: contrib, code: cleanup, library: papers

#2209 [ fix #2208 ] Add interactive commands to help message
  src/Idris/Parser.idr
  src/Idris/REPL.idr
Labels: interactive: doc

#1454 [contrib] A finger tree implementation
  libs/contrib/Data/Seq/Internal.idr
  libs/contrib/Data/Seq/Sized.idr
  libs/contrib/Data/Seq/Unsized.idr
  libs/contrib/contrib.ipkg
Labels: library: contrib

#2291 [ fix ] expose Data.Seq.Internal
  libs/contrib/contrib.ipkg
Labels: status: confirmed bug, library: contrib

#2292 [ new ] Dependent Tagless Final
  libs/papers/Language/Tagless.idr
  libs/papers/papers.ipkg
Labels: library: papers
