Repository idris-lang/Idris2, pull requests merged in 2022-11, with the labels that each got.

#2659 [ papers ] A Completely Unique Account of Enumeration
  libs/papers/Data/Description/Indexed.idr
  libs/papers/Data/Description/Regular.idr
  libs/papers/Data/Enumerate.idr
  libs/papers/Data/Enumerate/Common.idr
  libs/papers/Data/Enumerate/Indexed.idr
  libs/papers/papers.ipkg
Labels: enhancement, performance, library: papers

#2684 [ new ] put TTC files in a version-tagged directory
  src/Compiler/Scheme/Chez.idr
  src/Core/Context.idr
  src/Core/Directory.idr
  src/Idris/Package.idr
  src/Idris/REPL.idr
  src/Idris/SetOptions.idr
  tests/Main.idr
  tests/chez/chez035/run
  tests/idris2/import008/Exe/Mod.idr
  tests/idris2/import008/Exe/depends/lib-0
  tests/idris2/import008/Exe/exe.ipkg
  tests/idris2/import008/Lib/Conf.idr
  tests/idris2/import008/Lib/lib.ipkg
  tests/idris2/import008/expected
  tests/idris2/import008/run
  tests/idris2/pkg010/run
  tests/idris2/reg043/NotFake.idr
  tests/idris2/reg043/expected
  tests/idris2/reg043/run
  tests/idris2/total012/run
  tests/templates/ttimp/run
  tests/ttimp/basic001/run
  tests/ttimp/basic003/run
  tests/ttimp/lazy001/run
  tests/ttimp/record001/run
  tests/ttimp/record003/run
  tests/ttimp/record004/run
Labels: enhancement, implem: ttc

#2741 [ new ] deriving Show
  libs/base/Data/SnocList.idr
  libs/base/Deriving/Common.idr
  libs/base/Deriving/Foldable.idr
  libs/base/Deriving/Functor.idr
  libs/base/Deriving/Show.idr
  libs/base/Deriving/Traversable.idr
  libs/base/base.ipkg
  tests/base/deriving_foldable/DeriveFoldable.idr
  tests/base/deriving_foldable/expected
  tests/base/deriving_functor/DeriveFunctor.idr
  tests/base/deriving_functor/expected
  tests/base/deriving_show/DeriveShow.idr
  tests/base/deriving_show/Search.idr
  tests/base/deriving_show/expected
  tests/base/deriving_show/input
  tests/base/deriving_show/run
  tests/base/deriving_traversable/expected
Labels: language: reflection, library: base

#2743 [ new ] typed SECD
  libs/contrib/Data/Late.idr
  libs/papers/Language/IntrinsicTyping/SECD.idr
  libs/papers/Language/IntrinsicTyping/STLCR.idr
  libs/papers/papers.ipkg
Labels: library: papers

#2753 [ doc ] Add :doc for unquotes
  CHANGELOG.md
  src/Idris/Doc/String.idr
Labels: documentation, enhancement, cli: repl

#2755 [ new ] typed ABT
  libs/papers/Language/IntrinsicTyping/ABT.idr
  libs/papers/papers.ipkg
Labels: library: papers

#2754 [ re #2742 ] Count no. processors online rather than configured
  CHANGELOG.md
  support/c/idris_support.c
Labels: library: support

#2758 Altered for ``Exception`` to reflect the code changes in Control.App
  docs/source/app/exceptionsstate.rst
Labels: documentation, enhancement

#2764 [ base ] Deprecate setByte in favour of setBits8
  CHANGELOG.md
  libs/base/Data/Buffer.idr
  src/Core/Binary/Prims.idr
  tests/chez/chez004/Buffer.idr
  tests/refc/buffer/TestBuffer.idr
Labels: library: base

#2765 [ re #2649 ] Update CHANGELOG
  CHANGELOG.md
Labels: documentation

#2609 [RefC] Add 16 and 32 bit access to base/Data.Buffer .
  CHANGELOG.md
  libs/base/Data/Buffer.idr
  support/refc/buffer.c
  support/refc/buffer.h
  tests/refc/buffer/TestBuffer.idr
  tests/refc/buffer/expected
Labels: enhancement, backend: refc, language: ffi

#2781 [ error ] Improve parse errors in implicit arguments
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/perror021/Implicit.idr
  tests/idris2/perror021/expected
  tests/idris2/perror021/run
Labels: error: bad message, implem: parsing

#2700 [ base ] Move the worker outside of the Vect's `reverse` definition
  libs/base/Data/Vect.idr
Labels: library: base, status: abandoned

#2757 Update introapp.rst
  docs/source/app/introapp.rst
Labels: documentation, enhancement

#2783 [ parser ] fix issue where indentation is not checked in record params
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/perror022/Indent.idr
  tests/idris2/perror022/expected
  tests/idris2/perror022/run
Labels: status: confirmed bug, language: record, implem: parsing
