Repository idris-lang/Idris2, pull requests merged in 2022-08, with the labels that each got.

#2611 [ fix ] Remove stray ")" in Show instance for Term
  src/Core/TT.idr
  tests/idris2/basic044/expected
Labels: status: confirmed bug

#2621 [ fix ] Add missing reserved words to JS backend
  src/Compiler/ES/Codegen.idr
Labels: status: confirmed bug, backend: javascript

#2619 [ fix ] more filtering of invalid datatypes
  libs/base/Deriving/Functor.idr
  tests/idris2/reflection017/DeriveFunctor.idr
  tests/idris2/reflection017/expected
Labels: status: confirmed bug, library: base

#2632 [ fix ] support for implicits in Deriving.Functor
  libs/base/Deriving/Common.idr
  libs/base/Deriving/Functor.idr
  libs/base/Language/Reflection/TTImp.idr
  tests/idris2/reflection017/DeriveFunctor.idr
  tests/idris2/reflection017/expected
Labels: enhancement, library: base
