Repository idris-lang/Idris2, pull requests merged in 2022-12, with the labels that each got.

#2780 [ papers ] LambdaPi
  libs/papers/Language/IntrinsicScoping/TypeTheory.idr
  libs/papers/Language/IntrinsicScoping/Variables.idr
  libs/papers/Language/TypeTheory.idr
  libs/papers/papers.ipkg
Labels: library: papers

#2784 [ ci ] Replace deprecated feature with its functional equivalent
  .github/workflows/ci-bootstrap.yml
  .github/workflows/ci-idris2.yml
Labels: admin: continuous-integration, code: maintenance

#2792 [ papers ] fill last hole in lambda pi formalisation
  libs/papers/Language/IntrinsicScoping/TypeTheory.idr
  libs/papers/Language/IntrinsicScoping/Variables.idr
Labels: library: papers

#2797 [ re #2785 ] test for io_bind inlining
  tests/Main.idr
  tests/chez/inlineiobind/Check.idr
  tests/chez/inlineiobind/Main.idr
  tests/chez/inlineiobind/expected
  tests/chez/inlineiobind/run
Labels: performance

#2798 [ perf ] cherrypick fast weakenNVar from yaffle
  src/Core/TT.idr
Labels: performance

#2799 [ perf ] use integers in the buffer state
  src/Core/Binary/Prims.idr
  src/Libraries/Utils/Binary.idr
Labels: performance, event: IDM 2022/12

#2800 [ perf ] compile Core.CompileExpr.Pretty faster
  src/Core/CompileExpr/Pretty.idr
  src/TTImp/Elab/Ambiguity.idr
Labels: performance, event: IDM 2022/12

#2803 Improve parser error messages when using reserved identifiers in decls
  src/Idris/Parser.idr
  src/Parser/Rule/Source.idr
  tests/Main.idr
  tests/idris2/perror023/ParseError.idr
  tests/idris2/perror023/expected
  tests/idris2/perror023/run
  tests/idris2/perror024/ParseError.idr
  tests/idris2/perror024/expected
  tests/idris2/perror024/run
Labels: error: bad message, implem: parsing, event: IDM 2022/12

#2786 Let qualified do-notation apply to `pure` and to idiom brackets
  src/Idris/Desugar.idr
  tests/Main.idr
  tests/idris2/namespace003/Test.idr
  tests/idris2/namespace003/expected
  tests/idris2/namespace003/run
Labels: language: do-notation, language: idiom, scope: qualified, event: IDM 2022/12, language: ambiguity

#2802 [ admin ] Fix PR template (hopefully)
  .github/pull_request_template.md
Labels: admin: meta, event: IDM 2022/12

#2806 [ new ] logging topics autocompletion in the emacs REPL
  src/TTImp/Interactive/Completion.idr
Labels: cli: ide-mode, interactive: debug, cli: autocompletion, event: IDM 2022/12

#2810 Various ci improvements
  .github/workflows/ci-idris2.yml
Labels: admin: continuous-integration

#2805 Add `mustWork` in GADT data declaration parser
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/perror025/DataWhere.idr
  tests/idris2/perror025/expected
  tests/idris2/perror025/run
Labels: error: bad message, implem: parsing, event: IDM 2022/12

#2811 [ fix ] jump-to-definition (":name-at" IDE command)
  src/Core/Context.idr
  src/Core/Directory.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/Package.idr
  tests/Main.idr
  tests/idris2/pkg017/a1/A.idr
  tests/idris2/pkg017/a1/a1.ipkg
  tests/idris2/pkg017/a2/A.idr
  tests/idris2/pkg017/a2/a2.ipkg
  tests/idris2/pkg017/b1/b1.ipkg
  tests/idris2/pkg017/b1/src/B1.idr
  tests/idris2/pkg017/b2/b2.ipkg
  tests/idris2/pkg017/b2/src/B2.idr
  tests/idris2/pkg017/expected.in
  tests/idris2/pkg017/gen_expected.sh
  tests/idris2/pkg017/input1
  tests/idris2/pkg017/input2
  tests/idris2/pkg017/run
Labels: status: confirmed bug, cli: ide-mode, event: IDM 2022/12

#2816 [ fix ] elaboration of records' telescopes of parameters
  .github/workflows/ci-idris2.yml
  CHANGELOG.md
  libs/base/Language/Reflection/TTImp.idr
  src/Core/Core.idr
  src/Core/Options/Log.idr
  src/Idris/Desugar.idr
  src/Idris/Desugar/Mutual.idr
  src/Idris/Elab/Interface.idr
  src/Idris/Parser.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/Idris/Syntax/Traversals.idr
  src/TTImp/Elab/Quote.idr
  src/TTImp/Elab/Rewrite.idr
  src/TTImp/Parser.idr
  src/TTImp/ProcessData.idr
  src/TTImp/ProcessDecls.idr
  src/TTImp/ProcessRecord.idr
  src/TTImp/TTImp.idr
  src/TTImp/TTImp/Functor.idr
  src/TTImp/TTImp/Traversals.idr
  src/TTImp/Utils.idr
  tests/Main.idr
  tests/idris2/data002/Test.idr
  tests/idris2/data002/expected
  tests/idris2/data002/input
  tests/idris2/data002/run
  tests/idris2/record009/expected
  tests/idris2/record009/record.idr
  tests/idris2/record019/BindParams.idr
  tests/idris2/record019/expected
  tests/idris2/record019/run
  tests/idris2/reflection014/refdecl.idr
Labels: status: confirmed bug, language: record, language: generalisation

#2819 [ new ] __LOC__, __FILE__, __LINE__, __COL__ magic debug strings
  CHANGELOG.md
  src/Idris/Parser.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Rule/Source.idr
  tests/Main.idr
  tests/idris2/basic069/DebugInfo.idr
  tests/idris2/basic069/expected
  tests/idris2/basic069/run
  tests/idris2/interactive028/expected
  tests/idris2/perror007/expected
  tests/idris2/perror014/expected
Labels: implem: parsing, interactive: debug

#2817 [ performance ] Compile non-recursive top-level constants to constants in Chez
  CHANGELOG.md
  idris2api.ipkg
  src/Compiler/Opts/CSE.idr
  src/Compiler/Opts/ToplevelConstants.idr
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/ChezSep.idr
  src/Compiler/Scheme/Common.idr
  src/Compiler/Scheme/Gambit.idr
  src/Compiler/Scheme/Racket.idr
Labels: performance, backend: chez
