Repository idris-lang/Idris2, pull requests merged in 2022-09, with the labels that each got.

#2637 [ base ] Implement `MonadError ()` for `MaybeT`
  libs/base/Control/Monad/Error/Interface.idr
Labels: enhancement, library: base

#2635 [ doc ] Add instructions for installing chez scheme on M1 / M2 macs #2233
  INSTALL.md
Labels: documentation, Installation Issue, os: mac

#2636 Fix typing of `connect` in network's Linear module, and add bytes-specific functions
  CHANGELOG.md
  CONTRIBUTORS
  libs/network/Control/Linear/Network.idr
Labels: enhancement, status: confirmed bug, library: network

#2610 [RefC] add missing symbols of showcCleanStringChar
  src/Compiler/RefC/RefC.idr
Labels: status: confirmed bug, backend: refc

#2623 Warning for shadowed local bindings
  src/Compiler/LambdaLift.idr
  src/Core/Context.idr
  src/Core/Core.idr
  src/Idris/Error.idr
  src/TTImp/ProcessType.idr
  tests/idris2/basic049/Fld.idr
  tests/idris2/basic049/expected
Labels: implem: scope, error: warning

#2613 [RefC] Add sysCodegen primitive to avoid compiler error.
  support/refc/prim.c
  support/refc/prim.h
Labels: enhancement, backend: refc, language: ffi

#2653 [ fix ] issue 2616
  support/js/support.js
Labels: status: confirmed bug, implem: scope, backend: javascript

#2665 [ parser ] Make commitKeyword fail fatally
  src/Idris/Parser.idr
  tests/idris2/perror016/ParseIf3.idr
  tests/idris2/perror016/expected
  tests/idris2/perror016/run
Labels: enhancement, error: bad message, implem: parsing

#2661 [ papers ] Computing with Generic Trees
  libs/papers/Data/W.idr
  libs/papers/papers.ipkg
Labels: implem: eta, library: papers

#2630 [ base ] implement `decEq` for `SnocList`
  libs/base/Control/Function.idr
  libs/base/Data/SnocList.idr
  libs/base/Decidable/Equality.idr
Labels: enhancement, library: base

#2668 [ new ] Handle forward declarations of implementations
  src/Idris/Elab/Implementation.idr
  tests/Main.idr
  tests/idris2/interface029/ForwardImpl1.idr
  tests/idris2/interface029/ForwardImpl2.idr
  tests/idris2/interface029/ForwardImpl3.idr
  tests/idris2/interface029/expected
  tests/idris2/interface029/run
Labels: enhancement, language: interface, language: forward-definition

#2662 [ performance ] constant folding for all integral expressions
  libs/prelude/Builtin.idr
  libs/prelude/Prelude/Cast.idr
  src/Compiler/Opts/ConstantFold.idr
  tests/Main.idr
  tests/chez/constfold/Check.idr
  tests/chez/constfold/Fold.idr
  tests/chez/constfold/expected
  tests/chez/constfold/input
  tests/chez/constfold/run
  tests/codegen/builtin001/expected
Labels: backends, language: builtin

#2650 [ fix ] showTime pads nanoseconds properly
  libs/base/System/Clock.idr
Labels: status: confirmed bug, library: base

#2674 [ parse ] better error messages for records
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/perror018/ParseRecord.idr
  tests/idris2/perror018/ParseRecord2.idr
  tests/idris2/perror018/ParseRecord3.idr
  tests/idris2/perror018/expected
  tests/idris2/perror018/run
Labels: error: bad message, language: record, implem: parsing

#2673 [ debug ] Log when stuck because fn out of scope
  src/Core/Normalise/Eval.idr
  src/Core/Options/Log.idr
  tests/idris2/evaluator002/expected
Labels: enhancement, implem: normalise, interactive: debug

#2657 [ base ] Add a variant of `System.run` allowing processing on the fly
  libs/base/System.idr
Labels: enhancement, library: base

#2682 [ parse ] Add fc to IPragma for better error messages
  src/Idris/Desugar.idr
  src/Idris/Resugar.idr
  src/TTImp/ProcessDecls.idr
  src/TTImp/Reflect.idr
  src/TTImp/TTImp.idr
  src/TTImp/TTImp/Functor.idr
  src/TTImp/TTImp/TTC.idr
  src/TTImp/TTImp/Traversals.idr
  src/TTImp/Utils.idr
  tests/Main.idr
  tests/idris2/perror019/ImplError.idr
  tests/idris2/perror019/expected
  tests/idris2/perror019/run
Labels: enhancement, error: bad message

#2687 [ golden ] Split runner to be able to run with custom options
  libs/test/Test/Golden.idr
Labels: enhancement, library: test

#2692 [ refactor ] use BitsXY for enum types during codegen
  src/Compiler/CompileExpr.idr
  src/Core/Binary.idr
  src/Core/CompileExpr.idr
  src/Core/Hash.idr
  src/Core/TTC.idr
  src/TTImp/ProcessData.idr
  tests/codegen/enum/Check.idr
  tests/codegen/enum/Enum.idr
  tests/codegen/enum/expected
  tests/codegen/enum/input
  tests/codegen/enum/run
Labels: performance, backends
