Repository idris-lang/Idris2, pull requests merged in 2022-02, with the labels that each got.

#2293 [ linear ] add utilities for linear datastructures
  libs/linear/Data/Linear.idr
  libs/linear/Data/Linear/Bifunctor.idr
  libs/linear/Data/Linear/Copies.idr
  libs/linear/Data/Linear/Interface.idr
  libs/linear/Data/Linear/LEither.idr
  libs/linear/Data/Linear/LList.idr
  libs/linear/Data/Linear/LMaybe.idr
  libs/linear/Data/Linear/LNat.idr
  libs/linear/Data/Linear/LVect.idr
  libs/linear/Data/Linear/Notation.idr
  libs/linear/Data/Linear/Pow.idr
  libs/linear/linear.ipkg
  libs/papers/Data/Linear/Communications.idr
  libs/papers/Data/Linear/Diff.idr
  libs/papers/Data/Linear/Inverse.idr
Labels: enhancement, library: linear

#2298 [ base ] Generalise existing min-max semigroups and add monoid for `Fin`
  libs/base/Control/Ord.idr
  libs/base/Data/Fin.idr
  libs/base/Data/Nat.idr
  libs/base/base.ipkg
Labels: enhancement, library: base

#2294 [ refactor ] Abstract Prelude.elem to work with all Foldables
  .github/workflows/ci-idris2.yml
  CHANGELOG.md
  libs/base/Data/List.idr
  libs/base/Data/SnocList.idr
  libs/base/Data/Vect.idr
  libs/prelude/Prelude/Types.idr
  src/Compiler/Common.idr
  src/Compiler/RefC/RefC.idr
  src/Idris/Doc/String.idr
  src/Idris/SetOptions.idr
  src/TTImp/Elab/Ambiguity.idr
  tests/idris2/basic019/expected
  tests/typedd-book/chapter03/expected
  tests/typedd-book/chapter08/expected
Labels: code: refactoring, library: base, library: prelude

#2300 [ cleanup ] silence warnings in libs
  libs/linear/Data/Linear/LVect.idr
  libs/papers/Data/Linear/Communications.idr
Labels: code: cleanup, library: papers, library: linear

#1595 [ base,tests ] Reduce dependency on `contrib`
  libs/test/Test/Golden.idr
  libs/test/test.ipkg
Labels: performance, code: refactoring, library: test

#2311 [ new ] A couple of nearly trivial proofs about list length.
  libs/base/Data/List.idr
  libs/base/Data/List1.idr
Labels: enhancement, library: base

#2313 [ fix ] Flush standard when prompting for package information
  src/Idris/Package/Init.idr
Labels: status: confirmed bug, cli: package init

#2316 [ linear ] These seem useful
  libs/linear/Data/Linear/Interface.idr
  libs/linear/Data/Linear/LVect.idr
  libs/linear/Data/Linear/List/LQuantifiers.idr
  libs/linear/Data/Linear/Notation.idr
  libs/linear/linear.ipkg
Labels: enhancement, library: linear

#2302 [ base ] Split a list according to a decidable property
  CHANGELOG.md
  libs/base/Data/List/Quantifiers.idr
Labels: library: base

#2310 [ cleanup ] Remove unused `get`'s, replace `get+put` with `update`
  src/Compiler/ES/Codegen.idr
  src/Compiler/LambdaLift.idr
  src/Compiler/RefC/RefC.idr
  src/Core/AutoSearch.idr
  src/Core/Binary.idr
  src/Core/Context.idr
  src/Core/LinearCheck.idr
  src/Core/Metadata.idr
  src/Core/SchemeEval/Quote.idr
  src/Core/Transform.idr
  src/Core/Unify.idr
  src/Core/UnifyState.idr
  src/Idris/Desugar.idr
  src/Idris/Doc/String.idr
  src/Idris/Driver.idr
  src/Idris/Elab/Interface.idr
  src/Idris/ModTree.idr
  src/Idris/Package.idr
  src/Idris/ProcessIdr.idr
  src/Idris/REPL.idr
  src/Idris/REPL/Common.idr
  src/Idris/REPL/Opts.idr
  src/TTImp/Elab.idr
  src/TTImp/Elab/Ambiguity.idr
  src/TTImp/Elab/App.idr
  src/TTImp/Elab/As.idr
  src/TTImp/Elab/Check.idr
  src/TTImp/Elab/Delayed.idr
  src/TTImp/Elab/ImplicitBind.idr
  src/TTImp/Elab/Local.idr
  src/TTImp/Elab/Quote.idr
  src/TTImp/Elab/Term.idr
  src/TTImp/Elab/Utils.idr
  src/TTImp/Interactive/CaseSplit.idr
  src/TTImp/Interactive/ExprSearch.idr
  src/TTImp/PartialEval.idr
  src/TTImp/ProcessDef.idr
  src/TTImp/ProcessRecord.idr
  src/Yaffle/Main.idr
Labels: code: cleanup

#2322 B is defined as proposition y=z
  docs/source/proofs/definitional.rst
Labels: documentation, typo

#2324 [ prelude ] Ease `Compose` compositions
  libs/prelude/Prelude/Interfaces.idr
Labels: library: prelude, code: cleanup

#2321 [ new ] Add a `Monoid` instance of the `f a` where `f` is `Applicative`
  libs/prelude/Prelude/Interfaces.idr
Labels: enhancement, library: prelude

#2308 [ network ] add binary support for socket + fix recvAll
  libs/network/Network/FFI.idr
  libs/network/Network/Socket.idr
  support/c/idris_net.c
  support/c/idris_net.h
Labels: enhancement, status: confirmed bug, library: network

#2328 [ doc ] REPL's :doc should support brackets too
  src/Idris/Doc/String.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
Labels: language: idiom, interactive: doc

#2312 [ fix ] Literate things
  libs/base/Data/List.idr
  libs/base/Data/SnocList.idr
  libs/contrib/System/Path.idr
  libs/prelude/Builtin.idr
  libs/prelude/Prelude/Basics.idr
  libs/test/Test/Golden.idr
  src/Core/Directory.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/Package/Init.idr
  src/Libraries/Data/List/Extra.idr
  src/Libraries/Utils/Path.idr
  src/Parser/Unlit.idr
  tests/Main.idr
  tests/base/data_list002/Prefix.idr
  tests/base/data_list002/expected
  tests/base/data_list002/run
  tests/idris2/basic041/expected
  tests/idris2/error018/expected
  tests/idris2/interpreter008/expected
  tests/idris2/literate017/.gitignore
  tests/idris2/literate017/expected
  tests/idris2/literate017/input
  tests/idris2/literate017/project-expected.ipkg
  tests/idris2/literate017/run
  tests/idris2/literate017/src/A/A.org
  tests/idris2/literate017/src/A/AB.lidr
  tests/idris2/literate017/src/B/B.md
  tests/idris2/literate017/src/B/BA.markdown
  tests/idris2/literate017/src/Main.idr
  tests/idris2/pretty002/SnocList.idr
  tests/idris2/pretty002/expected
  tests/idris2/pretty002/run
Labels: status: confirmed bug, language: literate
