Repository idris-lang/Idris2, pull requests merged in 2022-03, with the labels that each got.

#2338 [ ci ] install mingw64 gcc for windows
  .github/workflows/ci-idris2.yml
Labels: admin: continuous-integration

#2334 adopt backend implementations of `pow`
  libs/prelude/Prelude/Types.idr
  src/Compiler/Scheme/Common.idr
  tests/prelude/double001/Types.idr
  tests/prelude/double001/expected
  tests/prelude/double001/input
  tests/prelude/double001/run
Labels: status: confirmed bug, language: float, language: primitives

#2335 add `replaceAt` for `List`
  libs/base/Data/List.idr
  tests/base/data_list001/List.idr
  tests/base/data_list001/expected
Labels: enhancement, library: base

#2340 [ doc ] `:printdef` for interface implementations
  idris2api.ipkg
  libs/prelude/Prelude/Basics.idr
  src/Core/Context.idr
  src/Core/Name.idr
  src/Core/Options/Log.idr
  src/Core/TT.idr
  src/Idris/Doc/Display.idr
  src/Idris/Doc/String.idr
  src/Idris/IDEMode/Holes.idr
  src/Idris/Parser.idr
  src/Idris/Pretty.idr
  src/Idris/REPL.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/Idris/Syntax/Views.idr
  src/Parser/Lexer/Source.idr
  tests/Main.idr
  tests/ideMode/ideMode003/expected
  tests/idris2/basic019/expected
  tests/idris2/basic041/expected
  tests/idris2/casetree002/expected
  tests/idris2/docs004/DocImpl.idr
  tests/idris2/docs004/List.idr
  tests/idris2/docs004/expected
  tests/idris2/docs004/input
  tests/idris2/docs004/input2
  tests/idris2/docs004/run
  tests/idris2/error013/expected
  tests/idris2/error014/expected
  tests/idris2/with003/expected
Labels: enhancement, language: interface, implem: pretty printing, interactive: doc

#2346 [ doc ] return module header docs
  src/Idris/Doc/String.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
  tests/Main.idr
  tests/idris2/docs005/expected
  tests/idris2/docs005/input
  tests/idris2/docs005/run
Labels: enhancement, interactive: doc

#2348 [ refactor, breaking ] Factor out a type for primitive types out of `Constant`
  CHANGELOG.md
  libs/base/Language/Reflection/TT.idr
  src/Compiler/Common.idr
  src/Compiler/CompileExpr.idr
  src/Compiler/ES/Codegen.idr
  src/Compiler/Opts/ConstantFold.idr
  src/Compiler/RefC/RefC.idr
  src/Compiler/Scheme/Common.idr
  src/Core/Binary.idr
  src/Core/Case/CaseBuilder.idr
  src/Core/Coverage.idr
  src/Core/GetType.idr
  src/Core/Hash.idr
  src/Core/Ord.idr
  src/Core/Primitives.idr
  src/Core/Reflect.idr
  src/Core/SchemeEval/Builtins.idr
  src/Core/SchemeEval/Compile.idr
  src/Core/TT.idr
  src/Core/TTC.idr
  src/Core/Value.idr
  src/Idris/Doc/String.idr
  src/Idris/Parser.idr
  src/Idris/REPL/FuzzySearch.idr
  src/Parser/Rule/Source.idr
  src/TTImp/Elab/Prim.idr
  src/TTImp/ProcessBuiltin.idr
  src/TTImp/ProcessData.idr
  src/TTImp/ProcessType.idr
  tests/idris2/reflection001/expected
Labels: code: refactoring, language: primitives

#2349 [ base ] quantifiers for Snoclists
  libs/base/Data/List/Quantifiers.idr
  libs/base/Data/SnocList/Quantifiers.idr
  libs/base/base.ipkg
Labels: enhancement, naming, library: base

#2357 [ prelude ] add `subtract`
  libs/prelude/Prelude/Num.idr
Labels: enhancement, library: prelude

#2356 [ doc ] prettier `:di`
  idris2api.ipkg
  src/Core/CompileExpr/Pretty.idr
  src/Core/Context/Context.idr
  src/Core/Context/Pretty.idr
  src/Idris/REPL.idr
  tests/idris2/basic039/expected
  tests/idris2/coverage018/expected
  tests/idris2/inlining001/expected
  tests/idris2/reg042/expected
Labels: interactive: debug, interactive: doc

#2358 [ perf ] only normalise primitives on small strings on the RHS
  src/TTImp/Elab/App.idr
Labels: performance, language: primitives

#2363 [ doc ] Add docs for quotes
  idris2api.ipkg
  src/Idris/Doc/Brackets.idr
  src/Idris/Doc/String.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
Labels: enhancement, interactive: doc

#2367 [ contrib ] Add `keySet` function for dependent sorted maps too
  libs/contrib/Data/SortedMap.idr
  libs/contrib/Data/SortedSet.idr
Labels: enhancement, library: contrib

#2368 Move `Syntax.PreorderReasoning` into `base`
  libs/base/Syntax/PreorderReasoning.idr
  libs/base/Syntax/PreorderReasoning/Generic.idr
  libs/base/base.ipkg
  libs/contrib/contrib.ipkg
  libs/prelude/Builtin.idr
  tests/idris2/error018/expected
  tests/idris2/interpreter008/expected
Labels: library: base, library: contrib

#2364 Implement standard List operations for SnocLists
  libs/base/Data/SnocList.idr
  libs/base/Data/SnocList/Operations.idr
  libs/base/Data/SnocList/Quantifiers.idr
  libs/base/base.ipkg
Labels: enhancement, library: contrib, status: bikeshedding

#2369 [ fix ] highlight record parameters
  src/Idris/Parser.idr
Labels: status: confirmed bug, language: record, ide: highlighting

#2361 [ base ] Add some more properties, functions and interface implementations
  libs/base/Data/List.idr
  libs/base/Data/List1.idr
  libs/base/Data/List1/Properties.idr
  libs/base/Data/Maybe.idr
  libs/base/Data/SnocList.idr
  libs/base/Decidable/Equality.idr
  libs/base/base.ipkg
  libs/contrib/Data/List/TailRec.idr
  libs/contrib/System/Directory/Tree.idr
  libs/prelude/Prelude/Basics.idr
  libs/prelude/Prelude/Types.idr
  src/Libraries/Data/PosMap.idr
  src/Libraries/System/Directory/Tree.idr
  src/TTImp/Utils.idr
  tests/chez/chez005/input
  tests/idris2/error003/expected
  tests/idris2/reflection003/expected
  tests/idris2/with005/WithProof.idr
  tests/idris2/with006/SparseWith.idr
  tests/node/node005/input
Labels: library: base, discussion: design

#2374 [ doc ] also display definition's visibility
  src/Core/TT.idr
  src/Idris/Doc/String.idr
  tests/idris2/docs001/expected
  tests/idris2/docs002/expected
  tests/idris2/docs003/expected
  tests/idris2/interactive019/expected
  tests/idris2/interactive030/expected
  tests/idris2/warning002/expected
Labels: enhancement, interactive: doc

#2365 Add documentation for Control.Monad.*
  libs/base/Control/Monad/Error/Either.idr
  libs/base/Control/Monad/Identity.idr
  libs/base/Control/Monad/Maybe.idr
  libs/base/Control/Monad/RWS/CPS.idr
  libs/base/Control/Monad/Reader/Reader.idr
  libs/base/Control/Monad/ST.idr
  libs/base/Control/Monad/State/Interface.idr
  libs/base/Control/Monad/State/State.idr
  libs/base/Control/Monad/Trans.idr
Labels: documentation, library: base

#2380 Fix `prim__div_Double` on Node/js backend
  src/Compiler/ES/Codegen.idr
  tests/Main.idr
  tests/node/doubles/Doubles.idr
  tests/node/doubles/expected
  tests/node/doubles/run
Labels: status: confirmed bug, backend: javascript, language: float

#2383 [ refactor, re #2375 ] HasNames Error implementation
  src/Core/Context.idr
  src/Core/Context/Context.idr
  src/Core/Env.idr
  src/Core/Name.idr
  src/Core/Name/Namespace.idr
  src/Core/TT.idr
  src/Idris/Error.idr
Labels: error: bad message, code: refactoring

#2387 [ syntax ] Require indent for blocks like `mutual` and `failing`
  CHANGELOG.md
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/perror013/EmptyFailing.idr
  tests/idris2/perror013/EmptyMutual.idr
  tests/idris2/perror013/EmptyParameters.idr
  tests/idris2/perror013/EmptyUsing.idr
  tests/idris2/perror013/expected
  tests/idris2/perror013/run
  tests/idris2/perror013/x.ipkg
Labels: implem: parsing, breaking

#2391 [ parser ] bunched args in implementation implicits
  src/Idris/Desugar.idr
  src/Idris/Elab/Implementation.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
  tests/Main.idr
  tests/idris2/interface028/InterfaceArgs.idr
  tests/idris2/interface028/expected
  tests/idris2/interface028/run
Labels: enhancement, language: interface, syntax
