Repository idris-lang/Idris2, pull requests merged in 2022-04, with the labels that each got.

#2392 [ fix ] location information in with clauses
  idris2api.ipkg
  src/Idris/Parser.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/Idris/Syntax/Traversals.idr
  tests/Main.idr
  tests/idris2/with008/WithClause.idr
  tests/idris2/with008/expected
  tests/idris2/with008/run
Labels: error: bad message, language: with

#2393 [ fix ] allow refined implicit patterns in with clauses
  src/TTImp/WithClause.idr
  tests/Main.idr
  tests/ideMode/ideMode005/expected9
  tests/idris2/with009/WithClause.idr
  tests/idris2/with009/expected
  tests/idris2/with009/run
Labels: enhancement, language: with

#2398 [ base ] `public export` the various proof quantifiers
  CHANGELOG.md
  libs/base/Data/List/Quantifiers.idr
  libs/base/Data/SnocList/Quantifiers.idr
  libs/base/Data/Vect/Quantifiers.idr
  tests/Main.idr
  tests/idris2/quantifiers001/TestQuantifiers.idr
  tests/idris2/quantifiers001/expected
  tests/idris2/quantifiers001/input
  tests/idris2/quantifiers001/run
Labels: enhancement, code: refactoring, library: base

#2399 [ fix ] missing recursive call on killErrorLoc
  src/Core/Core.idr
Labels: status: confirmed bug, language: failing

#2401 System NodeJS additions
  libs/base/System/Directory.idr
  libs/base/System/File/Buffer.idr
  libs/base/System/File/Error.idr
  libs/base/System/File/Handle.idr
  libs/base/System/File/Meta.idr
  libs/base/System/File/Permissions.idr
  libs/base/System/File/Process.idr
  libs/base/System/File/ReadWrite.idr
  libs/base/System/File/Support.idr
  libs/base/System/File/Virtual.idr
  libs/base/System/Info.idr
  src/Libraries/System/File/Buffer.idr
  support/js/support_system_directory.js
  support/js/support_system_file.js
  tests/base/system_file_remove/Test.idr
  tests/base/system_file_remove/expected
  tests/base/system_file_remove/run
Labels: library: base, backend: javascript

#2408 Improve location killing
  src/Core/Context.idr
  src/Core/Core.idr
  src/Core/Unify.idr
  src/Idris/Error.idr
Labels: status: confirmed bug

#2413 [ base ] Add a `trace` variant easily embeddable to point-free expression
  libs/base/Debug/Trace.idr
Labels: enhancement, library: base

#2415 [ parse ] better error message for list literals
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/perror014/ParseList.idr
  tests/idris2/perror014/expected
  tests/idris2/perror014/run
Labels: enhancement, error: bad message, implem: parsing, language: literals

#2417 [ fix ] pretty printing of misspellings
  src/Core/Context.idr
  src/Idris/Error.idr
  tests/idris2/basic041/expected
Labels: error: bad message, implem: pretty printing

#2416 [ fix ] :printdef support for P(D)Pair & Equal
  idris2api.ipkg
  src/Idris/Desugar.idr
  src/Idris/Doc/Display.idr
  src/Idris/Doc/String.idr
  src/Idris/Syntax/Builtin.idr
  src/Idris/Syntax/Views.idr
  tests/idris2/interface001/IFace.idr
  tests/idris2/interface001/IFace1.idr
Labels: status: confirmed bug, interactive: doc

#2422 [ ci ] use katla to build html doc of the libs
  .github/scripts/katla.sh
  .github/workflows/ci-idris2.yml
  libs/test/test.ipkg
Labels: documentation, admin: continuous-integration

#2412 [ contrib ] Add specialised `traverse_` and friends for lazy list
  libs/contrib/Data/List/Lazy.idr
Labels: enhancement, library: contrib

#2420 [ doc ] Proving Propositional Equality: example fixed
  docs/source/proofs/propositional.rst
Labels: documentation, status: confirmed bug

#2423 [ fix ] highlight unambiguous names in `with'
  libs/base/Language/Reflection/TTImp.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
  src/TTImp/Elab/Term.idr
  src/TTImp/TTImp.idr
  tests/ideMode/ideMode005/Rainbow.idr
  tests/ideMode/ideMode005/expected5
Labels: status: confirmed bug, ide: highlighting

#2426 [doc] Rewrite docs for `%builtin` and nat optimisations
  docs/source/reference/builtins.rst
Labels: documentation

#2430 [ re #2423 ] Make `Eq` implementations in `Language.Reflection.TTImp` total
  libs/base/Language/Reflection/TT.idr
  libs/base/Language/Reflection/TTImp.idr
Labels: enhancement, library: base

#2436 [ fix ] search should solve auto implicits before implicits
  src/Core/AutoSearch.idr
  src/Core/TT.idr
  tests/Main.idr
  tests/idris2/interface029/FailedSearch.idr
  tests/idris2/interface029/expected
  tests/idris2/interface029/run
Labels: status: confirmed bug, implem: search

#2371 [ refactor ] Index Pretty over the type of annotations
  idris2api.ipkg
  src/Core/AutoSearch.idr
  src/Core/Case/CaseBuilder.idr
  src/Core/Case/CaseTree.idr
  src/Core/CompileExpr/Pretty.idr
  src/Core/Context.idr
  src/Core/Context/Pretty.idr
  src/Core/Core.idr
  src/Core/Coverage.idr
  src/Core/FC.idr
  src/Core/Name.idr
  src/Core/Name/Namespace.idr
  src/Core/Options/Log.idr
  src/Core/TT.idr
  src/Idris/Doc/Display.idr
  src/Idris/Doc/Keywords.idr
  src/Idris/Doc/String.idr
  src/Idris/Driver.idr
  src/Idris/Error.idr
  src/Idris/IDEMode/Holes.idr
  src/Idris/IDEMode/Parser.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/ModTree.idr
  src/Idris/Package.idr
  src/Idris/Package/Types.idr
  src/Idris/Pretty.idr
  src/Idris/Pretty/Annotations.idr
  src/Idris/ProcessIdr.idr
  src/Idris/REPL.idr
  src/Idris/REPL/Common.idr
  src/Idris/REPL/FuzzySearch.idr
  src/Idris/SetOptions.idr
  src/Idris/Syntax.idr
  src/Libraries/Text/Lexer/Tokenizer.idr
  src/Libraries/Text/PrettyPrint/Prettyprinter/Doc.idr
  src/Libraries/Text/PrettyPrint/Prettyprinter/Symbols.idr
  src/Libraries/Text/PrettyPrint/Prettyprinter/Util.idr
  src/Parser/Lexer/Package.idr
  src/Parser/Lexer/Source.idr
  src/Parser/Support.idr
  src/TTImp/Elab/Ambiguity.idr
  src/TTImp/ProcessDef.idr
  tests/ideMode/ideMode003/expected
  tests/idris2/basic019/expected
  tests/idris2/basic044/expected
  tests/idris2/docs004/expected
Labels: performance, code: refactoring, implem: pretty printing

#2425 RefC backend improvements
  libs/prelude/Prelude/IO.idr
  src/Compiler/RefC/RefC.idr
  support/refc/_datatypes.h
  support/refc/cBackend.h
  support/refc/datatypes.h
  support/refc/memoryManagement.c
  support/refc/prim.c
  support/refc/prim.h
  support/refc/threads.c
  support/refc/threads.h
  tests/refc/garbageCollect/TestGarbageCollect.idr
  tests/refc/garbageCollect/expected
  tests/refc/garbageCollect/run
  tests/refc/issue2424/ControlAppMonadTest.idr
  tests/refc/issue2424/expected
  tests/refc/issue2424/run
Labels: enhancement, backend: refc

#2442 Better parse error for missing paren after with
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/perror015/ParseWith.idr
  tests/idris2/perror015/expected
  tests/idris2/perror015/run
Labels: error: bad message, implem: parsing

#2440 [ highlighting ] case trees in `:di`
  idris2api.ipkg
  src/Compiler/CompileExpr.idr
  src/Core/Case/CaseTree.idr
  src/Core/Case/CaseTree/Pretty.idr
  src/Core/CompileExpr/Pretty.idr
  src/Core/Context/Pretty.idr
  src/Core/Env.idr
  src/Core/Name.idr
  src/Core/Options.idr
  src/Core/TT.idr
  src/Idris/CommandLine.idr
  src/Idris/Doc/Display.idr
  src/Idris/IDEMode/Holes.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/Package.idr
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  src/Idris/Resugar.idr
  src/Idris/SetOptions.idr
  src/Idris/Syntax.idr
  src/Idris/Syntax/Traversals.idr
  src/TTImp/ProcessDef.idr
  tests/Main.idr
  tests/idris2/basic023/expected
  tests/idris2/coverage018/expected
  tests/idris2/debug001/TypePat.idr
  tests/idris2/debug001/expected
  tests/idris2/debug001/input
  tests/idris2/debug001/run
  tests/idris2/docs004/expected
  tests/idris2/inlining001/expected
  tests/idris2/interactive042/Issue35-2.idr
  tests/idris2/interactive042/Issue35.idr
  tests/idris2/interactive042/expected
  tests/idris2/interactive042/input
  tests/idris2/interactive042/run
  tests/idris2/reg042/expected
  tests/idris2/schemeeval003/expected
  tests/idris2/with003/expected
Labels: enhancement, cli: repl, cli: options, interactive: debug, ide: highlighting
