Repository idris-lang/Idris2, pull requests merged in 2022-10, with the labels that each got.

#2699 [ base ] Implement Uninhabited for impossible Pointwise equalities
  CHANGELOG.md
  libs/base/Data/Fin.idr
Labels: enhancement, library: base

#2677 [ re #2675 ] Do not build libs/{contribs,papers} during bootstrap
  CHANGELOG.md
  Makefile
  bootstrap-stage2.sh
  libs/contrib/contrib.ipkg
  libs/linear/Control/Linear/LIO.idr
  libs/linear/linear.ipkg
  libs/network/network.ipkg
  libs/papers/Data/W.idr
  tests/idris2/linear010/run
  tests/idris2/linear011/run
Labels: code: refactoring, library: contrib, library: network, admin: bootstrap, library: papers, library: linear

#2694 [ cleanup ] `Compiler/*` modules
  src/Compiler/Common.idr
  src/Compiler/CompileExpr.idr
  src/Compiler/Inline.idr
  tests/codegen/.gitignore
  tests/codegen/builtin001/CatCases.idr
  tests/codegen/builtin001/expected
  tests/codegen/builtin001/run
  tests/codegen/con001/CatCases.idr
  tests/codegen/con001/run
Labels: code: cleanup

#2089 [ fix #2088 ] Make `%runElab` expression propagate its rig to `check`
  src/TTImp/Elab/RunElab.idr
  src/TTImp/ProcessRunElab.idr
  tests/Main.idr
  tests/idris2/reflection017/CanElabType.idr
  tests/idris2/reflection017/StillCantEscape.idr
  tests/idris2/reflection017/expected
  tests/idris2/reflection017/run
Labels: enhancement, language: reflection, implem: elaboration

#2713 [ fix #2712 ] Don't consider `CyclicMeta` recoverable
  CHANGELOG.md
  src/TTImp/ProcessDef.idr
  tests/Main.idr
  tests/idris2/interactive046/Issue2712.idr
  tests/idris2/interactive046/expected
  tests/idris2/interactive046/run
Labels: status: confirmed bug, interactive: case

#2710 [ new ] Allow forward declarations of records
  src/Idris/Desugar.idr
  src/Idris/Desugar/Mutual.idr
  src/Idris/Parser.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/Idris/Syntax/Traversals.idr
  tests/Main.idr
  tests/idris2/record018/expected
  tests/idris2/record018/mut.idr
  tests/idris2/record018/run
Labels: enhancement, language: record, language: mutual

#2705 [ golden ] Make options to store more flexible tests filter
  libs/test/Test/Golden.idr
Labels: enhancement, library: test

#2706 [ new ] do not split on dotted patterns
  src/Compiler/Common.idr
  src/Compiler/CompileExpr.idr
  src/Core/AutoSearch.idr
  src/Core/Case/CaseBuilder.idr
  src/Core/Case/Util.idr
  src/Core/Coverage.idr
  src/Core/Env.idr
  src/Core/LinearCheck.idr
  src/Core/Normalise.idr
  src/Core/Normalise/Convert.idr
  src/Core/Normalise/Eval.idr
  src/Core/Normalise/Quote.idr
  src/Core/Reflect.idr
  src/Core/SchemeEval/Compile.idr
  src/Core/SchemeEval/Evaluate.idr
  src/Core/SchemeEval/Quote.idr
  src/Core/SchemeEval/ToScheme.idr
  src/Core/TT.idr
  src/Core/TTC.idr
  src/Core/Termination.idr
  src/Core/Transform.idr
  src/Core/Unify.idr
  src/Core/Value.idr
  src/TTImp/Elab.idr
  src/TTImp/Elab/Ambiguity.idr
  src/TTImp/Elab/App.idr
  src/TTImp/Elab/Case.idr
  src/TTImp/Elab/Check.idr
  src/TTImp/Elab/Dot.idr
  src/TTImp/Elab/ImplicitBind.idr
  src/TTImp/Elab/Record.idr
  src/TTImp/Elab/Utils.idr
  src/TTImp/Impossible.idr
  src/TTImp/Interactive/CaseSplit.idr
  src/TTImp/Interactive/ExprSearch.idr
  src/TTImp/PartialEval.idr
  src/TTImp/ProcessData.idr
  src/TTImp/ProcessDef.idr
  src/TTImp/ProcessType.idr
  src/TTImp/Reflect.idr
  src/TTImp/TTImp.idr
  src/TTImp/Unelab.idr
  src/TTImp/Utils.idr
  src/TTImp/WithClause.idr
  tests/Main.idr
  tests/idris2/casetree003/ForcedPats.idr
  tests/idris2/casetree003/expected
  tests/idris2/casetree003/input
  tests/idris2/casetree003/run
Labels: enhancement, language: forced pattern, implem: pattern-matching

#2720 [ fix #2719 ] `--only` behavior in Test.Golden
  libs/test/Test/Golden.idr
  tests/idris2/reflection001/expected
Labels: status: confirmed bug, library: test

#2722 [ repl ] Add the ability to get detailed help, e.g. `:help :help`
  .github/workflows/ci-idris2.yml
  CHANGELOG.md
  Makefile
  libs/test/Test/Golden.idr
  src/Idris/IDEMode/REPL.idr
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  src/Idris/REPL/Common.idr
  src/Idris/Syntax.idr
  tests/Main.idr
  tests/Makefile
  tests/idris2/repl001/expected
  tests/idris2/repl001/input
  tests/idris2/repl003/expected
  tests/idris2/repl003/input
  tests/idris2/repl003/run
  tests/idris2/repl004/expected
  tests/idris2/repl004/input
  tests/idris2/repl004/run
  tests/idris2/repl005/expected
  tests/idris2/repl005/input
  tests/idris2/repl005/run
Labels: enhancement, cli: repl

#2731 [ ci ] Simplify bootstrap process in nix
  .github/workflows/ci-idris2.yml
  default.nix
  flake.lock
  flake.nix
  nix/bootstrap.nix
  nix/buildIdris.nix
  nix/lib.nix
  nix/package.nix
  nix/templates/pkg/default.nix
  nix/templates/pkg/flake.nix
  nix/templates/pkgWithDeps/default.nix
  nix/templates/pkgWithDeps/flake.nix
  nix/test.nix
  nix/text-editor.nix
Labels: code: refactoring, os: nix
