Repository idris-lang/Idris2, pull requests merged in 2023-02, with the labels that each got.

#2873 [ error ] Fix location of type errors in do block pattern matching
  src/Idris/Desugar.idr
  tests/Main.idr
  tests/idris2/error026/DoBlockFC.idr
  tests/idris2/error026/expected
  tests/idris2/error026/run
Labels: status: confirmed bug, implem: desugaring

#2876 [ fix ] positivity checker: assert_total & Lazy
  CHANGELOG.md
  src/Core/Termination.idr
  tests/Main.idr
  tests/idris2/total016/AssertPositivity.idr
  tests/idris2/total016/LazyPositivityCheck.idr
  tests/idris2/total016/expected
  tests/idris2/total016/run
Labels: status: confirmed bug, safety: proof of false, safety: positivity

#2860 [ papers ] Type-based Divide & Conquer
  CHANGELOG.md
  libs/papers/Control/DivideAndConquer.idr
  libs/papers/papers.ipkg
Labels: library: papers

#2882 [ cleanup ] now that we can assert_total on data
  libs/papers/Data/Description/Indexed.idr
  libs/papers/Data/Description/Regular.idr
  libs/papers/Data/Enumerate.idr
  libs/papers/Data/Enumerate/Indexed.idr
Labels: safety: totality, code: cleanup, library: papers

#2869 Create a separate Makefile for the Idris 2 support libraries.
  CHANGELOG.md
  INSTALL.md
  Makefile
  support/Makefile
Labels: admin: installation

#2888 [ fix ] highlight record constructor
  src/Idris/Parser.idr
  tests/ideMode/ideMode005/expected1
  tests/ideMode/ideMode005/expected2
  tests/ideMode/ideMode005/expectedE
  tests/ideMode/ideMode005/expectedG
Labels: status: confirmed bug, ide: highlighting

#2887 Js char io
  CHANGELOG.md
  libs/prelude/Prelude/IO.idr
  support/js/support_system_file.js
Labels: backend: javascript, library: support

#2884 [ contrib ] move SortedMap and SortedSet to base
  CHANGELOG.md
  libs/base/Data/SortedMap.idr
  libs/base/Data/SortedMap/Dependent.idr
  libs/base/Data/SortedSet.idr
  libs/base/base.ipkg
  libs/contrib/contrib.ipkg
Labels: code: refactoring, library: base, library: contrib

#2890 [ cleanup ] move calcTerminating to Core.Termination.SizeChange
  idris2api.ipkg
  src/Core/Termination.idr
  src/Core/Termination/Positivity.idr
  src/Core/Termination/References.idr
  src/Core/Termination/SizeChange.idr
Labels: code: cleanup, implem: termination checking

#2778 Add PreorderReasoning comforts
  libs/base/Data/Nat.idr
  libs/base/Syntax/PreorderReasoning.idr
  libs/base/Syntax/PreorderReasoning/Generic.idr
Labels: enhancement, library: base

#2789 [ doc ] Add constructor docstrings
  src/Idris/Desugar.idr
  src/Idris/Doc/String.idr
  src/Idris/Elab/Interface.idr
  src/Idris/Parser.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  tests/idris2/docs004/List.idr
  tests/idris2/docs004/expected
Labels: status: confirmed bug, language: docstrings

#2889 [ re #2832 ] warn about conflicting fixity declarations
  CHANGELOG.md
  libs/contrib/Data/Telescope/Telescope.idr
  libs/papers/Search/Tychonoff/PartI.idr
  src/Compiler/CompileExpr.idr
  src/Compiler/ES/Doc.idr
  src/Core/Context.idr
  src/Core/Core.idr
  src/Core/Name/Namespace.idr
  src/Core/Options/Log.idr
  src/Idris/Desugar.idr
  src/Idris/Error.idr
  src/Idris/Package.idr
  src/Idris/REPL/Common.idr
  src/Idris/Syntax.idr
  src/Libraries/Data/StringMap.idr
  src/TTImp/Elab/App.idr
  tests/Main.idr
  tests/idris2/warning004/Lib1.idr
  tests/idris2/warning004/Lib2.idr
  tests/idris2/warning004/Main0.idr
  tests/idris2/warning004/Main1.idr
  tests/idris2/warning004/expected
  tests/idris2/warning004/run
Labels: status: confirmed bug, language: fixity, error: warning

#2886 [ contrib ] Performance improvement gcd in Data.Nat.Factor
  libs/contrib/Data/Nat/Division.idr
  libs/contrib/Data/Nat/Factor.idr
  tests/contrib/perf001/GCDPerf.idr
  tests/contrib/perf001/expected
  tests/contrib/perf001/run
Labels: enhancement, performance, library: contrib

#2893 [ new ] missing buffer primitives
  CHANGELOG.md
  libs/base/Data/Buffer.idr
  support/chez/support.ss
  tests/Main.idr
  tests/chez/buffer001/Main.idr
  tests/chez/buffer001/expected
  tests/chez/buffer001/run
Labels: status: confirmed bug, library: base, library: support

#2901 add Functor impl for Tokenizer
  CHANGELOG.md
  CONTRIBUTORS
  libs/contrib/Text/Lexer/Tokenizer.idr
Labels: enhancement, library: contrib
