Repository idris-lang/Idris2, pull requests merged in 2023-01, with the labels that each got.

#2838 [ performance ] String builder on all scheme backends
  idris2api.ipkg
  src/Compiler/Common.idr
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/ChezSep.idr
  src/Compiler/Scheme/Common.idr
  src/Compiler/Scheme/Gambit.idr
  src/Compiler/Scheme/Racket.idr
  src/Libraries/Data/String/Builder.idr
Labels: performance, backend: scheme

#2843 [new] Vect.Quantifiers.All QoL
  CHANGELOG.md
  libs/base/Data/Vect/Quantifiers.idr
Labels: library: base

#2852 Fix build on FreeBSD
  config.mk
Labels: admin: installation, os: freeBSD

#2844 Moving Data.List.HasLength into base
  CHANGELOG.md
  libs/base/Data/List/HasLength.idr
  libs/base/base.ipkg
  libs/contrib/Data/List/AtIndex.idr
  libs/contrib/contrib.ipkg
  libs/papers/Data/OpenUnion.idr
  src/Core/TT.idr
Labels: library: base, library: contrib

#2855 CI Maintenance
  .github/workflows/ci-bootstrap.yml
  .github/workflows/ci-idris2.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-sphinx.yml
  .github/workflows/ci-super-linter.yml
Labels: admin: continuous-integration

#2854 [ base ] fix the definition of die
  CHANGELOG.md
  libs/base/System.idr
Labels: status: confirmed bug, library: base

#2848 [ fix ] make color output toggling simpler and also more robust.
  libs/test/Test/Golden.idr
  src/Idris/Driver.idr
  src/Idris/Env.idr
  src/Idris/Pretty/Render.idr
  tests/idris2/pkg006/expected
  tests/idris2/pkg006/run
Labels: cli: repl, cli: options, cli: ide-mode

#2863 [ prelude ] Make some higher-kinded functions be tc-inlined
  libs/prelude/Prelude/Basics.idr
  tests/Main.idr
  tests/idris2/total014/FunCompTC.idr
  tests/idris2/total014/expected
  tests/idris2/total014/run
Labels: enhancement, library: prelude, implem: termination checking

#2857 [ new ] `popen`/`pclose` for the NodeJS backend.
  CHANGELOG.md
  libs/base/System/File/Process.idr
  libs/base/System/File/ReadWrite.idr
  support/js/support_system_file.js
  tests/Main.idr
  tests/node/node020/Popen.idr
  tests/node/node020/expected
Labels: library: base, backend: javascript
