Repository idris-lang/Idris2, pull requests merged in 2023-08, with the labels that each got.

#3039 Erase additional PreorderReasoning arguments
  libs/base/Syntax/PreorderReasoning.idr
Labels: enhancement, library: base

#3037 [ error ] Improve error messages for Delay &co
  src/Idris/Parser.idr
  src/Libraries/Text/Parser/Core.idr
  tests/Main.idr
  tests/idris2/perror029/DelayParse.idr
  tests/idris2/perror029/expected
  tests/idris2/perror029/run
Labels: enhancement, implem: parsing, error: reporting

#3049 Add library loading for Racket
  CHANGELOG.md
  src/Compiler/Scheme/Racket.idr
  tests/Main.idr
  tests/racket/ffi001/RacketLib.idr
  tests/racket/ffi001/expected
  tests/racket/ffi001/run
Labels: enhancement, backend: racket

#3054 Add uncons' to base; rewrite head' and tail' in terms of uncons'
  CHANGELOG.md
  libs/base/Data/List.idr
Labels: code: refactoring, library: base

#3047 [ prelude ] Add some lacking `%tcinline`s
  libs/prelude/Prelude/Interfaces.idr
  tests/Main.idr
  tests/idris2/total020/Check.idr
  tests/idris2/total020/expected
  tests/idris2/total020/run
  tests/idris2/total020/test.ipkg
Labels: enhancement, library: prelude

#3056 [ base ] Add lists' infix-by functions, complementary to existing ones
  CHANGELOG.md
  libs/base/Data/List.idr
Labels: enhancement, library: base

#3060 Refactor S-Exp protocols to depend on fewer Idris modules
  .gitignore
  CHANGELOG.md
  idris2api.ipkg
  ipkg/idris2protocols.ipkg
  src/Parser/Support.idr
  src/Parser/Support/Escaping.idr
  src/Protocol/SExp/Parser.idr
Labels: code: refactoring, event: IDM 2023/08
