Repository idris-lang/Idris2, pull requests merged in 2023-03, with the labels that each got.

#2906 Refactor Data.Nat to use preorder reasoning to improve readability
  libs/base/Data/Nat.idr
Labels: code: refactoring, library: base

#2905 [ admin ] Update what should go in the changelog
  .github/pull_request_template.md
Labels: admin: meta

#2904 [ new ] Couple of useful things for Vect
  CHANGELOG.md
  libs/base/Data/Vect.idr
  tests/base/data_vect001/Vect.idr
  tests/base/data_vect001/expected
Labels: enhancement, library: base

#2903 [ new ] Implement bit-rotation operators
  CHANGELOG.md
  libs/base/Data/Bits.idr
  libs/base/Data/Fin.idr
  tests/base/data_bits002/BitRotate.idr
  tests/base/data_bits002/expected
  tests/base/data_bits002/input
  tests/base/data_bits002/run
Labels: enhancement, library: base

#2899 [ fix ] partial evaluation implementation
  src/Core/Context.idr
  src/Core/Options/Log.idr
  src/Core/UnifyState.idr
  src/TTImp/PartialEval.idr
  src/TTImp/TTImp/Traversals.idr
  tests/Main.idr
  tests/idris2/spec001/Desc.idr
  tests/idris2/spec001/Desc2.idr
  tests/idris2/spec001/Identity.idr
  tests/idris2/spec001/Mult3.idr
  tests/idris2/spec001/expected
  tests/idris2/spec001/run
Labels: enhancement, status: confirmed bug, interactive: debug, implem: partial evaluation

#2921 make cond's default argument lazy
  src/Core/Core.idr
Labels: performance, status: confirmed bug

#2897 [ doc ] extend tutorial
  CONTRIBUTORS
  docs/source/tutorial/interfaces.rst
  docs/source/tutorial/multiplicities.rst
  docs/source/tutorial/typesfuns.rst
Labels: documentation

#2934 [ base ] Add extraction functions to `Data.Singleton`
  CHANGELOG.md
  libs/base/Data/Singleton.idr
Labels: enhancement, library: base

#2924 [ contrib ] Add modFin and strengthenMod
  CHANGELOG.md
  libs/contrib/Data/Fin/Extra.idr
Labels: enhancement, library: contrib
