Repository idris-lang/Idris2, pull requests merged in 2023-04, with the labels that each got.

#2937 [ new ] %unsafe pragma for escape hatches
  CHANGELOG.md
  libs/prelude/Builtin.idr
  src/Compiler/Common.idr
  src/Core/Binary.idr
  src/Core/Context.idr
  src/Core/Context/Context.idr
  src/Core/TTC.idr
  src/Idris/Parser.idr
  src/TTImp/Elab/App.idr
  src/TTImp/ProcessType.idr
  src/TTImp/Reflect.idr
  src/TTImp/TTImp.idr
  src/TTImp/TTImp/Functor.idr
  src/TTImp/TTImp/TTC.idr
  src/TTImp/TTImp/Traversals.idr
  tests/ideMode/ideMode006/Unsafe.idr
  tests/ideMode/ideMode006/dummy.ipkg
  tests/ideMode/ideMode006/expected
  tests/ideMode/ideMode006/input
  tests/ideMode/ideMode006/run
Labels: library: prelude, syntax, ide: highlighting

#2944 [ new ] Add support for bi-directional pipes on POSIX systems (resolves #2935)
  CHANGELOG.md
  libs/base/System/File/Process.idr
  support/c/idris_file.c
  support/c/idris_file.h
  tests/Main.idr
  tests/allbackends/popen2/Test.idr
  tests/allbackends/popen2/expected
  tests/allbackends/popen2/run
Labels: enhancement, library: base, library: support

#2951 [ new ] Add compile.casetree.missing log topic
  CHANGELOG.md
  src/Core/Options/Log.idr
  src/TTImp/ProcessDef.idr
Labels: enhancement, interactive: debug
