Repository idris-lang/Idris2, pull requests merged in 2023-10, with the labels that each got.

#3096 [ base ] Add `Data.Vect.Quantifiers.All.remember`, the inverse to `forget`
  CHANGELOG.md
  libs/base/Data/Vect.idr
  libs/base/Data/Vect/Quantifiers.idr
Labels: enhancement, library: base

#3106 [ base ] Implement `Zippable` for several standard types + small cleanup
  CHANGELOG.md
  libs/base/Data/Colist.idr
  libs/base/Data/Colist1.idr
  libs/base/Data/Either.idr
  libs/base/Data/Maybe.idr
  libs/base/Data/SortedMap.idr
  libs/base/Data/Zippable.idr
  libs/contrib/Data/IMaybe.idr
Labels: enhancement, library: base

#3107 [ derive ] Small improvements in `Deriving.Common`
  libs/base/Deriving/Common.idr
  tests/base/deriving_traversable/expected
Labels: enhancement, library: base

#3114 [ doc ] Document `failing` blocks
  docs/source/reference/failing.rst
  docs/source/reference/index.rst
Labels: documentation, enhancement

#3063 Add a warning for incompatible visibilities on forward decls and definitions.
  CHANGELOG.md
  idris2api.ipkg
  libs/base/Language/Reflection/TTImp.idr
  src/Compiler/Common.idr
  src/Compiler/Inline.idr
  src/Compiler/Opts/InlineHeuristics.idr
  src/Core/AutoSearch.idr
  src/Core/Binary/Prims.idr
  src/Core/Context.idr
  src/Core/Context/Context.idr
  src/Core/Context/Data.idr
  src/Core/Core.idr
  src/Core/Normalise/Eval.idr
  src/Core/Reflect.idr
  src/Core/SchemeEval/Compile.idr
  src/Core/TTC.idr
  src/Core/UnifyState.idr
  src/Idris/Doc/Keywords.idr
  src/Idris/Doc/String.idr
  src/Idris/Elab/Interface.idr
  src/Idris/Error.idr
  src/Idris/Package.idr
  src/Idris/Parser.idr
  src/Idris/REPL.idr
  src/Idris/REPL/FuzzySearch.idr
  src/Idris/Syntax.idr
  src/Libraries/Data/WithDefault.idr
  src/TTImp/Elab/Ambiguity.idr
  src/TTImp/Elab/App.idr
  src/TTImp/Elab/Case.idr
  src/TTImp/Elab/Check.idr
  src/TTImp/Elab/Local.idr
  src/TTImp/Interactive/Completion.idr
  src/TTImp/Interactive/ExprSearch.idr
  src/TTImp/Parser.idr
  src/TTImp/PartialEval.idr
  src/TTImp/ProcessData.idr
  src/TTImp/ProcessDef.idr
  src/TTImp/ProcessRecord.idr
  src/TTImp/ProcessType.idr
  src/TTImp/Reflect.idr
  src/TTImp/TTImp.idr
  src/TTImp/TTImp/TTC.idr
  tests/idris2/error028/Issue1236.idr
  tests/idris2/error028/expected
  tests/idris2/error028/run
  tests/idris2/reflection/reflection004/refdecl.idr
  tests/idris2/reflection/reflection014/refdecl.idr
  tests/idris2/reflection/reflection024/src/TypeProviders.idr
Labels: event: IDM 2023/08

#3122 [ cleanup ] remove duplicate copy of header parsing
  src/Idris/Parser.idr
Labels: code: refactoring, implem: parsing

#3121 [ linear ] introduce mapFst, mapSnd
  libs/linear/Data/Linear/Bifunctor.idr
  libs/linear/Data/Linear/LVect.idr
Labels: code: refactoring, library: linear
