Repository idris-lang/Idris2, pull requests merged in 2023-07, with the labels that each got.

#3005 Generalize Prelude proof helpers
  libs/base/Control/Function.idr
  libs/base/Data/Fin/Order.idr
  libs/base/Data/Nat.idr
  libs/base/Data/Vect.idr
  libs/base/Decidable/Equality/Core.idr
  libs/papers/Data/Container.idr
  libs/papers/Search/Auto.idr
  libs/prelude/Prelude/Basics.idr
  src/Core/Case/CaseBuilder.idr
  src/Core/Name.idr
  src/Core/TT.idr
  tests/base/deriving_traversable/expected
  tests/idris2/evaluator002/expected
  tests/idris2/spec001/expected
  tests/idris2/with010/NestedWith.idr
Labels: code: refactoring, language: quantity, library: prelude

#2974 [ papers ] Port the first part of "Deferring the details [...]" by Liam O'Connor
  CHANGELOG.md
  libs/base/Data/List/Quantifiers.idr
  libs/papers/Control/DivideAndConquer.idr
  libs/papers/Data/ProofDelay.idr
  libs/papers/papers.ipkg
Labels: enhancement, library: papers

#3007 [ performance ] make Eq and Ord for Fin run in constant time
  CHANGELOG.md
  libs/base/Data/Fin.idr
  tests/base/data_fin/expected
  tests/base/data_fin/performance.idr
  tests/base/data_fin/run
Labels: performance, library: base

#3019 [ docs ] Update contributing guidelines
  CONTRIBUTING.md
Labels: admin: faq

#3026 Remove shadowed names in documentation
  docs/source/tutorial/typesfuns.rst
Labels: documentation, enhancement

#2930 Add fromTTImp, fromName, and fromDecls for custom TTImp, Name, and Decls literals
  CHANGELOG.md
  src/Core/Binary.idr
  src/Core/Context.idr
  src/Core/Options.idr
  src/Core/TTC.idr
  src/Idris/Desugar.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
  src/TTImp/Elab/Ambiguity.idr
  tests/Main.idr
  tests/idris2/reflection020/FromDecls.idr
  tests/idris2/reflection020/FromName.idr
  tests/idris2/reflection020/FromTTImp.idr
  tests/idris2/reflection020/expected
  tests/idris2/reflection020/run
Labels: enhancement, language: reflection, language: literals

#3024 [ fix ] Only set `IDRIS2_PREFIX` if it is unset (fixes Issue 3022)
  CHANGELOG.md
  Makefile
  docs/source/reference/envvars.rst
Labels: documentation, enhancement, admin: installation
