Repository idris-lang/Idris2, pull requests merged in 2023-09, with the labels that each got.

#3062 [ new ] function options for case blocks
  idris2api.ipkg
  libs/base/Language/Reflection/TTImp.idr
  src/Core/Binary.idr
  src/Idris/Desugar.idr
  src/Idris/Parser.idr
  src/Idris/Pretty.idr
  src/Idris/Resugar.idr
  src/Idris/Syntax.idr
  src/Idris/Syntax/Traversals.idr
  src/TTImp/Elab/App.idr
  src/TTImp/Elab/Case.idr
  src/TTImp/Elab/Quote.idr
  src/TTImp/Elab/Record.idr
  src/TTImp/Elab/Term.idr
  src/TTImp/Parser.idr
  src/TTImp/ProcessFnOpt.idr
  src/TTImp/ProcessType.idr
  src/TTImp/Reflect.idr
  src/TTImp/TTImp.idr
  src/TTImp/TTImp/Functor.idr
  src/TTImp/TTImp/TTC.idr
  src/TTImp/TTImp/Traversals.idr
  src/TTImp/Unelab.idr
  src/TTImp/Utils.idr
  src/TTImp/WithClause.idr
  tests/Main.idr
  tests/idris2/case001/InlineCase.idr
  tests/idris2/case001/expected
  tests/idris2/case001/run
  tests/idris2/reg033/DerivingEq.idr
Labels: enhancement, language: case, event: IDM 2023/08

#3067 Test pack and lsp during CI
  .github/workflows/ci-idris2-and-libs.yml
Labels: enhancement, admin: continuous-integration, event: IDM 2023/08

#3075 [ ci ] re #3067: fix CI on main branch
  .github/workflows/ci-idris2-and-libs.yml
Labels: status: confirmed bug, admin: continuous-integration

#3079 [ elab ] Print script's FC in the bad elaboration script error
  src/Idris/Error.idr
  tests/idris2/reflection/reflection022/BadElabScript.idr
  tests/idris2/reflection/reflection022/expected
  tests/idris2/reflection/reflection022/run
Labels: enhancement, implem: elaboration, error: reporting

#3071 [ fix ] support .lidr.md and .lidr.tex extensions
  src/Core/Directory.idr
  src/Idris/Package/Init.idr
  src/Idris/REPL.idr
  src/Libraries/Utils/Path.idr
  src/Parser/Unlit.idr
  tests/idris2/literate/literate018/Test.lidr.md
  tests/idris2/literate/literate018/expected
  tests/idris2/literate/literate018/run
Labels: status: confirmed bug, language: literate
