Repository idris-lang/Idris2, pull requests merged in 2023-05, with the labels that each got.

#2947 Public export TTImp reflection functions
  CHANGELOG.md
  libs/base/Language/Reflection/TTImp.idr
  tests/Main.idr
  tests/idris2/reflection018/AtTypeLevel.idr
  tests/idris2/reflection018/expected
  tests/idris2/reflection018/run
Labels: enhancement, language: reflection, library: base

#2961 [ codegen ] get rid of trivial let statements
  CHANGELOG.md
  src/Compiler/Opts/ConstantFold.idr
  tests/Main.idr
  tests/chez/constfold2/Check.idr
  tests/chez/constfold2/Fold.idr
  tests/chez/constfold2/expected
  tests/chez/constfold2/input
  tests/chez/constfold2/run
Labels: enhancement, implem: compilation, optimisation: identity detection

#2960 Add symmetric and transitive closure relations
  libs/base/Control/Relation.idr
  libs/base/Data/List.idr
  tests/idris2/basic044/expected
  tests/idris2/with003/expected
Labels: enhancement, library: base

#2942 [ perf ] Make Core.Normalise.Eval.evalDef stack safety
  src/Core/Normalise/Eval.idr
Labels: enhancement, performance

#2965 [ error ] Improve error messages for indentation issues
  src/Idris/Parser.idr
  tests/Main.idr
  tests/idris2/perror027/Outdent.idr
  tests/idris2/perror027/expected
  tests/idris2/perror027/run
Labels: enhancement, error: bad message, implem: parsing

#2966 [ codegen ] more flexible array implementation on JS backends
  CHANGELOG.md
  src/Compiler/ES/Codegen.idr
  tests/Main.idr
  tests/node/integer_array/array.idr
  tests/node/integer_array/expected
  tests/node/integer_array/input
  tests/node/integer_array/run
Labels: enhancement, backend: javascript, implem: compilation

#2971 Update typedd.rst: fixed typo in function name, added page ref
  docs/source/typedd/typedd.rst
Labels: doc: typedd, typo

#2973 [ base ] Implemented `Ord` for `Name`, `Namespace` and `UserName`
  CHANGELOG.md
  libs/base/Language/Reflection/TT.idr
Labels: enhancement, language: reflection, library: base
