Repository idris-lang/Idris2, pull requests merged in 2024-04, with the labels that each got.

#3243 better nix-shell support via shellHook
  nix/buildIdris.nix
Labels: os: nix

#3246 [fix] macos-nix build: refc support files don't build under default environment anymore
  nix/package.nix
  nix/support.nix
Labels: os: nix

#3240 Add partiality/delay monad
  libs/base/Control/Monad/Partial.idr
  libs/base/base.ipkg
Labels: library: base

#3177 [RefC] Suppress arglist wrapper
  CHANGELOG_NEXT.md
  src/Compiler/RefC/RefC.idr
  support/refc/_datatypes.h
  support/refc/memoryManagement.c
  support/refc/memoryManagement.h
  support/refc/runtime.c
  support/refc/runtime.h
  support/refc/stringOps.c
  support/refc/stringOps.h
  tests/refc/callingConvention/expected
  tests/refc/reuse/expected
Labels: backend: refc
