Repository idris-lang/Idris2, pull requests merged in 2024-01, with the labels that each got.

#3179 Add `(++)` for `List` variation of `All`
  CHANGELOG.md
  CONTRIBUTORS
  libs/base/Data/List/Quantifiers.idr
  src/Libraries/Data/List/Quantifiers/Extra.idr
Labels: library: base

#3180 Add a new CHANGELOG_NEXT.md file and update documentation around CHANGELOG entries.
  .github/pull_request_template.md
  CHANGELOG.md
  CHANGELOG_NEXT.md
  CONTRIBUTING.md
  Release/CHECKLIST
Labels: admin: meta

#3185 [ re #3177 ] Test to see the change in calling conventions
  tests/refc/callingConvention/Main.idr
  tests/refc/callingConvention/expected
  tests/refc/callingConvention/run
Labels: admin: continuous-integration, backend: refc

#3182 Improve `buildIdris` and expose the `idris2-api` via the Nix flake.
  CHANGELOG_NEXT.md
  flake.nix
  nix/buildIdris.nix
  nix/package.nix
  nix/templates/pkg/flake.nix
  nix/templates/pkgWithDeps/flake.nix
  nix/test.nix
Labels: admin: packaging, os: nix

#3189 Make NodeJS backend's output file executable
  CHANGELOG_NEXT.md
  src/Compiler/ES/Node.idr
  tests/node/executable/TestExecutable.idr
  tests/node/executable/expected
  tests/node/executable/run
Labels: backend: javascript

#3188 Fix executable output of buildIdris nix helper
  CHANGELOG_NEXT.md
  flake.nix
  nix/buildIdris.nix
Labels: admin: installation, os: nix

#3176 - [RefC] delete unnecessary conversion to keep code simply.
  src/Compiler/RefC/RefC.idr
  support/refc/prim.c
  support/refc/prim.h
  tests/refc/prims/Test.idr
  tests/refc/prims/expected
  tests/refc/prims/run
Labels: backend: refc

#3186 [ fix ] Disable top-level constants optimisation during incremental compilation
  src/Compiler/Scheme/Chez.idr
Labels: implem: incremental compilation

#3190 Remove use of deprecated `getByte` function
  CHANGELOG_NEXT.md
  libs/base/Data/Buffer.idr
  libs/contrib/Debug/Buffer.idr
  src/Libraries/Utils/Binary.idr
  tests/chez/chez004/Buffer.idr
  tests/node/node004/Buffer.idr
  tests/refc/buffer/TestBuffer.idr
Labels: library: base

#3194 [ fix ] Exponentially reduce memory consumption for elab scripts running
  libs/base/Language/Reflection.idr
  src/TTImp/Elab/RunElab.idr
  tests/idris2/reflection/reflection008/Interp.idr
  tests/idris2/reflection/reflection008/expected
  tests/idris2/reflection/reflection008/input
Labels: enhancement, performance, language: reflection
