Repository idris-lang/Idris2, pull requests merged in 2024-06, with the labels that each got.

#3299 [ new ] Data.SnocList.HasLength from compiler libs
  libs/base/Data/Singleton.idr
  libs/base/Data/SnocList/HasLength.idr
  libs/base/base.ipkg
Labels: library: base

#3294 [ new ] System.Concurrency.(Linear/Session)
  libs/base/Data/Bool/Decidable.idr
  libs/base/Data/List/AtIndex.idr
  libs/base/Data/Nat/Order/Properties.idr
  libs/base/Data/OpenUnion.idr
  libs/base/Data/Void.idr
  libs/base/Syntax/WithProof.idr
  libs/base/base.ipkg
  libs/contrib/contrib.ipkg
  libs/linear/Control/Linear/LIO.idr
  libs/linear/System/Concurrency/Linear.idr
  libs/linear/System/Concurrency/Session.idr
  libs/linear/linear.ipkg
  libs/papers/papers.ipkg
  tests/Main.idr
  tests/linear/system_concurrency_session/Main.idr
  tests/linear/system_concurrency_session/expected
  tests/linear/system_concurrency_session/run
Labels: library: base, library: linear

#2631 [ fix ] Fix `Show` of `TTImp` for functions with `with` clauses
  CHANGELOG_NEXT.md
  src/Idris/Desugar.idr
  src/Idris/Elab/Implementation.idr
  src/Idris/Parser.idr
  src/Idris/Syntax.idr
  src/TTImp/Impossible.idr
  src/TTImp/Interactive/CaseSplit.idr
  src/TTImp/Interactive/GenerateDef.idr
  src/TTImp/WithClause.idr
  tests/base/ttimp_show001/expected
  tests/base/ttimp_show001/input
  tests/base/ttimp_show001/run
Labels: status: confirmed bug, language: with, implem: unelaboration

#3318 List packages improvements
  CHANGELOG_NEXT.md
  flake.nix
  src/Idris/SetOptions.idr
Labels: enhancement, language: packaging

#3319 [ fix #72 ] remove the broken modules
  CHANGELOG_NEXT.md
  libs/contrib/Control/Algebra.idr
  libs/contrib/Control/Algebra/Implementations.idr
  libs/contrib/Control/Algebra/Laws.idr
  libs/contrib/Control/Monad/Algebra.idr
  libs/contrib/Data/Bool/Algebra.idr
  libs/contrib/Data/List/Algebra.idr
  libs/contrib/Data/Morphisms/Algebra.idr
  libs/contrib/Data/Nat/Algebra.idr
  libs/contrib/contrib.ipkg
Labels: library: contrib, code: cleanup

#3315 Emit error when unbound fixity is hidden
  src/Core/Context.idr
  src/Core/Core.idr
  src/Core/Name.idr
  src/Idris/Desugar.idr
  src/Idris/Error.idr
  src/Idris/Syntax.idr
  src/Libraries/Utils/Shunting.idr
  tests/idris2/operators/operators011/Module.idr
  tests/idris2/operators/operators011/Test.idr
  tests/idris2/operators/operators011/Test1.idr
  tests/idris2/operators/operators011/Test2.idr
  tests/idris2/operators/operators011/Test3.idr
  tests/idris2/operators/operators011/Test4.idr
  tests/idris2/operators/operators011/expected
  tests/idris2/operators/operators011/run
Labels: language: fixity

#3320 [ re #3314, #34 ] Tighten the location information for implicits
  src/TTImp/Elab/App.idr
  src/TTImp/Elab/Check.idr
  src/TTImp/Elab/ImplicitBind.idr
  src/TTImp/Elab/Term.idr
  tests/idris2/error/error028/expected
  tests/idris2/error/error029/Issue34.idr
  tests/idris2/error/error029/expected
  tests/idris2/error/error029/run
  tests/idris2/interactive/interactive042/expected
  tests/idris2/interface/interface016/expected
Labels: language: auto-implicit, language: implicit, error: reporting

#3331 [ perf ] Use alternative better GC on chez
  CHANGELOG_NEXT.md
  src/Compiler/Scheme/Chez.idr
  src/Compiler/Scheme/ChezSep.idr
Labels: performance, backend: chez

#3325 idris_signal: fix static_assert
  support/c/idris_signal.c
Labels: library: base

#3321 Add JSON manipulation functions
  libs/contrib/Language/JSON/Data.idr
  tests/contrib/json_004/JSON.idr
  tests/contrib/json_004/expected
  tests/contrib/json_004/run
Labels: library: contrib

#3330 Nix `buildIdris` improvement: precisely target executable
  nix/buildIdris.nix
  nix/package.nix
  nix/support.nix
Labels: admin: packaging, os: nix

#3333 [nix] allow `buildIdris` output to be used as a dependency in other `buildIdris` calls more directly
  flake.lock
  nix/buildIdris.nix
Labels: os: nix
