Repository idris-lang/Idris2, pull requests merged in 2024-03, with the labels that each got.

#3214 [fix] Package Search Paths
  CHANGELOG_NEXT.md
  src/Core/Context.idr
  src/Core/Options.idr
  src/Idris/Driver.idr
  src/Idris/REPL.idr
  src/Idris/SetOptions.idr
  tests/testutils.sh
Labels: language: packaging

#3238 [ test ] Add issue#1988 to the test suite
  tests/idris2/total/total024/Issue1988.idr
  tests/idris2/total/total024/expected
  tests/idris2/total/total024/run
Labels: enhancement, safety: totality, library: test

#3191 Complete the relocation of contrib HVect into base as All
  CHANGELOG_NEXT.md
  libs/base/Data/Vect/Quantifiers.idr
  libs/contrib/Data/Fun/Extra.idr
  libs/contrib/Data/HVect.idr
  libs/contrib/Data/Rel/Complement.idr
  libs/contrib/Decidable/Decidable/Extra.idr
  libs/contrib/contrib.ipkg
Labels: library: base, library: contrib

#3181 [RefC] Unbox small integers.
  CHANGELOG_NEXT.md
  config.mk
  src/Compiler/ANF.idr
  src/Compiler/RefC/RefC.idr
  support/c/idris_file.c
  support/c/idris_support.c
  support/refc/_datatypes.h
  support/refc/casts.c
  support/refc/casts.h
  support/refc/clock.c
  support/refc/mathFunctions.c
  support/refc/mathFunctions.h
  support/refc/memoryManagement.c
  support/refc/memoryManagement.h
  support/refc/prim.c
  support/refc/prim.h
  support/refc/runtime.c
  support/refc/runtime.h
  support/refc/stringOps.c
  support/refc/stringOps.h
  tests/refc/basicpatternmatch/Main.idr
  tests/refc/basicpatternmatch/expected
  tests/refc/callingConvention/expected
  tests/refc/callingConvention/run
  tests/refc/reuse/expected
Labels: backend: refc

#3239 [ prelude ] `the` is linear in its input
  libs/prelude/Prelude/Basics.idr
  tests/prelude/char001/chars.idr
  tests/prelude/nat001/nats.idr
Labels: status: confirmed bug, library: prelude
