Repository idris-lang/Idris2, pull requests merged in 2024-02, with the labels that each got.

#2989 Implement Precise Reference Counting for C backend
  CHANGELOG_NEXT.md
  CONTRIBUTORS
  src/Compiler/ANF.idr
  src/Compiler/RefC/RefC.idr
  src/Libraries/Data/SortedSet.idr
  support/refc/memoryManagement.c
  support/refc/prim.c
  support/refc/runtime.c
  support/refc/runtime.h
  support/refc/stringOps.c
  tests/refc/callingConvention/expected
  tests/refc/garbageCollect/expected
  tests/refc/garbageCollect/run
  tests/refc/reuse/Main.idr
  tests/refc/reuse/expected
  tests/refc/reuse/run
Labels: enhancement, backend: refc

#3215 [new] Nix dev shell to the flake
  flake.nix
Labels: os: nix

#3210 [RefC] [Cleanup] erase ReturnStatement
  src/Compiler/RefC/RefC.idr
  tests/refc/callingConvention/expected
  tests/refc/garbageCollect/run
  tests/refc/reuse/expected
  tests/testutils.sh
Labels: backend: refc

#3206 [RefC] [Cleanup] Erase trivial constructors; Stop copying constructor name.
  CHANGELOG_NEXT.md
  src/Compiler/RefC/RefC.idr
  support/refc/_datatypes.h
  support/refc/memoryManagement.c
  support/refc/memoryManagement.h
  support/refc/prim.c
  support/refc/prim.h
  support/refc/runtime.c
  support/refc/stringOps.c
  tests/refc/basicpatternmatch/Main.idr
  tests/refc/basicpatternmatch/expected
  tests/refc/callingConvention/expected
  tests/refc/reuse/expected
  tests/refc/reuse/run
Labels: backend: refc

#3216 [new] zsh completion script
  INSTALL.md
  src/Idris/CommandLine.idr
  src/Idris/SetOptions.idr
Labels: enhancement, cli: autocompletion
